In [2]:
import pandas as pd
import sqlite3
import locale
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')

'en_US.UTF-8'

# Reddit news

In [ ]:
import string
string.punctuation

In [ ]:
kolonas = ['date']+['top'+str(i) for i in range(1,31)]
print(kolonas)

In [ ]:
df = pd.DataFrame(columns = kolonas)

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

In [ ]:
sql = ("Select date(moment) as date, title from top30 where date = '2021-05-05'")
z = pd.read_sql_query(sql,connection)

In [ ]:
for d in z.date.unique():
    atbilde =[]
    atbilde.append(d)
    #print(atbilde)
    for title in z.title[z.date == d]:
        atbilde.append(title)
        
    df.loc[len(df)] = atbilde

In [ ]:
df.to_sql('main', connection, if_exists='append',index=False)

In [ ]:
atbilde = []
atbilde.append(z.date[0])
#print(atbilde)

for title in z.title:
    atbilde.append(title)
        
print(atbilde)
df.loc[len(df)] = atbilde

# delete

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("DELETE from top30 where moment  between '2021-03-30 11:17:11.915369' and '2021-03-30 11:18:48.647641'")
cursor.execute(sql)
connection.commit()

# Yahoo finance

In [2]:
from bs4 import BeautifulSoup
import requests
import re

In [ ]:
df = pd.DataFrame(columns = ['date','SP500_Open', 'SP500_High', 'SP500_Low', 'SP500_Close', 'SP500_Adj_Close', 'SP500_Volume'])
df

In [ ]:
str([str('SP500_')+i for i in df.columns])

## S&P 500 (^GSPC)
SNP - SNP Real Time Price. Currency in USD

In [ ]:
url = "https://finance.yahoo.com/quote/%5EGSPC/history?p=%5EGSPC"

In [ ]:
r = requests.get(url)
data = r.text
soup = BeautifulSoup(data)

In [ ]:
answer = []
for i in soup.find_all('td')[0:7]:
    #print(i.span)
    print(i.span.text)
    answer.append(i.span.text)
    #print(len(answer)

for i in range(0, int(len(answer))//7):
    atbilde = []
    #print(i)
    for j in range (0,7):
        if j == 0:
            atbilde.append(pd.to_datetime(answer[i*7+j], infer_datetime_format=True))
        else:
            atbilde.append(answer[i*7+j])
    df.loc[len(df)] = atbilde

In [14]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select date(moment) as date, title from ER20210521")
z = pd.read_sql_query(sql,connection)
print(z)


atbilde = []
columnnames = "'date', 'top1', 'top2', 'top3', 'top4', 'top5', 'top6', 'top7', 'top8', 'top9', 'top10', 'top11', 'top12', 'top13', 'top14', 'top15', 'top16', 'top17', 'top18', 'top19', 'top20', 'top21', 'top22', 'top23', 'top24', 'top25', 'top26', 'top27', 'top28', 'top29', top30"
insertintotable = '?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?'
atbilde = [z.date[0]] +[i for i in  z.title]

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql2 = f'cursor.execute("insert INTO  main ({columnnames}) VALUES ({insertintotable})", {atbilde})'
eval(sql2)
connection.commit()
connection.close()
print("Appended to MAIN")

          date                                              title
0   2021-05-21  Palestinian Head of internal medicine of main ...
1   2021-05-21   UK government backs Israel’s bombardment of Gaza
2   2021-05-21  Israeli media: Cabinet approves cease-fire in ...
3   2021-05-21  Lithuanian parliament passes resolution condem...
4   2021-05-21  Samoa to scrap China-backed port project under...
5   2021-05-21  Boko Haram leader either dead or seriously wou...
6   2021-05-21  Almost 40% of young people are waiting too lon...
7   2021-05-21  We will pursue you for life, Hong Kong warns w...
8   2021-05-21  France's top court rejects move to restrict im...
9   2021-05-21  Iran’s downing of Flight 752 was intentional a...
10  2021-05-21  After black fungus, white fungus infection cas...
11  2021-05-21  Not falling behind anymore: Canada to surpass ...
12  2021-05-21  Zelenskiy: Russian passports in Donbass are a ...
13  2021-05-21  Erdogan sues rival for comparing his attempt t...
14  2021-05-21  Stench of death pervades rural India as Ganges...
15  2021-05-21  Israel shot down armed Iranian drone - Netanyahu.
16  2021-05-21  Italy: Police seize Nazi flags in raids on whi...
17  2021-05-21  Russia: Navalny 'recovered' after hunger strik...
18  2021-05-21  Two new species of “ancient plants” have just ...
19  2021-05-21  Spain passes climate bill banning new oil, gas...
20  2021-05-21  World's largest iceberg breaks off of Antarcti...
21  2021-05-21  Settlers deforesting Colombian national parks ...
22  2021-05-21  Nigeria's Boko Haram leader 'badly wounded' du...
23  2021-05-21  Japan ready to freeze all Myanmar development ...
24  2021-05-21  Based on imagery analysis, North Korea seems t...
25  2021-05-21  A New, Infectious Coronavirus Is Detected In M...
26  2021-05-21  Democratic Party leader Song Young-gil critici...
27  2021-05-21  Apple employees call for company to support Pa...
28  2021-05-21  German soldier who posed as refugee on trial f...
29  2021-05-21  Hamas welcomes rockets from Lebanon, Syria tow...
Appended to MAIN

In [11]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from main")
z = pd.read_sql_query(sql,connection)
z

,date,top1,top2,top3,top4,top5,top6,top7,top8,top9,...,top21,top22,top23,top24,top25,top26,top27,top28,top29,top30
0,2021-01-01,Women should decide whether to legalize aborti...,NATO is furious at Trump delaying the military...,Antibiotics banned in UK but fed to US animals...,Iran accuses Trump of 'plot to fabricate prete...,Extinct woolly rhinoceros found frozen in Sibe...,New COVID-19 strain spreading faster than all ...,Canadian politician faked Twitter posts to con...,"Iran says Trump's life 'will end,' won't stop ...",China allegedly paid non-state actors to kill ...,...,Vatican denies knowledge of $1.8 billion trans...,U.S. demands release of Uighur doctor who fami...,Countries that have managed to reduce transmis...,SolarWinds hackers accessed Microsoft source code,Hospital worker deliberately destroys 570 dose...,China Is Making It Harder To Solve The Mystery...,Iran's Zarif says U.S. plotting to fabricate w...,Australia changes national anthem to reflect i...,Caribbean volcanoes rumble to life as scientis...,China marks the New Year with a victory speech...
1,2021-01-02,"Crowds throng Wuhan, where coronavirus pandemi...",Apple knew a supplier was using child labor bu...,China is guarding ancient bat caves against jo...,"Brexit a product of ‘lies and false promises’,...",Indian Govt proposes to buy bulk subscriptions...,"We will be back soon, Scotland's first ministe...",Prime Minister Imran Khan announced his two ne...,Two dormant volcanoes on Martinique and St. Vi...,"Some 2,500 partygoers attended an illegal New ...",...,Puerto Rico commits $8 million to clean-up deb...,"As 2021 dawns, Israel becomes first country to...",Fresh fears for Tokyo Olympics as host city se...,Iran intends to start enriching uranium to 20%...,Pakistan regional gov’t to fund construction o...,'Exceptionally draining': US medics shattered ...,U.S. foreign military sales broke records in 2...,"Cuban school teachers, journalists, lion tamer...",BBC News - Australia-China row: 'I'm Australia...,"Australia-China row: ""I'm Australian - why do ..."
2,2021-01-03,"Amid Warnings of Surging Worldwide Poverty, Pl...",Covid wards 'full of children' for first time ...,Kazakhstan abolishes death penalty,Growing list of Canadian politicians caught tr...,Two trans women win election in historic momen...,Quantum Teleportation Was Just Achieved With 9...,Beijing rejects Taiwanese president’s offer to...,Turkish Scientists say they've made a 10-secon...,'Always afraid': Iran's largest religious mino...,...,Germany’s drive for EU-China deal draws critic...,"Serbia opens pipeline for Russian gas, ignorin...",‘We don't need a world where China becomes ano...,Palestinian Young Man Paralyzed after Israeli ...,"Bezos, Musk Smash Records as World’s Richest A...",Tesco and Pizza Hut 'shamed' for not paying th...,Bolsonaro Criticizes The Decision in Argentina...,Chinese agriculture experts help boost crop yi...,US imposes new sanctions to kill off Putin’s p...,At least 70 killed in suspected Islamist attac...
3,2021-01-04,Chinese tech billionaire Jack Ma was removed f...,Organic meats found to have approximately the ...,German police raid church service with over 10...,Palestinians excluded from Israeli Covid vacci...,Teachers in England ‘scared’ and ‘frustrated’ ...,Protestors gather outside Dublin police statio...,London hospitals to halt cancer surgeries due ...,Pope condemns travelling abroad to escape coro...,"Richest 1% have almost a quarter of UK wealth,...",...,"NZ crayfish in hot demand in China, selling fo...",Israeli soldier shoots and paralyzes Palestini...,Moscow metro hires first female train drivers ...,China reports 24 new COVID-19 cases vs. 22 a d...,Israel dismisses 'nonsense' Iran charge it see...,Rendering of Korea's first aircraft carrier re...,ASIO red-flags Chinese businessman and Liberal...,"Covid police raid Canadian home, violently arr...",Lab leak is the 'most credible' source of the ...,[Japan] Male-only rule should be prioritized i...
4,2021-01-05,"Julian Assange cannot be extradited to US, Bri...","Scotland announces full lockdown, closing scho...",South Korea recorded more deaths than births i...,Scottish National Party MP Margaret Ferrier ha...,England Enters National Lockdown in wake New C...,British expats 'barred from boarding flight to...,Canada's top-paid CEOs raked in average worker...,Iran resumes enriching uranium to 20%,North Korea requests Covid vaccine after month...,...,Colchester Hospital: Covid deniers removed fro...,"Julian Assange cannot be extradited to US, Bri...",Iran says it has seized South Korean tanker as...,Where is Jack Ma? Questions arise about the bi...,An unusually strong warm wave heads for the Ar...,Bali's beaches buried in tide of plastic rubbi...,Covid: Boris Johnson puts England into six-wee...,"As Jack Ma goes missing, video predicting he w...",The world’s largest solar plant has secured fi...,Pentagon: Carrier USS Nimitz Will Stay in Midd...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,2021-05-22,Iran shot down plane full of Canadians intenti...,Saudi Arabia plans to plant 10 billion trees i...,Germany bans male chick culling from 2022: The...,France gives all 18-year-olds €300 to spend on...,LSD 'rewinds' the brains functions and makes i...,CNN : Israeli forces in violent confrontations...,Toronto activists paint Israeli consulate step...,Owner of AP tower destroyed in Israeli airstri...,China says it will crack down on bit-coin mini...,...,Brazilian ex-presidents and longtime rivals Lu...,Former Canadian ambassador to Israel worked fo...,Blast kills several at pro-Palestine rally in ...,Richest nations agree to end support for coal ...,Four Ethiopian soldiers convicted of crimes ag...,Arctic Has Warmed Three Times Faster Than Eart...,‘Black fungus’ disease linked to Covid spreads...,Pentagon chief unable to talk to Chinese milit...,"Hamas' Haniyeh vows to destabilize Jerusalem, ...",Israel PM Benjamin Netanyahu threatens 'new le...
142,2021-05-23,Tens of thousands attend largest pro-Palestine...,Anti-Netanyahu protesters gathered outside the...,"Hundreds of Jews, Arabs gather to protest in S...","India tells social media firms to remove ""Indi...",Croatia: Court ruling paves way for same-sex c...,Climbing guide reports large COVID-19 outbreak...,COVID-19 deaths in Latin America surpass 1 mil...,Another 7 activists arrested on Vancouver Isla...,South African dockworkers refuse to offload Is...,...,"Polish government hits out at ""colonial"" EU co...",Climbing guide says Covid outbreak on Mount Ev...,Bolsonaro fined for breaking Covid-19 restrict...,"More than 125,000 Myanmar teachers suspended f...",UN urges ‘full adherence to ceasefire’ as life...,Albert Einstein letter with E=mc2 equation wri...,Virgin Galactic rocket plane flies to edge of ...,‘Disgraceful’: AP slammed for sacking reporter...,Yesh Atid to expedite legislation to curtail N...,At least 274 people - including 71 children - ...
143,2021-05-24,"Up to 40 bodies, mostly women, found buried on...",Irish parliament to vote on motion to expel Is...,Iraq estimates that $150 billion of its oil mo...,Black Lives Matter activist Sasha Johnson 'in ...,Wuhan Lab Staff Sought Hospital Care Before CO...,Belarus opposition says government forced Ryan...,The diversion of a flight between two EU count...,Eight dead after cable car falls in Italy,World's Largest Iceberg Breaks Off of Antarcti...,...,Iran says inspectors may no longer get nuclear...,France fears ‘apartheid’ in Israel if Palestin...,ISIS won’t get $7 million bounty placed on Bok...,‘A ticking time bomb’: Timor-Leste begins to r...,A gun battle erupted on Sunday between Myanmar...,Israeli officials 'regret' bombing Gaza AP bur...,Mount Everest Covid outbreak has infected 100 ...,India battles fatal fungal threat as virus dea...,Australian hoarder killed intruder and kept bo...,‘Tragic’ that just over 25M vaccine doses admi...
144,2021-05-21,Palestinian Head of internal medicine of main ...,UK government backs Israel’s bombardment of Gaza,Israeli media: Cabinet approves cease-fire in ...,Lithuanian parliament passes resolution condem...,Samoa to scrap China-backed port project under...,Boko Haram leader either dead or seriously wou...,Almost 40% of young people are waiting too lon...,"We will pursue you for life, Hong Kong warns w...",France's top court rejects move to restrict im...,...,World's largest iceberg breaks off of Antarcti...,Settlers deforesting Colombian national parks ...,Nigeria's Boko Haram leader 'badly wounded' du...,Japan ready to freeze all Myanmar development ...,"Based on imagery analysis, North Korea seems t...","A New, Infectious Coronavirus Is Detected In M...",Democratic Party leader Song Young-gil critici...,Apple employees call for company to support Pa...,German soldier who posed as refugee on trial f...,"Hamas welcomes rockets from Lebanon, Syria tow..."
145,2021-05-21,Palestinian Head of internal medicine of main ...,UK government backs Israel’s bombardment of Gaza,Israeli media: Cabinet approves cease-fire in ...,Lithuanian parliament passes resolution condem...,Samoa to scrap China-backed port project under...,Boko Haram leader either dead or seriously wou...,Almost 40% of young people are waiting too lon...,"We will pursue you for life, Hong Kong warns w...",France's top court rejects move to restrict im...,...,World's largest iceberg breaks off of Antarcti...,Settlers deforesting Colombian national parks ...,Nigeria's Boko Haram leader 'badly wounded' du...,Japan ready to freeze all Myanmar development ...,"Based on imagery analysis, North Korea seems t...","A New, Infectious Coronavirus Is Detected In M...",Democratic Party leader Song Young-gil critici...,Apple employees call for company to support Pa...,German soldier who posed as refugee on trial f...,"Hamas welcomes rockets from Lebanon, Syria tow..."

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from DJI")
z = pd.read_sql_query(sql,connection).columns
z

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select max(date) as date from SP500")
z = pd.read_sql_query(sql,connection)
latest_date = z.date[0]

##SP500
url = "https://finance.yahoo.com/quote/%5EGSPC/history?p=%5EGSPC"
r = requests.get(url)
data = r.text
soup = BeautifulSoup(data)

answer = []
if str(pd.to_datetime(soup.find_all('td')[0].text, infer_datetime_format=True)) == latest_date:
    print('Stop. This data point is already in the data base')
else:
    print('Lets get scraping')
    answer.append(str(pd.to_datetime(soup.find_all('td')[0].text, infer_datetime_format=True)))
    answer = answer + [i.span.text for i in soup.find_all('td')[1:7]]
    
    columnnames = "'Date', 'SP500_Open', 'SP500_High', 'SP500_Low', 'SP500_Close','SP500_Adj_Close', 'SP500_Volume'"
    insertintotable = '?,?,?,?,?,?,?'
    
    connection = sqlite3.connect('MSC/MSC.db')
    cursor = connection.cursor()
    sql2 = f'cursor.execute("insert INTO  SP500 ({columnnames}) VALUES ({insertintotable})", {answer})'
    eval(sql2)
    connection.commit()
    connection.close()
    print(f"{answer[0]} appended to SP500")
    
    
    ## DJI
    url = "https://finance.yahoo.com/quote/%5EDJI/history?p=%5EDJI"
    r = requests.get(url)
    data = r.text
    soup = BeautifulSoup(data)
    
    answer = []
    answer.append(str(pd.to_datetime(soup.find_all('td')[0].text, infer_datetime_format=True)))
    answer = answer + [i.span.text for i in soup.find_all('td')[1:7]]
    
    columnnames = "'date', 'SP500_Open', 'SP500_High', 'SP500_Low', 'SP500_Close','SP500_Adj_Close', 'SP500_Volume'"
    insertintotable = '?,?,?,?,?,?,?'
    
    connection = sqlite3.connect('MSC/MSC.db')
    cursor = connection.cursor()
    sql2 = f'cursor.execute("insert INTO  SP500 ({columnnames}) VALUES ({insertintotable})", {answer})'
    eval(sql2)
    connection.commit()
    connection.close()
    print(f"{answer[0]} appended to DJI")
    
    
answer

In [ ]:
df.to_sql('SP500', connection, if_exists='append',index=False)

## Dow Jones Industrial Average (^DJI)
DJI - DJI Real Time Price. Currency in USD

In [ ]:
url = "https://finance.yahoo.com/quote/%5EDJI/history?p=%5EDJI"

In [ ]:
df = pd.DataFrame(columns = ['date', 'DJI_Open', 'DJI_High', 'DJI_Low', 'DJI_Close', 'DJI_Adj_Close', 'DJI_Volume'])
df

In [ ]:
columns_new = [str('DJI_')+i for i in df.columns]

In [ ]:
r = requests.get(url)
data = r.text
soup = BeautifulSoup(data)

In [ ]:
answer = []
for i in soup.find_all('td'):
    #print(i.span)
    #print(i.span.text)
    answer.append(i.span.text)
    #print(len(answer)

In [ ]:
for i in range(0, int(len(answer))//7):
    atbilde = []
    #print(i)
    for j in range (0,7):
        if j == 0:
            atbilde.append(pd.to_datetime(answer[i*7+j], infer_datetime_format=True))
        else:
            atbilde.append(answer[i*7+j])
    df.loc[len(df)] = atbilde

In [ ]:
df

In [ ]:
df.to_sql('DJI', connection, if_exists='append',index=False)

# SP500 companies

In [2]:
from bs4 import BeautifulSoup
import requests
import re

df = pd.read_excel('SP500.xlsx')

In [4]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from SP500_companies")
df = pd.read_sql_query(sql,connection)
df.head()

                 Company Symbol    Weight
0             Apple Inc.   AAPL  5.664493
1  Microsoft Corporation   MSFT  5.264839
2        Amazon.com Inc.   AMZN  3.886738
3  Facebook Inc. Class A     FB  2.109076
4  Alphabet Inc. Class A  GOOGL  1.925453

## Wikipedia

In [1]:
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

In [4]:
r = requests.get(url)
data = r.text
soup = BeautifulSoup(data)

In [9]:
answer = []
for i in soup.find_all('td')[0:7]:
    print(i)

<td><a class="external text" href="https://www.nyse.com/quote/XNYS:MMM" rel="nofollow">MMM</a>
</td>
<td><a href="/wiki/3M" title="3M">3M Company</a></td>
<td><a class="external text" href="https://www.sec.gov/cgi-bin/browse-edgar?CIK=MMM&amp;action=getcompany" rel="nofollow">reports</a></td>
<td>Industrials</td>
<td>Industrial Conglomerates</td>
<td><a class="mw-redirect" href="/wiki/St._Paul,_Minnesota" title="St. Paul, Minnesota">St. Paul, Minnesota</a></td>
<td>1976-08-09</td>

In [28]:
for i in soup.find_all('tr'):
    for j in i.find_all('th'):
        print(j)

<th><a href="/wiki/Ticker_symbol" title="Ticker symbol">Symbol</a>
</th>
<th>Security</th>
<th><a href="/wiki/SEC_filing" title="SEC filing">SEC filings</a></th>
<th><a href="/wiki/Global_Industry_Classification_Standard" title="Global Industry Classification Standard">GICS</a> Sector</th>
<th>GICS Sub-Industry</th>
<th>Headquarters Location</th>
<th>Date first added</th>
<th><a href="/wiki/Central_Index_Key" title="Central Index Key">CIK</a></th>
<th>Founded
</th>
<th data-sort-type="date" rowspan="2">Date
</th>
<th colspan="2">Added
</th>
<th colspan="2">Removed
</th>
<th rowspan="2">Reason
</th>
<th>Ticker</th>
<th>Security</th>
<th>Ticker</th>
<th>Security
</th>

In [40]:
import wikipedia as wp
def get_table(title, filename, match, use_cache=False):

    if use_cache and os.path.isfile(filename):
        pass
    else:
        html = wp.page(title).html()
        df = pd.read_html(html, header=0, match=match)[0]
        
        df.to_csv(filename, header=True, index=False, encoding='utf-8')
            
    df = pd.read_csv(filename)
    return df

In [42]:
#title = 'List of S&P 500 companies'
title = 'Selected changes to the list of S&P 500 components'
filename = 'sp500.csv'
sp500 = get_table(title, filename, match='Symbol')

from datetime import datetime
now = datetime.now()
dt_string = now.strftime("%m/%d/%Y %H:%M:%S")
print('{} (retrieved {})'.format(title, dt_string))
sp500

Selected changes to the list of S&P 500 components (retrieved 05/20/2021 17:53:33)

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",1976-08-09,66740,1902
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
2,ABBV,AbbVie Inc.,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
3,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
4,ACN,Accenture,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...,...
500,YUM,Yum! Brands Inc,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
501,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
502,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
503,ZION,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [48]:
#html = 
#wp.page(title).html()
#df = 
pd.read_html(html)[1]

                 Date  Added                             Removed  \
                 Date Ticker                    Security  Ticker
0        May 14, 2021    CRL  Charles River Laboratories    FLIR
1      April 20, 2021    PTC                     PTC Inc     VAR
2      March 22, 2021   NXPI          NXP Semiconductors     FLS
3      March 22, 2021   PENN        Penn National Gaming     SLG
4      March 22, 2021   GNRC            Generac Holdings     XRX
..                ...    ...                         ...     ...
266  December 5, 2000    SBL         Symbol Technologies      OI
267  December 5, 2000    AYE            Allegheny Energy     GRA
268  December 5, 2000    ABK             Ambac Financial     CCK
269     July 27, 2000   JDSU                JDS Uniphase     RAD
270  December 7, 1999   YHOO                      Yahoo!     LDW

                                                                        Reason
                   Security                                             Reason
0              FLIR Systems  S&P 500 constituent Teledyne Technologies Inc....
1    Varian Medical Systems  Siemens Healthineers AG acquired Varian Medica...
2                 Flowserve                   Market capitalization change.[8]
3           SL Green Realty                   Market capitalization change.[8]
4                     Xerox                   Market capitalization change.[8]
..                      ...                                                ...
266          Owens-Illinois                                Market Cap changes.
267              W.R. Grace                                Market Cap changes.
268          Crown Holdings                                Market Cap changes.
269                 RiteAid                            Market Cap change.[212]
270                 Laidlaw                            Market Cap change.[213]

[271 rows x 6 columns]

In [37]:
sp500.to_csv("SP500.csv")

### Insert DJI and SP500 in the same table
### One less step in ETL

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

columnnames = "'Company', 'Symbol', 'Weight'"
insertintotable = '?,?,?'

answer = ['Dow Jones Industrial Average', '^DJI', '100']
sql2 = f'cursor.execute("insert INTO  SP500_companies ({columnnames}) VALUES ({insertintotable})", {answer})'
eval(sql2)
connection.commit()
connection.close()

In [ ]:
columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'

for i in df.Symbol[490:]:
    r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    print(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    data = r.text
    soup = BeautifulSoup(data, features="lxml")
    ofset = 0
    for j in range(0, int(len(soup.find_all('td')))//7):  
        #if type(soup.find_all('td')[j*7+1+ofset].span.text) != int and type(soup.find_all('td')[j*7+1+ofset].span.text) != float:
        if soup.find_all('td')[j*7+1+ofset].span.text == "Dividend" or soup.find_all('td')[j*7+1+ofset].span.text == "Stock Split":
            ofset += 2
        try:
            answer = []
            answer.append(str(pd.to_datetime(soup.find_all('td')[j*7+ofset].text, infer_datetime_format=True)))
            answer = answer + [i.span.text for i in soup.find_all('td')[j*7+1+ofset:j*7+7+ofset]] + [i]
        except:
            answer = []
            ofset += 2
        print(answer)
        connection = sqlite3.connect('MSC.db')
        cursor = connection.cursor()
        sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
        eval(sql2)
        connection.commit()
        connection.close()

In [ ]:
#for symbol in df
no_financials = "'BRK.B', 'BF.B', 'FLIR'"

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ('''
Select symbol from SP500_companies 
where symbol not in (select distinct symbol from prices where date == '2021-05-19 00:00:00')
and  symbol not in ('BRK.B', 'BF.B', 'FLIR')'''
    )
df = pd.read_sql_query(sql,connection)

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from prices where date ")
z = pd.read_sql_query(sql,connection)
connection.commit()
connection.close()

columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'

for i in df.Symbol[2:]:
    r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    print(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    data = r.text
    soup = BeautifulSoup(data, features="lxml")
    counter = 0
    for j in range (0, 4):
        if soup.find_all('td')[1+j*7].span != None and pd.to_datetime(soup.find_all('td')[j*7].text, infer_datetime_format=True) > pd.to_datetime(z.date[z.symbol == i].iloc[0]) and counter == 0:
            try:
                answer = []
                answer.append(str(pd.to_datetime(soup.find_all('td')[j*7].text, infer_datetime_format=True)))
                answer = answer + [i.span.text for i in soup.find_all('td')[j*7+1: j*7+7]] + [i]
                print(answer)

                connection = sqlite3.connect('MSC.db')
                cursor = connection.cursor()
                sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
                eval(sql2)
                connection.commit()
                connection.close()
                counter +=1
            except:pass        
        else:pass

In [5]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('''Select distinct symbol, count(symbol) over(partition by symbol) as count from prices
order by count

       ''')
z =pd.read_sql_query(sql,connection)
z

In [ ]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('''Select * from sp500_companies

       ''')
z =pd.read_sql_query(sql,connection)
z

In [6]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('''Select sp500_companies.symbol, company from sp500_companies
          WHERE sp500_companies.Symbol NOT IN
        (Select symbol from  prices)

       ''')
z =pd.read_sql_query(sql,connection)
z

  Symbol                           Company
0  BRK.B   Berkshire Hathaway Inc. Class B
1   BF.B  Brown-Forman Corporation Class B
2   FLIR                 FLIR Systems Inc.

In [ ]:
# Flir 0 love

In [7]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ('''
Select symbol from SP500_companies 
where symbol not in (select distinct symbol from prices where date == '2021-05-19 00:00:00')
and  symbol not in ('BRK.B', 'BF.B', 'FLIR')'''
    )
df = pd.read_sql_query(sql,connection)
df

    Symbol
0     AAPL
1     MSFT
2      RTX
3       GS
4       BA
..     ...
440    UAA
441     UA
442    NWS
443  ^GSPC
444   ^DJI

[445 rows x 1 columns]

# Merge

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

sql = ('''Select 
            main.date,
            top1,top2,top3,top4,top5,
            top6,top7,top8,top9,top10,
            top11,top12,top13,top14,top15,
            top16,top17,top18,top19,top20,
            top21,top22,top23,top24,top25,
            top26,top27,top28,top29,top30,
            
            DJI_Open,
            DJI_High,
            DJI_Low,
            DJI_Close,
            DJI_Adj_Close,
            
            SP500_Open,
            SP500_High,
            SP500_Low,
            SP500_Close,
            SP500_Adj_Close

            from main
            left join DJI on
            main.date = date(DJI.Date)
            left join SP500 on
            main.date = date(SP500.Date)
            
            where DJI_Open not NULL
            order by main.date

       ''')
df = pd.read_sql_query(sql,connection)
df.tail()

## Fix this

In [12]:
import datetime

import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [99]:
#for symbol in df
no_financials = "'BRK.B', 'BF.B', 'FLIR'"


thisday = datetime.date.today().strftime('%Y%m%d')
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = (f'''
Select symbol from SP500_companies 
where symbol not in (select distinct symbol from prices where date(date) == {thisday})
and  symbol not in ('BRK.B', 'BF.B', 'FLIR')'''
    )
df = pd.read_sql_query(sql,connection)

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from prices order by date desc")
z = pd.read_sql_query(sql,connection)
connection.commit()
connection.close()

columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'

In [130]:
#for symbol in df
no_financials = "'BRK.B', 'BF.B', 'FLIR'"


thisday = (datetime.datetime.now() - datetime.timedelta(days=1)).strftime('%Y-%m-%d')
print(thisday)
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = (f'''
Select symbol from SP500_companies 
where symbol not in (select distinct symbol from prices where date == "2021-05-19 00:00:00")
and  symbol not in ('BRK.B', 'BF.B', 'FLIR')'''
    )
df = pd.read_sql_query(sql,connection)

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from prices order by date desc")
z = pd.read_sql_query(sql,connection)
connection.commit()
connection.close()

columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'

for i in df.Symbol[:2]:
    r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    print(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    data = r.text
    soup = BeautifulSoup(data, features="lxml")
    
    for j in range (0, len(soup.find_all('td'))):
        try:
            if (type(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)) == pd._libs.tslibs.timestamps.Timestamp) == True and isinstance(locale.atof(soup.find_all('td')[j+1].text), (int, float, complex)) == True and pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True) > pd.to_datetime(z.date[z.symbol == i].iloc[0]):
                print(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True))
                answer = []
                answer.append(str(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)))
                answer = answer + [i.span.text for i in soup.find_all('td')[j+1: j+7]] + [i]
                print(answer)

                connection = sqlite3.connect('MSC.db')
                cursor = connection.cursor()
                sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
                eval(sql2)
                connection.commit()
                connection.close()

            else: pass
        except:pass

2021-05-19
https://finance.yahoo.com/quote/AMZN/history?p=AMZN
2021-05-19 00:00:00
['2021-05-19 00:00:00', '3,195.00', '3,234.75', '3,184.00', '3,231.80', '3,231.80', '2,675,900', 'AMZN']
https://finance.yahoo.com/quote/GOOGL/history?p=GOOGL
2021-05-19 00:00:00
['2021-05-19 00:00:00', '2,228.43', '2,274.99', '2,225.44', '2,271.50', '2,271.50', '1,182,300', 'GOOGL']