In [143]:
import pandas as pd
import sqlite3

# Reddit news

In [ ]:
import string
string.punctuation

In [ ]:
kolonas = ['date']+['top'+str(i) for i in range(1,31)]
print(kolonas)

In [ ]:
df = pd.DataFrame(columns = kolonas)

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

In [ ]:
sql = ("Select date(moment) as date, title from top30 where date = '2021-05-05'")
z = pd.read_sql_query(sql,connection)

In [ ]:
for d in z.date.unique():
    atbilde =[]
    atbilde.append(d)
    #print(atbilde)
    for title in z.title[z.date == d]:
        atbilde.append(title)
        
    df.loc[len(df)] = atbilde

In [ ]:
df.to_sql('main', connection, if_exists='append',index=False)

In [ ]:
atbilde = []
atbilde.append(z.date[0])
#print(atbilde)

for title in z.title:
    atbilde.append(title)
        
print(atbilde)
df.loc[len(df)] = atbilde

# delete

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("DELETE from top30 where moment  between '2021-03-30 11:17:11.915369' and '2021-03-30 11:18:48.647641'")
cursor.execute(sql)
connection.commit()

# Yahoo finance

In [144]:
from bs4 import BeautifulSoup
import requests
import re

In [ ]:
df = pd.DataFrame(columns = ['date','SP500_Open', 'SP500_High', 'SP500_Low', 'SP500_Close', 'SP500_Adj_Close', 'SP500_Volume'])
df

In [ ]:
str([str('SP500_')+i for i in df.columns])

## S&P 500 (^GSPC)
SNP - SNP Real Time Price. Currency in USD

In [ ]:
url = "https://finance.yahoo.com/quote/%5EGSPC/history?p=%5EGSPC"

In [ ]:
r = requests.get(url)
data = r.text
soup = BeautifulSoup(data)

In [ ]:
answer = []
for i in soup.find_all('td')[0:7]:
    #print(i.span)
    print(i.span.text)
    answer.append(i.span.text)
    #print(len(answer)

for i in range(0, int(len(answer))//7):
    atbilde = []
    #print(i)
    for j in range (0,7):
        if j == 0:
            atbilde.append(pd.to_datetime(answer[i*7+j], infer_datetime_format=True))
        else:
            atbilde.append(answer[i*7+j])
    df.loc[len(df)] = atbilde

In [ ]:
connection = sqlite3.connect('MSC/MSC.db')
cursor = connection.cursor()
sql = ("Select date(moment) as date, title from top30 where moment>date('now')")
z = pd.read_sql_query(sql,connection)

atbilde = []
columnnames = "'date', 'top1', 'top2', 'top3', 'top4', 'top5', 'top6', 'top7', 'top8', 'top9', 'top10', 'top11', 'top12', 'top13', 'top14', 'top15', 'top16', 'top17', 'top18', 'top19', 'top20', 'top21', 'top22', 'top23', 'top24', 'top25', 'top26', 'top27', 'top28', 'top29', top30"
insertintotable = '?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?'
atbilde = [z.date[0]] +[i for i in  z.title]

connection = sqlite3.connect('MSC/MSC.db')
cursor = connection.cursor()
sql2 = f'cursor.execute("insert INTO  main ({columnnames}) VALUES ({insertintotable})", {atbilde})'
eval(sql2)
connection.commit()
connection.close()
print("Appended to MAIN")

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from DJI")
z = pd.read_sql_query(sql,connection).columns
z

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select max(date) as date from SP500")
z = pd.read_sql_query(sql,connection)
latest_date = z.date[0]

##SP500
url = "https://finance.yahoo.com/quote/%5EGSPC/history?p=%5EGSPC"
r = requests.get(url)
data = r.text
soup = BeautifulSoup(data)

answer = []
if str(pd.to_datetime(soup.find_all('td')[0].text, infer_datetime_format=True)) == latest_date:
    print('Stop. This data point is already in the data base')
else:
    print('Lets get scraping')
    answer.append(str(pd.to_datetime(soup.find_all('td')[0].text, infer_datetime_format=True)))
    answer = answer + [i.span.text for i in soup.find_all('td')[1:7]]
    
    columnnames = "'Date', 'SP500_Open', 'SP500_High', 'SP500_Low', 'SP500_Close','SP500_Adj_Close', 'SP500_Volume'"
    insertintotable = '?,?,?,?,?,?,?'
    
    connection = sqlite3.connect('MSC/MSC.db')
    cursor = connection.cursor()
    sql2 = f'cursor.execute("insert INTO  SP500 ({columnnames}) VALUES ({insertintotable})", {answer})'
    eval(sql2)
    connection.commit()
    connection.close()
    print(f"{answer[0]} appended to SP500")
    
    
    ## DJI
    url = "https://finance.yahoo.com/quote/%5EDJI/history?p=%5EDJI"
    r = requests.get(url)
    data = r.text
    soup = BeautifulSoup(data)
    
    answer = []
    answer.append(str(pd.to_datetime(soup.find_all('td')[0].text, infer_datetime_format=True)))
    answer = answer + [i.span.text for i in soup.find_all('td')[1:7]]
    
    columnnames = "'date', 'SP500_Open', 'SP500_High', 'SP500_Low', 'SP500_Close','SP500_Adj_Close', 'SP500_Volume'"
    insertintotable = '?,?,?,?,?,?,?'
    
    connection = sqlite3.connect('MSC/MSC.db')
    cursor = connection.cursor()
    sql2 = f'cursor.execute("insert INTO  SP500 ({columnnames}) VALUES ({insertintotable})", {answer})'
    eval(sql2)
    connection.commit()
    connection.close()
    print(f"{answer[0]} appended to DJI")
    
    
answer

In [ ]:
df.to_sql('SP500', connection, if_exists='append',index=False)

## Dow Jones Industrial Average (^DJI)
DJI - DJI Real Time Price. Currency in USD

In [ ]:
url = "https://finance.yahoo.com/quote/%5EDJI/history?p=%5EDJI"

In [ ]:
df = pd.DataFrame(columns = ['date', 'DJI_Open', 'DJI_High', 'DJI_Low', 'DJI_Close', 'DJI_Adj_Close', 'DJI_Volume'])
df

In [ ]:
columns_new = [str('DJI_')+i for i in df.columns]

In [ ]:
r = requests.get(url)
data = r.text
soup = BeautifulSoup(data)

In [ ]:
answer = []
for i in soup.find_all('td'):
    #print(i.span)
    #print(i.span.text)
    answer.append(i.span.text)
    #print(len(answer)

In [ ]:
for i in range(0, int(len(answer))//7):
    atbilde = []
    #print(i)
    for j in range (0,7):
        if j == 0:
            atbilde.append(pd.to_datetime(answer[i*7+j], infer_datetime_format=True))
        else:
            atbilde.append(answer[i*7+j])
    df.loc[len(df)] = atbilde

In [ ]:
df

In [ ]:
df.to_sql('DJI', connection, if_exists='append',index=False)

# SP500 companies

In [2]:
from bs4 import BeautifulSoup
import requests
import re

df = pd.read_excel('SP500.xlsx')

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from SP500_companies")
df = pd.read_sql_query(sql,connection)
df.head()

In [ ]:
df[df.Symbol == 'FLIR']

### Insert DJI and SP500 in the same table
### One less step in ETL

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

columnnames = "'Company', 'Symbol', 'Weight'"
insertintotable = '?,?,?'

answer = ['Dow Jones Industrial Average', '^DJI', '100']
sql2 = f'cursor.execute("insert INTO  SP500_companies ({columnnames}) VALUES ({insertintotable})", {answer})'
eval(sql2)
connection.commit()
connection.close()

In [ ]:
columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'

for i in df.Symbol[490:]:
    r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    print(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    data = r.text
    soup = BeautifulSoup(data, features="lxml")
    ofset = 0
    for j in range(0, int(len(soup.find_all('td')))//7):  
        #if type(soup.find_all('td')[j*7+1+ofset].span.text) != int and type(soup.find_all('td')[j*7+1+ofset].span.text) != float:
        if soup.find_all('td')[j*7+1+ofset].span.text == "Dividend" or soup.find_all('td')[j*7+1+ofset].span.text == "Stock Split":
            ofset += 2
        try:
            answer = []
            answer.append(str(pd.to_datetime(soup.find_all('td')[j*7+ofset].text, infer_datetime_format=True)))
            answer = answer + [i.span.text for i in soup.find_all('td')[j*7+1+ofset:j*7+7+ofset]] + [i]
        except:
            answer = []
            ofset += 2
        print(answer)
        connection = sqlite3.connect('MSC.db')
        cursor = connection.cursor()
        sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
        eval(sql2)
        connection.commit()
        connection.close()

columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'

for i in df.Symbol[:3]:
    r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    print(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    data = r.text
    soup = BeautifulSoup(data, features="lxml")
    ofset = 0
    for j in range(0, int(len(soup.find_all('td')))//7):  
        #if type(soup.find_all('td')[j*7+1+ofset].span.text) != int and type(soup.find_all('td')[j*7+1+ofset].span.text) != float:
        if soup.find_all('td')[j*7+1+ofset].span.text == "Dividend" or soup.find_all('td')[j*7+1+ofset].span.text == "Stock Split":
            ofset += 2
        try:
            answer = []
            answer.append(str(pd.to_datetime(soup.find_all('td')[j*7+ofset].text, infer_datetime_format=True)))
            answer = answer + [i.span.text for i in soup.find_all('td')[j*7+1+ofset:j*7+7+ofset]] + [i]
        except:
            answer = []
            ofset += 2
        print(answer)
        connection = sqlite3.connect('MSC.db')
        cursor = connection.cursor()
        sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
        eval(sql2)
        connection.commit()
        connection.close()

#for symbol in df
no_financials = "'BRK.B', 'BF.B', 'FLIR'"

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = (f"Select * from SP500_companies where symbol not in ({no_financials})")
df = pd.read_sql_query(sql,connection)
connection.commit()
connection.close()

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from prices order by date desc")
z = pd.read_sql_query(sql,connection)
connection.commit()
connection.close()

columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'

for i in df.Symbol:
    r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    data = r.text
    soup = BeautifulSoup(data, features="lxml")
    
    for j in range (0, 4):
        if soup.find_all('td')[1+j*7].span != None and pd.to_datetime(soup.find_all('td')[j*7].text, infer_datetime_format=True) > pd.to_datetime(z.date[z.symbol == i].iloc[0]):
            try: 
                print(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
                answer = []
                answer.append(str(pd.to_datetime(soup.find_all('td')[j*7].text, infer_datetime_format=True)))
                answer = answer + [i.span.text for i in soup.find_all('td')[j*7+1: j*7+7]] + [i]
                print(answer)
                connection = sqlite3.connect('MSC.db')
                cursor = connection.cursor()
                sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
                eval(sql2)
                connection.commit()
                connection.close()
            except:pass   
        else:pass
'''
'''

In [162]:
#for symbol in df
no_financials = "'BRK.B', 'BF.B', 'FLIR'"

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ('''
Select symbol from SP500_companies 
where symbol not in (select distinct symbol from prices where date == '2021-05-18 00:00:00')
and  symbol not in ('BRK.B', 'BF.B', 'FLIR')'''
    )
df = pd.read_sql_query(sql,connection)

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from prices where date ")
z = pd.read_sql_query(sql,connection)
connection.commit()
connection.close()

columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'

for i in df.Symbol[2:]:
    r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    print(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    data = r.text
    soup = BeautifulSoup(data, features="lxml")
    counter = 0
    for j in range (0, 4):
        if soup.find_all('td')[1+j*7].span != None and pd.to_datetime(soup.find_all('td')[j*7].text, infer_datetime_format=True) > pd.to_datetime(z.date[z.symbol == i].iloc[0]) and counter == 0:
            try:
                answer = []
                answer.append(str(pd.to_datetime(soup.find_all('td')[j*7].text, infer_datetime_format=True)))
                answer = answer + [i.span.text for i in soup.find_all('td')[j*7+1: j*7+7]] + [i]
                print(answer)

                connection = sqlite3.connect('MSC.db')
                cursor = connection.cursor()
                sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
                eval(sql2)
                connection.commit()
                connection.close()
                counter +=1
            except:pass        
        else:pass

https://finance.yahoo.com/quote/HII/history?p=HII
['2021-05-18 00:00:00', '216.34', '217.92', '213.22', '213.37', '213.37', '130,800', 'HII']
https://finance.yahoo.com/quote/JNPR/history?p=JNPR
['2021-05-18 00:00:00', '26.63', '26.63', '26.30', '26.30', '26.30', '2,113,900', 'JNPR']
https://finance.yahoo.com/quote/ALK/history?p=ALK
['2021-05-18 00:00:00', '72.00', '72.92', '70.29', '70.29', '70.29', '1,456,600', 'ALK']
https://finance.yahoo.com/quote/NRG/history?p=NRG
['2021-05-18 00:00:00', '34.10', '34.38', '34.00', '34.23', '34.23', '2,551,400', 'NRG']
https://finance.yahoo.com/quote/PBCT/history?p=PBCT
['2021-05-18 00:00:00', '19.31', '19.62', '19.10', '19.11', '19.11', '2,664,600', 'PBCT']
https://finance.yahoo.com/quote/ROL/history?p=ROL
['2021-05-18 00:00:00', '35.95', '36.12', '35.38', '35.40', '35.40', '1,303,500', 'ROL']
https://finance.yahoo.com/quote/FRT/history?p=FRT
['2021-05-18 00:00:00', '112.78', '113.90', '111.67', '112.69', '112.69', '366,000', 'FRT']
https://finance.yahoo.com/quote/APA/history?p=APA
['2021-05-18 00:00:00', '22.25', '22.41', '21.55', '21.67', '21.67', '6,682,400', 'APA']
https://finance.yahoo.com/quote/PVH/history?p=PVH
['2021-05-18 00:00:00', '116.72', '117.98', '115.46', '116.67', '116.67', '1,530,800', 'PVH']
https://finance.yahoo.com/quote/LEG/history?p=LEG
['2021-05-18 00:00:00', '55.82', '56.16', '54.94', '54.96', '54.96', '714,200', 'LEG']
https://finance.yahoo.com/quote/VNO/history?p=VNO
['2021-05-18 00:00:00', '46.00', '46.90', '45.56', '46.46', '46.46', '1,192,600', 'VNO']
https://finance.yahoo.com/quote/GPS/history?p=GPS
['2021-05-18 00:00:00', '37.01', '37.63', '34.62', '34.98', '34.98', '8,410,000', 'GPS']
https://finance.yahoo.com/quote/COG/history?p=COG
['2021-05-18 00:00:00', '18.21', '18.25', '17.69', '17.84', '17.84', '10,837,300', 'COG']
https://finance.yahoo.com/quote/IPGP/history?p=IPGP
['2021-05-18 00:00:00', '197.90', '197.95', '194.55', '194.77', '194.77', '266,500', 'IPGP']
https://finance.yahoo.com/quote/HBI/history?p=HBI
['2021-05-18 00:00:00', '19.84', '19.94', '19.58', '19.71', '19.71', '4,741,700', 'HBI']
https://finance.yahoo.com/quote/NOV/history?p=NOV
['2021-05-18 00:00:00', '17.91', '18.02', '17.35', '17.43', '17.43', '4,414,300', 'NOV']
https://finance.yahoo.com/quote/RL/history?p=RL
['2021-05-18 00:00:00', '139.20', '140.24', '136.41', '136.70', '136.70', '1,079,200', 'RL']
https://finance.yahoo.com/quote/UNM/history?p=UNM
['2021-05-18 00:00:00', '30.66', '31.13', '30.57', '30.59', '30.59', '1,595,000', 'UNM']
https://finance.yahoo.com/quote/PRGO/history?p=PRGO
['2021-05-18 00:00:00', '45.62', '45.89', '45.18', '45.18', '45.18', '1,059,300', 'PRGO']
https://finance.yahoo.com/quote/FOX/history?p=FOX
['2021-05-18 00:00:00', '35.98', '36.80', '35.98', '36.32', '36.32', '938,900', 'FOX']
https://finance.yahoo.com/quote/DISCA/history?p=DISCA
['2021-05-18 00:00:00', '33.76', '34.52', '32.44', '33.31', '33.31', '31,324,000', 'DISCA']
https://finance.yahoo.com/quote/HFC/history?p=HFC
['2021-05-18 00:00:00', '36.68', '37.03', '35.61', '35.64', '35.64', '1,716,000', 'HFC']
https://finance.yahoo.com/quote/UAA/history?p=UAA
['2021-05-18 00:00:00', '23.18', '23.33', '22.61', '22.65', '22.65', '3,652,900', 'UAA']
https://finance.yahoo.com/quote/UA/history?p=UA
['2021-05-18 00:00:00', '19.40', '19.53', '18.96', '18.98', '18.98', '2,542,800', 'UA']
https://finance.yahoo.com/quote/NWS/history?p=NWS
['2021-05-18 00:00:00', '25.12', '25.28', '24.91', '24.91', '24.91', '438,400', 'NWS']
https://finance.yahoo.com/quote/^GSPC/history?p=^GSPC
['2021-05-18 00:00:00', '4,165.94', '4,169.15', '4,125.99', '4,127.83', '4,127.83', '3,559,790,000', '^GSPC']
https://finance.yahoo.com/quote/^DJI/history?p=^DJI
['2021-05-18 00:00:00', '34,351.18', '34,408.99', '34,044.10', '34,060.66', '34,060.66', '289,590,000', '^DJI']

In [70]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('''Select distinct symbol, count(symbol) over(partition by symbol) as count from prices
order by count

       ''')
z =pd.read_sql_query(sql,connection)
z

In [ ]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('''Select * from sp500_companies

       ''')
z =pd.read_sql_query(sql,connection)
z

In [ ]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('''Select sp500_companies.symbol, company from sp500_companies
          WHERE sp500_companies.Symbol NOT IN
        (Select symbol from  prices)

       ''')
z =pd.read_sql_query(sql,connection)
z

In [ ]:
# Flir 0 love

In [163]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ('''
Select symbol from SP500_companies 
where symbol not in (select distinct symbol from prices where date == '2021-05-18 00:00:00')
and  symbol not in ('BRK.B', 'BF.B', 'FLIR')'''
    )
df = pd.read_sql_query(sql,connection)
df

  Symbol
0    DFS
1    CNP

# Merge

In [142]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

sql = ('''Select 
            main.date,
            top1,top2,top3,top4,top5,
            top6,top7,top8,top9,top10,
            top11,top12,top13,top14,top15,
            top16,top17,top18,top19,top20,
            top21,top22,top23,top24,top25,
            top26,top27,top28,top29,top30,
            
            DJI_Open,
            DJI_High,
            DJI_Low,
            DJI_Close,
            DJI_Adj_Close,
            
            SP500_Open,
            SP500_High,
            SP500_Low,
            SP500_Close,
            SP500_Adj_Close

            from main
            left join DJI on
            main.date = date(DJI.Date)
            left join SP500 on
            main.date = date(SP500.Date)
            
            where DJI_Open not NULL
            order by main.date

       ''')
df = pd.read_sql_query(sql,connection)
df.tail()

,date,top1,top2,top3,top4,top5,top6,top7,top8,top9,...,DJI_Open,DJI_High,DJI_Low,DJI_Close,DJI_Adj_Close,SP500_Open,SP500_High,SP500_Low,SP500_Close,SP500_Adj_Close
87,2021-05-10,Indigenous leaders launch $2.1 billion class-a...,Russian Doc Who Lied About Navalny Poisoning ‘...,Angry protests have broken out in Kyrgyzstan a...,"More than 50 people, many of them female stude...",Queen’s cousin Prince Michael of Kent accused ...,Arab world condemns Israel Police for violent ...,NASA criticizes China after rocket debris land...,Thousands to march in France demanding real ac...,"Myanmar poet dies after detention, body return...",...,"34,785.27","35,091.56","34,741.57","34,742.82","34,742.82","4,228.29","4,236.39","4,188.13","4,188.43","4,188.43"
88,2021-05-11,Zero Covid deaths recorded yesterday for Engla...,"Israeli airstrikes on Gaza kill 20 people, inc...",Stop evictions in East Jerusalem neighbourhood...,"Instagram, Twitter deleting posts about Palest...",Boris Johnson investigated over Caribbean holi...,"Rocket sirens sound in Jerusalem, Israel amid ...",WHO classifies triple-mutant Covid variant fro...,Dozens of bodies believed to be Covid-19 victi...,Missing Siberian doctor who treated Kremlin cr...,...,"34,572.74","34,572.74","34,075.31","34,269.16","34,269.16","4,150.34","4,162.04","4,111.53","4,152.10","4,152.10"
89,2021-05-12,Indian government says 5G doesn’t cause COVID-...,Largest 13 story residential building in Gaza ...,China demands cancellation of UN meeting on Uy...,Taiwan says China is 'maliciously' blocking it...,US officials believe Russia may be behind the ...,UK to ban LGBT conversion therapy and provide ...,Up to 9 Killed in Russia School Shooting,"1 dead, 3 severely injured, as 'largest ever' ...",Hundreds of South Africans rallied on Tuesday ...,...,"34,206.40","34,207.87","33,555.22","33,587.66","33,587.66","4,130.55","4,134.73","4,056.88","4,063.04","4,063.04"
90,2021-05-13,'Champions League of tax avoidance:' Uber used...,Animals to be formally recognised as sentient ...,'We're watching a lynching': Jewish crowd in I...,Israeli flags burned outside 2 German synagogu...,"Putin’s Wagner Group mercenaries ‘killed kids,...",Shark Advocates Cheer UK’s Banning Of Shark Fi...,Ethereum creator Vitalik Buterin donates $1 bi...,"Dead whale found with 16kg of plastic bags, wr...",Israel rejects Hamas truce offer; ministers vo...,...,"33,624.74","34,181.77","33,623.49","34,021.45","34,021.45","4,074.99","4,131.58","4,074.99","4,112.50","4,112.50"
91,2021-05-14,"""2 for 100, 3 for 75."" - Israeli soldier posts...","67 killed in Gaza, 7 killed in Israel as UN wa...",Israel's bombing of Gaza apartment buildings c...,Israel's Israeli Arab member of parliament Aid...,Jews and Arabs start to push back against viol...,France asks police to ban pro-Palestinian Pari...,US withdraws 120 military personnel from Israe...,"Israel steps up Gaza offensive, kills senior H...",Biden says he's not seen a 'significant overre...,...,"34,050.86","34,454.05","34,050.86","34,382.13","34,382.13","4,129.58","4,183.13","4,129.58","4,173.85","4,173.85"