In [2]:
import pandas as pd
import sqlite3
import locale
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')

'en_US.UTF-8'

# Reddit news

In [ ]:
import string
string.punctuation

In [ ]:
kolonas = ['date']+['top'+str(i) for i in range(1,31)]
print(kolonas)

In [ ]:
df = pd.DataFrame(columns = kolonas)

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

In [ ]:
sql = ("Select date(moment) as date, title from top30 where date = '2021-05-05'")
z = pd.read_sql_query(sql,connection)

In [ ]:
for d in z.date.unique():
    atbilde =[]
    atbilde.append(d)
    #print(atbilde)
    for title in z.title[z.date == d]:
        atbilde.append(title)
        
    df.loc[len(df)] = atbilde

In [ ]:
df.to_sql('main', connection, if_exists='append',index=False)

In [ ]:
atbilde = []
atbilde.append(z.date[0])
#print(atbilde)

for title in z.title:
    atbilde.append(title)
        
print(atbilde)
df.loc[len(df)] = atbilde

# delete

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("DELETE from main where date = '2021-05-27'")
cursor.execute(sql)
connection.commit()

# Yahoo finance

In [ ]:
from bs4 import BeautifulSoup
import requests
import re

In [ ]:
df = pd.DataFrame(columns = ['date','SP500_Open', 'SP500_High', 'SP500_Low', 'SP500_Close', 'SP500_Adj_Close', 'SP500_Volume'])
df

In [ ]:
str([str('SP500_')+i for i in df.columns])

## S&P 500 (^GSPC)
SNP - SNP Real Time Price. Currency in USD

In [ ]:
url = "https://finance.yahoo.com/quote/%5EGSPC/history?p=%5EGSPC"

In [ ]:
r = requests.get(url)
data = r.text
soup = BeautifulSoup(data)

In [ ]:
answer = []
for i in soup.find_all('td')[0:7]:
    #print(i.span)
    print(i.span.text)
    answer.append(i.span.text)
    #print(len(answer)

for i in range(0, int(len(answer))//7):
    atbilde = []
    #print(i)
    for j in range (0,7):
        if j == 0:
            atbilde.append(pd.to_datetime(answer[i*7+j], infer_datetime_format=True))
        else:
            atbilde.append(answer[i*7+j])
    df.loc[len(df)] = atbilde

# Insert into main

In [4]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select date(moment) as date, title from ER20210529")
z = pd.read_sql_query(sql,connection)
print(z)


atbilde = []
columnnames = "'date', 'top1', 'top2', 'top3', 'top4', 'top5', 'top6', 'top7', 'top8', 'top9', 'top10', 'top11', 'top12', 'top13', 'top14', 'top15', 'top16', 'top17', 'top18', 'top19', 'top20', 'top21', 'top22', 'top23', 'top24', 'top25', 'top26', 'top27', 'top28', 'top29', top30"
insertintotable = '?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?'
atbilde = [z.date[0]] +[i for i in  z.title]

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql2 = f'cursor.execute("insert INTO  main ({columnnames}) VALUES ({insertintotable})", {atbilde})'
eval(sql2)
connection.commit()
connection.close()
print("Appended to MAIN")

          date                                              title
0   2021-05-29  Another candidate assassinated in Mexico ahead...
1   2021-05-29  Germany says it committed genocide in Namibia ...
2   2021-05-29  Photo of massive tree being hauled down Vancou...
3   2021-05-29  Israel now holding 13 Palestinian journalists,...
4   2021-05-29  Morocco joins growing list of African countrie...
5   2021-05-29  Hard to believe Russia was not involved in Bel...
6   2021-05-29  Photo of massive tree being hauled down Vancou...
7   2021-05-29  Credit Suisse scandals prompt Switzerland to t...
8   2021-05-29  FBI joins Poland, Lithuania in investigating f...
9   2021-05-29  Number of smokers has reached all-time high of...
10  2021-05-29  Belarusian businessman and opposition activist...
11  2021-05-29  Swiss bank admits to laundering $36 million in...
12  2021-05-29  Louvre museum will be headed by woman for firs...
13  2021-05-29  US Secretary of State Antony Blinken warned Is...
14  2021-05-29      US returns ancient stone carvings to Thailand
15  2021-05-29  Following the rise in antisemitism that came a...
16  2021-05-29  DRC bans export of cobalt, copper concentrate ...
17  2021-05-29  Russia warns Disney against distributing short...
18  2021-05-29  Police seize hundreds of monkeys being shipped...
19  2021-05-29  Brazil aerial photos show miners’ devastation ...
20  2021-05-29  Ryanair says Belarus refused pilot's request t...
21  2021-05-29  Report: Bennett, Lapid reach agreement on form...
22  2021-05-29  Microsoft says SolarWinds hackers have struck ...
23  2021-05-29  Back from the brink: Iberian lynx population r...
24  2021-05-29  Germany to invest around $10 billion in hydrog...
25  2021-05-29  Joe Biden Believes China Hiding COVID-19 Origi...
26  2021-05-29  Indian Variant 75% Of All New UK Covid Cases, ...
27  2021-05-29  US 'rapidly' planning to evacuate Afghan inter...
28  2021-05-29  Canadian RCMP continue to repress journalists ...
29  2021-05-29  Blamed for virus spread, over 20 5G towers dam...
Appended to MAIN

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from main")
z = pd.read_sql_query(sql,connection)
z

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from DJI")
z = pd.read_sql_query(sql,connection).columns
z

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select max(date) as date from SP500")
z = pd.read_sql_query(sql,connection)
latest_date = z.date[0]

##SP500
url = "https://finance.yahoo.com/quote/%5EGSPC/history?p=%5EGSPC"
r = requests.get(url)
data = r.text
soup = BeautifulSoup(data)

answer = []
if str(pd.to_datetime(soup.find_all('td')[0].text, infer_datetime_format=True)) == latest_date:
    print('Stop. This data point is already in the data base')
else:
    print('Lets get scraping')
    answer.append(str(pd.to_datetime(soup.find_all('td')[0].text, infer_datetime_format=True)))
    answer = answer + [i.span.text for i in soup.find_all('td')[1:7]]
    
    columnnames = "'Date', 'SP500_Open', 'SP500_High', 'SP500_Low', 'SP500_Close','SP500_Adj_Close', 'SP500_Volume'"
    insertintotable = '?,?,?,?,?,?,?'
    
    connection = sqlite3.connect('MSC/MSC.db')
    cursor = connection.cursor()
    sql2 = f'cursor.execute("insert INTO  SP500 ({columnnames}) VALUES ({insertintotable})", {answer})'
    eval(sql2)
    connection.commit()
    connection.close()
    print(f"{answer[0]} appended to SP500")
    
    
    ## DJI
    url = "https://finance.yahoo.com/quote/%5EDJI/history?p=%5EDJI"
    r = requests.get(url)
    data = r.text
    soup = BeautifulSoup(data)
    
    answer = []
    answer.append(str(pd.to_datetime(soup.find_all('td')[0].text, infer_datetime_format=True)))
    answer = answer + [i.span.text for i in soup.find_all('td')[1:7]]
    
    columnnames = "'date', 'SP500_Open', 'SP500_High', 'SP500_Low', 'SP500_Close','SP500_Adj_Close', 'SP500_Volume'"
    insertintotable = '?,?,?,?,?,?,?'
    
    connection = sqlite3.connect('MSC/MSC.db')
    cursor = connection.cursor()
    sql2 = f'cursor.execute("insert INTO  SP500 ({columnnames}) VALUES ({insertintotable})", {answer})'
    eval(sql2)
    connection.commit()
    connection.close()
    print(f"{answer[0]} appended to DJI")
    
    
answer

In [ ]:
df.to_sql('SP500', connection, if_exists='append',index=False)

## Dow Jones Industrial Average (^DJI)
DJI - DJI Real Time Price. Currency in USD

In [ ]:
url = "https://finance.yahoo.com/quote/%5EDJI/history?p=%5EDJI"

In [ ]:
df = pd.DataFrame(columns = ['date', 'DJI_Open', 'DJI_High', 'DJI_Low', 'DJI_Close', 'DJI_Adj_Close', 'DJI_Volume'])
df

In [ ]:
columns_new = [str('DJI_')+i for i in df.columns]

In [ ]:
r = requests.get(url)
data = r.text
soup = BeautifulSoup(data)

In [ ]:
answer = []
for i in soup.find_all('td'):
    #print(i.span)
    #print(i.span.text)
    answer.append(i.span.text)
    #print(len(answer)

In [ ]:
for i in range(0, int(len(answer))//7):
    atbilde = []
    #print(i)
    for j in range (0,7):
        if j == 0:
            atbilde.append(pd.to_datetime(answer[i*7+j], infer_datetime_format=True))
        else:
            atbilde.append(answer[i*7+j])
    df.loc[len(df)] = atbilde

In [ ]:
df

In [ ]:
df.to_sql('DJI', connection, if_exists='append',index=False)

# SP500 companies

In [ ]:
from bs4 import BeautifulSoup
import requests
import re

df = pd.read_excel('SP500.xlsx')

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from SP500_companies")
df = pd.read_sql_query(sql,connection)
df.head()

## Wikipedia

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

In [ ]:
r = requests.get(url)
data = r.text
soup = BeautifulSoup(data)

In [ ]:
answer = []
for i in soup.find_all('td')[0:7]:
    print(i)

In [ ]:
for i in soup.find_all('tr'):
    for j in i.find_all('th'):
        print(j)

In [ ]:
import wikipedia as wp
def get_table(title, filename, match, use_cache=False):

    if use_cache and os.path.isfile(filename):
        pass
    else:
        html = wp.page(title).html()
        df = pd.read_html(html, header=0, match=match)[0]
        
        df.to_csv(filename, header=True, index=False, encoding='utf-8')
            
    df = pd.read_csv(filename)
    return df

In [ ]:
#title = 'List of S&P 500 companies'
title = 'Selected changes to the list of S&P 500 components'
filename = 'sp500.csv'
sp500 = get_table(title, filename, match='Symbol')

from datetime import datetime
now = datetime.now()
dt_string = now.strftime("%m/%d/%Y %H:%M:%S")
print('{} (retrieved {})'.format(title, dt_string))
sp500

In [ ]:
#html = 
#wp.page(title).html()
#df = 
pd.read_html(html)[1]

In [ ]:
sp500.to_csv("SP500.csv")

### Insert DJI and SP500 in the same table
### One less step in ETL

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

columnnames = "'Company', 'Symbol', 'Weight'"
insertintotable = '?,?,?'

answer = ['Dow Jones Industrial Average', '^DJI', '100']
sql2 = f'cursor.execute("insert INTO  SP500_companies ({columnnames}) VALUES ({insertintotable})", {answer})'
eval(sql2)
connection.commit()
connection.close()

In [ ]:
columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'

for i in df.Symbol[490:]:
    r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    print(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    data = r.text
    soup = BeautifulSoup(data, features="lxml")
    ofset = 0
    for j in range(0, int(len(soup.find_all('td')))//7):  
        #if type(soup.find_all('td')[j*7+1+ofset].span.text) != int and type(soup.find_all('td')[j*7+1+ofset].span.text) != float:
        if soup.find_all('td')[j*7+1+ofset].span.text == "Dividend" or soup.find_all('td')[j*7+1+ofset].span.text == "Stock Split":
            ofset += 2
        try:
            answer = []
            answer.append(str(pd.to_datetime(soup.find_all('td')[j*7+ofset].text, infer_datetime_format=True)))
            answer = answer + [i.span.text for i in soup.find_all('td')[j*7+1+ofset:j*7+7+ofset]] + [i]
        except:
            answer = []
            ofset += 2
        print(answer)
        connection = sqlite3.connect('MSC.db')
        cursor = connection.cursor()
        sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
        eval(sql2)
        connection.commit()
        connection.close()

In [ ]:
#for symbol in df
no_financials = "'BRK.B', 'BF.B', 'FLIR'"

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ('''
Select symbol from SP500_companies 
where symbol not in (select distinct symbol from prices where date == '2021-05-19 00:00:00')
and  symbol not in ('BRK.B', 'BF.B', 'FLIR')'''
    )
df = pd.read_sql_query(sql,connection)

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from prices where date ")
z = pd.read_sql_query(sql,connection)
connection.commit()
connection.close()

columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'

for i in df.Symbol[2:]:
    r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    print(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    data = r.text
    soup = BeautifulSoup(data, features="lxml")
    counter = 0
    for j in range (0, 4):
        if soup.find_all('td')[1+j*7].span != None and pd.to_datetime(soup.find_all('td')[j*7].text, infer_datetime_format=True) > pd.to_datetime(z.date[z.symbol == i].iloc[0]) and counter == 0:
            try:
                answer = []
                answer.append(str(pd.to_datetime(soup.find_all('td')[j*7].text, infer_datetime_format=True)))
                answer = answer + [i.span.text for i in soup.find_all('td')[j*7+1: j*7+7]] + [i]
                print(answer)

                connection = sqlite3.connect('MSC.db')
                cursor = connection.cursor()
                sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
                eval(sql2)
                connection.commit()
                connection.close()
                counter +=1
            except:pass        
        else:pass

In [ ]:
import string
string.punctuation

In [ ]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('''Select distinct symbol, count(symbol) over(partition by symbol) as count from prices
order by count

       ''')
z =pd.read_sql_query(sql,connection)
z

In [ ]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('''Select * from sp500_companies

       ''')
z =pd.read_sql_query(sql,connection)
z

In [ ]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('''Select sp500_companies.symbol, company from sp500_companies
          WHERE sp500_companies.Symbol NOT IN
        (Select symbol from  prices)

       ''')
z =pd.read_sql_query(sql,connection)
z

In [ ]:
# Flir 0 love

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ('''
Select symbol from SP500_companies 
where symbol not in (select distinct symbol from prices where date == '2021-05-19 00:00:00')
and  symbol not in ('BRK.B', 'BF.B', 'FLIR')'''
    )
df = pd.read_sql_query(sql,connection)
df

# Merge

In [3]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

sql = ('''Select 
            main.date,
            top1,top2,top3,top4,top5,
            top6,top7,top8,top9,top10,
            top11,top12,top13,top14,top15,
            top16,top17,top18,top19,top20,
            top21,top22,top23,top24,top25,
            top26,top27,top28,top29,top30,
            
            DJI_Open,
            DJI_High,
            DJI_Low,
            DJI_Close,
            DJI_Adj_Close,
            
            SP500_Open,
            SP500_High,
            SP500_Low,
            SP500_Close,
            SP500_Adj_Close

            from main
            left join DJI on
            main.date = date(DJI.Date)
            left join SP500 on
            main.date = date(SP500.Date)
            
            where DJI_Open not NULL
            order by main.date

       ''')
df = pd.read_sql_query(sql,connection)
df.tail()

,date,top1,top2,top3,top4,top5,top6,top7,top8,top9,...,DJI_Open,DJI_High,DJI_Low,DJI_Close,DJI_Adj_Close,SP500_Open,SP500_High,SP500_Low,SP500_Close,SP500_Adj_Close
87,2021-05-10,Indigenous leaders launch $2.1 billion class-a...,Russian Doc Who Lied About Navalny Poisoning ‘...,Angry protests have broken out in Kyrgyzstan a...,"More than 50 people, many of them female stude...",Queen’s cousin Prince Michael of Kent accused ...,Arab world condemns Israel Police for violent ...,NASA criticizes China after rocket debris land...,Thousands to march in France demanding real ac...,"Myanmar poet dies after detention, body return...",...,"34,785.27","35,091.56","34,741.57","34,742.82","34,742.82","4,228.29","4,236.39","4,188.13","4,188.43","4,188.43"
88,2021-05-11,Zero Covid deaths recorded yesterday for Engla...,"Israeli airstrikes on Gaza kill 20 people, inc...",Stop evictions in East Jerusalem neighbourhood...,"Instagram, Twitter deleting posts about Palest...",Boris Johnson investigated over Caribbean holi...,"Rocket sirens sound in Jerusalem, Israel amid ...",WHO classifies triple-mutant Covid variant fro...,Dozens of bodies believed to be Covid-19 victi...,Missing Siberian doctor who treated Kremlin cr...,...,"34,572.74","34,572.74","34,075.31","34,269.16","34,269.16","4,150.34","4,162.04","4,111.53","4,152.10","4,152.10"
89,2021-05-12,Indian government says 5G doesn’t cause COVID-...,Largest 13 story residential building in Gaza ...,China demands cancellation of UN meeting on Uy...,Taiwan says China is 'maliciously' blocking it...,US officials believe Russia may be behind the ...,UK to ban LGBT conversion therapy and provide ...,Up to 9 Killed in Russia School Shooting,"1 dead, 3 severely injured, as 'largest ever' ...",Hundreds of South Africans rallied on Tuesday ...,...,"34,206.40","34,207.87","33,555.22","33,587.66","33,587.66","4,130.55","4,134.73","4,056.88","4,063.04","4,063.04"
90,2021-05-13,'Champions League of tax avoidance:' Uber used...,Animals to be formally recognised as sentient ...,'We're watching a lynching': Jewish crowd in I...,Israeli flags burned outside 2 German synagogu...,"Putin’s Wagner Group mercenaries ‘killed kids,...",Shark Advocates Cheer UK’s Banning Of Shark Fi...,Ethereum creator Vitalik Buterin donates $1 bi...,"Dead whale found with 16kg of plastic bags, wr...",Israel rejects Hamas truce offer; ministers vo...,...,"33,624.74","34,181.77","33,623.49","34,021.45","34,021.45","4,074.99","4,131.58","4,074.99","4,112.50","4,112.50"
91,2021-05-14,"""2 for 100, 3 for 75."" - Israeli soldier posts...","67 killed in Gaza, 7 killed in Israel as UN wa...",Israel's bombing of Gaza apartment buildings c...,Israel's Israeli Arab member of parliament Aid...,Jews and Arabs start to push back against viol...,France asks police to ban pro-Palestinian Pari...,US withdraws 120 military personnel from Israe...,"Israel steps up Gaza offensive, kills senior H...",Biden says he's not seen a 'significant overre...,...,"34,050.86","34,454.05","34,050.86","34,382.13","34,382.13","4,129.58","4,183.13","4,129.58","4,173.85","4,173.85"

In [4]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

sql = ('''
    select distinct main.date,
            top1,top2,top3,top4,top5,
            top6,top7,top8,top9,top10,
            top11,top12,top13,top14,top15,
            top16,top17,top18,top19,top20,
            top21,top22,top23,top24,top25,
            top26,top27,top28,top29,top30,
            open
            ,close

    from prices 
    left join main
    on date(prices.date) = main.date
    
    where symbol = '^GSPC' 
    and date(prices.date)  > '2021-03-07' 
    and top1 is not null
    
    order by main.date

       ''')
df = pd.read_sql_query(sql,connection)
print(df.shape)
df.tail()

(56, 33)

,date,top1,top2,top3,top4,top5,top6,top7,top8,top9,...,top23,top24,top25,top26,top27,top28,top29,top30,open,close
51,2021-05-19,Leonardo DiCaprio pledges $43m to restore the ...,US approves release of oldest Guantanamo priso...,Iran's Minister of Foreign Affairs criticizes ...,Nurse who cared for Boris Johnson resigns over...,Oil Companies Told to Stop Drilling Now to Sav...,Thousands of Peruvian indigenous people living...,"Against backdrop of Gaza violence, Israel’s Je...",Arrest Warrant Issued Against UP Villagers Who...,Egypt allocates 11 hospitals to treat Palestin...,...,"EU, minus Hungary, calls for Israel-Palestine ...",‘No food for days’: Starvation stalks Tigray a...,Israel temporarily opens borders to allow fuel...,"2 Thai workers killed, several people injured ...",Half of single-use plastic waste produced by j...,‘Massive destruction’: Israeli strikes drain G...,The coronavirus variant that first emerged in ...,Tokyo doctors call for cancellation of Olympic...,"4,098.45","4,115.68"
52,2021-05-20,Facebook shuts down pro-Israel page with 77 mi...,Many Gazans cut off from the world as Israel t...,Russia warns Israel it won't tolerate more civ...,Israeli Prime Minister Benjamin Netanyahu reje...,"Female journalist beaten, finger broken for re...",Sirens sound in cities in Haifa area; rockets ...,Bangladeshi Journalist Could Face Death Penalt...,Palestinian President Mahmoud Abbas Wants Isra...,Palestine activists shut down Israeli drone ma...,...,An Ecuadorian policeman was sentenced to three...,Israel accuses Chinese state TV of 'blatant an...,Bangladesh arrests journalist for COVID report...,The Israeli military has tried to kill the mil...,Chinese Mars rover returns first pictures,"""Spanish borders are European borders"" - EU de...",Manhunt launched for heavily-armed soldier who...,Israel shells targets in Lebanon after rocket ...,"4,121.97","4,159.12"
53,2021-05-21,Palestinian Head of internal medicine of main ...,UK government backs Israel’s bombardment of Gaza,Israeli media: Cabinet approves cease-fire in ...,Lithuanian parliament passes resolution condem...,Samoa to scrap China-backed port project under...,Boko Haram leader either dead or seriously wou...,Almost 40% of young people are waiting too lon...,"We will pursue you for life, Hong Kong warns w...",France's top court rejects move to restrict im...,...,Nigeria's Boko Haram leader 'badly wounded' du...,Japan ready to freeze all Myanmar development ...,"Based on imagery analysis, North Korea seems t...","A New, Infectious Coronavirus Is Detected In M...",Democratic Party leader Song Young-gil critici...,Apple employees call for company to support Pa...,German soldier who posed as refugee on trial f...,"Hamas welcomes rockets from Lebanon, Syria tow...","4,168.61","4,155.86"
54,2021-05-24,"Up to 40 bodies, mostly women, found buried on...",Irish parliament to vote on motion to expel Is...,Iraq estimates that $150 billion of its oil mo...,Black Lives Matter activist Sasha Johnson 'in ...,Wuhan Lab Staff Sought Hospital Care Before CO...,Belarus opposition says government forced Ryan...,The diversion of a flight between two EU count...,Eight dead after cable car falls in Italy,World's Largest Iceberg Breaks Off of Antarcti...,...,ISIS won’t get $7 million bounty placed on Bok...,‘A ticking time bomb’: Timor-Leste begins to r...,A gun battle erupted on Sunday between Myanmar...,Israeli officials 'regret' bombing Gaza AP bur...,Mount Everest Covid outbreak has infected 100 ...,India battles fatal fungal threat as virus dea...,Australian hoarder killed intruder and kept bo...,‘Tragic’ that just over 25M vaccine doses admi...,"4,170.16","4,197.05"
55,2021-05-25,Belarus had KGB agents on the passenger plane ...,Tesla Fined $16K Per Owner for Throttling Batt...,Lativian airline airBaltic says is no longer u...,Lithuania to demand Belarus airspace closed to...,UK aircraft ordered to avoid Belarus airspace ...,Samoa Elected Its First Female Leader. Parliam...,Knesset advances bill to limit prime minister ...,Paris proposes to ban Belarusian airspace,Indigenous woman named New Zealand's next gove...,...,Samoa swears in first female leader in a tent ...,Belarusian journalist reportedly pleaded with ...,European Union leaders on Monday agreed on a s...,China accuses US of hyping theory Coronavirus ...,Belarus points to Hamas bomb threat in plane d...,Customers call out banks for increasing fees d...,"North Korea bans mullet haircuts, nose piercin...",The American editor of a news site in military...,"4,205.94","4,190.37"

In [7]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

sql = ('''
    select * from prices
    
    
    where symbol = '^GSPC' 
    and date(prices.date)  > '2021-03-07' 
    order by date
       ''')
df = pd.read_sql_query(sql,connection)
print(df.shape)
df.tail()

(110, 8)

,date,open,high,low,close,adj_close,volume,symbol
105,2021-05-20 00:00:00,"4,121.97","4,172.80","4,121.97","4,159.12","4,159.12","3,019,060,000",^GSPC
106,2021-05-21 00:00:00,"4,168.61","4,188.72","4,151.72","4,155.86","4,155.86","3,344,620,000",^GSPC
107,2021-05-21 00:00:00,"4,168.61","4,188.72","4,151.72","4,155.86","4,155.86","3,344,620,000",^GSPC
108,2021-05-24 00:00:00,"4,170.16","4,209.52","4,170.16","4,197.05","4,197.05","2,947,400,000",^GSPC
109,2021-05-25 00:00:00,"4,205.94","4,213.42","4,186.52","4,190.37","4,190.37","1,324,822,000",^GSPC

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

sql = ('''
    select * from SP500_companies
       ''')
df = pd.read_sql_query(sql,connection)
print(df.shape)
df.tail()

In [20]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

sql = (f'''
Select symbol from SP500_companies 
where symbol not in (select distinct symbol from prices where date == "2021-06-04 00:00:00")
and  symbol not in ('BRK.B', 'BF.B', 'FLIR')
'''
    )
df = pd.read_sql_query(sql,connection)
df

  Symbol
0   ^VIX

In [19]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from prices order by date desc")
z = pd.read_sql_query(sql,connection)
z

,date,open,high,low,close,adj_close,volume,symbol
0,2021-06-04 00:00:00,124.07,126.16,123.85,125.89,125.89,"75,087,300",AAPL
1,2021-06-04 00:00:00,247.76,251.65,247.51,250.79,250.79,"25,275,000",MSFT
2,2021-06-04 00:00:00,325.90,332.46,325.18,330.35,330.35,"13,282,200",FB
3,2021-06-04 00:00:00,166.21,166.67,165.03,166.44,166.44,"8,510,400",JPM
4,2021-06-04 00:00:00,167.01,167.57,165.87,165.97,165.97,"6,510,300",JNJ
...,...,...,...,...,...,...,...,...
57719,2020-12-21 00:00:00,110.71,113.78,108.73,112.54,112.54,"3,809,700",WYNN
57720,2020-12-21 00:00:00,146.80,148.06,141.70,145.28,145.28,"1,799,300",XLNX
57721,2020-12-21 00:00:00,366.00,376.73,363.00,375.91,375.91,"505,600",ZBRA
57722,2020-12-21 00:00:00,"30,159.00","30,304.14","29,755.53","30,216.45","30,216.45","437,480,000",^DJI
57723,2020-12-21 00:00:00,"3,684.28","3,702.90","3,636.48","3,694.92","3,694.92","4,732,160,000",^GSPC

In [10]:
import requests

In [18]:
columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'

for i in df.Symbol:
    r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    print(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    data = r.text
    soup = BeautifulSoup(data, features="lxml")
    
    for j in range (0, len(soup.find_all('td'))):
        try:
            if (type(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)) == pd._libs.tslibs.timestamps.Timestamp) == True and isinstance(locale.atof(soup.find_all('td')[j+1].text), (int, float, complex)) == True and pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True) > pd.to_datetime(z.date[z.symbol == i].iloc[0]):
                answer = []
                answer.append(str(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)))
                answer = answer + [i.span.text for i in soup.find_all('td')[j+1: j+7]] + [i]
                print(answer)
                
                connection = sqlite3.connect('MSC.db')
                cursor = connection.cursor()
                sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
                eval(sql2)
                connection.commit()
                connection.close()

            else: pass
        except:pass  
        
print('Price injection done')

https://finance.yahoo.com/quote/AMZN/history?p=AMZN
['2021-06-04 00:00:00', '3,212.00', '3,221.00', '3,198.81', '3,206.22', '3,206.22', '2,245,700', 'AMZN']
['2021-06-03 00:00:00', '3,204.23', '3,214.44', '3,184.03', '3,187.01', '3,187.01', '2,398,300', 'AMZN']
['2021-06-02 00:00:00', '3,223.10', '3,235.00', '3,208.00', '3,233.99', '3,233.99', '2,014,500', 'AMZN']
['2021-06-01 00:00:00', '3,243.50', '3,250.98', '3,209.06', '3,218.65', '3,218.65', '2,430,000', 'AMZN']
['2021-05-28 00:00:00', '3,242.00', '3,247.99', '3,219.70', '3,223.07', '3,223.07', '2,329,800', 'AMZN']
https://finance.yahoo.com/quote/GOOGL/history?p=GOOGL
['2021-06-04 00:00:00', '2,369.27', '2,399.03', '2,362.41', '2,393.57', '2,393.57', '1,222,500', 'GOOGL']
['2021-06-03 00:00:00', '2,345.73', '2,357.02', '2,329.52', '2,347.58', '2,347.58', '934,800', 'GOOGL']
['2021-06-02 00:00:00', '2,389.15', '2,393.64', '2,352.36', '2,370.59', '2,370.59', '1,057,900', 'GOOGL']
['2021-06-01 00:00:00', '2,374.44', '2,385.71', '2,354.28', '2,381.18', '2,381.18', '1,167,700', 'GOOGL']
['2021-05-28 00:00:00', '2,374.42', '2,376.07', '2,352.85', '2,356.85', '2,356.85', '1,074,100', 'GOOGL']
https://finance.yahoo.com/quote/GOOG/history?p=GOOG
['2021-06-04 00:00:00', '2,422.52', '2,453.86', '2,417.77', '2,451.76', '2,451.76', '1,295,800', 'GOOG']
['2021-06-03 00:00:00', '2,395.02', '2,409.75', '2,382.83', '2,404.61', '2,404.61', '917,300', 'GOOG']
['2021-06-02 00:00:00', '2,435.31', '2,442.00', '2,404.20', '2,421.28', '2,421.28', '857,900', 'GOOG']
['2021-06-01 00:00:00', '2,422.00', '2,437.97', '2,404.88', '2,429.81', '2,429.81', '958,300', 'GOOG']
['2021-05-28 00:00:00', '2,421.96', '2,428.14', '2,407.69', '2,411.56', '2,411.56', '1,205,400', 'GOOG']
https://finance.yahoo.com/quote/BKNG/history?p=BKNG
['2021-06-04 00:00:00', '2,304.78', '2,328.46', '2,304.24', '2,315.69', '2,315.69', '173,700', 'BKNG']
['2021-06-03 00:00:00', '2,293.42', '2,327.05', '2,262.00', '2,295.81', '2,295.81', '283,300', 'BKNG']
['2021-06-02 00:00:00', '2,339.70', '2,356.50', '2,310.71', '2,317.92', '2,317.92', '292,700', 'BKNG']
['2021-06-01 00:00:00', '2,380.00', '2,380.29', '2,316.05', '2,328.28', '2,328.28', '316,000', 'BKNG']
['2021-05-28 00:00:00', '2,339.84', '2,367.81', '2,315.48', '2,361.55', '2,361.55', '232,300', 'BKNG']
https://finance.yahoo.com/quote/CMG/history?p=CMG
['2021-06-04 00:00:00', '1,338.67', '1,351.37', '1,323.97', '1,326.34', '1,326.34', '283,800', 'CMG']
['2021-06-03 00:00:00', '1,356.23', '1,362.65', '1,330.66', '1,333.04', '1,333.04', '297,200', 'CMG']
['2021-06-02 00:00:00', '1,354.10', '1,364.62', '1,352.48', '1,362.39', '1,362.39', '371,600', 'CMG']
['2021-06-01 00:00:00', '1,372.00', '1,378.69', '1,342.18', '1,361.13', '1,361.13', '349,800', 'CMG']
['2021-05-28 00:00:00', '1,366.00', '1,381.93', '1,357.33', '1,371.98', '1,371.98', '254,100', 'CMG']
https://finance.yahoo.com/quote/AZO/history?p=AZO
['2021-06-04 00:00:00', '1,397.04', '1,397.04', '1,367.96', '1,387.21', '1,387.21', '192,700', 'AZO']
['2021-06-03 00:00:00', '1,391.91', '1,401.21', '1,388.90', '1,392.20', '1,392.20', '174,600', 'AZO']
['2021-06-02 00:00:00', '1,419.61', '1,419.61', '1,400.00', '1,404.67', '1,404.67', '160,800', 'AZO']
['2021-06-01 00:00:00', '1,414.81', '1,415.72', '1,398.02', '1,410.85', '1,410.85', '198,000', 'AZO']
['2021-05-28 00:00:00', '1,408.00', '1,422.48', '1,405.53', '1,406.60', '1,406.60', '175,300', 'AZO']
https://finance.yahoo.com/quote/MTD/history?p=MTD
['2021-06-04 00:00:00', '1,261.43', '1,263.70', '1,248.69', '1,256.82', '1,256.82', '96,700', 'MTD']
['2021-06-03 00:00:00', '1,268.80', '1,268.80', '1,244.41', '1,255.28', '1,255.28', '129,900', 'MTD']
['2021-06-02 00:00:00', '1,294.11', '1,298.61', '1,273.73', '1,274.87', '1,274.87', '78,900', 'MTD']
['2021-06-01 00:00:00', '1,315.57', '1,317.23', '1,285.71', '1,296.30', '1,296.30', '83,300', 'MTD']
['2021-05-28 00:00:00', '1,307.83', '1,310.98', '1,295.12', '1,300.95', '1,300.95', '64,700', 'MTD']
https://finance.yahoo.com/quote/NVR/history?p=NVR
['2021-06-04 00:00:00', '4,785.00', '4,827.43', '4,702.00', '4,810.00', '4,810.00', '13,400', 'NVR']
['2021-06-03 00:00:00', '4,755.61', '4,793.99', '4,696.12', '4,747.07', '4,747.07', '16,600', 'NVR']
['2021-06-02 00:00:00', '4,841.00', '4,841.00', '4,785.90', '4,795.49', '4,795.49', '13,800', 'NVR']
['2021-06-01 00:00:00', '4,925.33', '4,925.33', '4,817.88', '4,841.02', '4,841.02', '11,700', 'NVR']
['2021-05-28 00:00:00', '4,858.95', '4,918.14', '4,826.65', '4,887.23', '4,887.23', '13,200', 'NVR']
https://finance.yahoo.com/quote/IRM/history?p=IRM
['2021-06-04 00:00:00', '45.75', '45.81', '45.26', '45.67', '45.67', '1,689,200', 'IRM']
https://finance.yahoo.com/quote/^GSPC/history?p=^GSPC
['2021-06-04 00:00:00', '4,206.05', '4,233.45', '4,206.05', '4,229.89', '4,229.89', '3,487,070,000', '^GSPC']
['2021-06-03 00:00:00', '4,191.43', '4,204.39', '4,167.93', '4,192.85', '4,192.85', '4,579,450,000', '^GSPC']
['2021-06-02 00:00:00', '4,206.82', '4,217.37', '4,198.27', '4,208.12', '4,208.12', '4,860,930,000', '^GSPC']
['2021-06-01 00:00:00', '4,216.52', '4,234.12', '4,197.59', '4,202.04', '4,202.04', '4,122,960,000', '^GSPC']
['2021-05-28 00:00:00', '4,210.77', '4,218.36', '4,203.57', '4,204.11', '4,204.11', '4,199,270,000', '^GSPC']
['2021-05-27 00:00:00', '4,201.94', '4,213.38', '4,197.78', '4,200.88', '4,200.88', '5,201,110,000', '^GSPC']
['2021-05-26 00:00:00', '4,191.59', '4,202.61', '4,184.11', '4,195.99', '4,195.99', '3,674,490,000', '^GSPC']
https://finance.yahoo.com/quote/^DJI/history?p=^DJI
['2021-06-04 00:00:00', '34,618.69', '34,772.12', '34,618.69', '34,756.39', '34,756.39', '270,050,000', '^DJI']
['2021-06-03 00:00:00', '34,550.31', '34,667.41', '34,334.41', '34,577.04', '34,577.04', '297,380,000', '^DJI']
['2021-06-02 00:00:00', '34,614.62', '34,706.65', '34,545.96', '34,600.38', '34,600.38', '263,810,000', '^DJI']
['2021-06-01 00:00:00', '34,584.19', '34,849.32', '34,542.87', '34,575.31', '34,575.31', '287,700,000', '^DJI']
['2021-05-28 00:00:00', '34,558.50', '34,631.11', '34,520.09', '34,529.45', '34,529.45', '290,850,000', '^DJI']
['2021-05-27 00:00:00', '34,432.47', '34,608.82', '34,389.24', '34,464.64', '34,464.64', '520,630,000', '^DJI']
['2021-05-26 00:00:00', '34,336.34', '34,409.59', '34,271.44', '34,323.05', '34,323.05', '258,780,000', '^DJI']
https://finance.yahoo.com/quote/^VIX/history?p=^VIX
Price injection done

In [14]:
from bs4 import BeautifulSoup

In [2]:
import locale
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')

'en_US.UTF-8'

# VIX

In [24]:
columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'

i = '^VIX'

r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
print(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
data = r.text
soup = BeautifulSoup(data, features="lxml")

for j in range (0, len(soup.find_all('td'))):
    try:
        if (type(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)) == pd._libs.tslibs.timestamps.Timestamp) == True and isinstance(locale.atof(soup.find_all('td')[j+1].text), (int, float, complex)) == True and pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True) > pd.to_datetime(z.date[z.symbol == i].iloc[0]):
            answer = []
            answer.append(str(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)))
            answer = answer + [i.span.text for i in soup.find_all('td')[j+1: j+6]] +["0"] + [i]
            print(answer)

            connection = sqlite3.connect('MSC.db')
            cursor = connection.cursor()
            sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
            eval(sql2)
            connection.commit()
            connection.close()

        else: pass
    except:pass  
        
print('Price injection done')

https://finance.yahoo.com/quote/^VIX/history?p=^VIX
['2021-06-04 00:00:00', '18.09', '18.42', '16.18', '16.42', '16.42', '0', '^VIX']
['2021-06-03 00:00:00', '17.73', '19.27', '17.45', '18.04', '18.04', '0', '^VIX']
['2021-06-02 00:00:00', '17.86', '18.31', '16.74', '17.48', '17.48', '0', '^VIX']
['2021-06-01 00:00:00', '17.24', '18.53', '15.68', '17.90', '17.90', '0', '^VIX']
Price injection done

In [26]:
import datetime

def last_work_day():
    for i in range(1,7):
        if (datetime.date.today()-datetime.timedelta(days=i)).weekday()< 6:
            m = (datetime.date.today()-datetime.timedelta(days=i))
            break
    
    return m.strftime('%Y-%m-%d %H:%M:%S')
datums = last_work_day()

In [27]:
datums

'2021-06-04 00:00:00'

In [47]:
'''
i = 'AAPL'
r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
print(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
data = r.text
soup = BeautifulSoup(data, features="lxml")
'''
for j in range (0, len(soup.find_all('td'))):
    #if the last working day in the db, do nothing
    if pd.to_datetime(datums) != pd.to_datetime(z.date[z.symbol == i].iloc[0]):
        break
    else:
        try:
            #if 1st field is a date, 2nd is a number and yahoodate > last date in db
            if (type(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)) == pd._libs.tslibs.timestamps.Timestamp) == True \
            and isinstance(locale.atof(soup.find_all('td')[j+1].text), (int, float, complex)) == True \
            and pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True) >= pd.to_datetime(z.date[z.symbol == i].iloc[0]):
                answer = []
                answer.append(str(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)))
                answer = answer + [i.span.text for i in soup.find_all('td')[j+1: j+7]] + [i]
                print(answer)
                connection = sqlite3.connect('MSC/MSC.db')
                cursor = connection.cursor()
                sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
                eval(sql2)
                connection.commit()
                connection.close()

            else: pass
        except:pass            
print('Price injection done')

['2021-06-04 00:00:00', '124.07', '126.16', '123.85', '125.89', '125.89', '75,087,300', 'AAPL']
Price injection done

In [40]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'