In [1]:
import sqlite3
import pandas as pd

In [ ]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

## List all the tables

In [ ]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

def tables_in_sqlite_db(conn):
    cursor = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = [
        v[0] for v in cursor.fetchall()
        if v[0] != "sqlite_sequence"
    ]
    cursor.close()
    return tables

tables = tables_in_sqlite_db(connection)
for i in tables:
    print(i)

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from SP500_companies ")
df = pd.read_sql_query(sql,connection)
df

In [ ]:
## Duplicates

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ('''select symbol, date, XX as count, AM 
from (Select symbol, date, COUNT(symbol) OVER(PARTITION BY symbol, date) as XX ,ROW_NUMBER() OVER(PARTITION BY symbol, date) as AM from prices) where XX > 1''')
df = pd.read_sql_query(sql,connection)
df.tail()

In [8]:
## Duplicates

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = (''' select * from prices where symbol in ('SHW') order by date 

''')
df = pd.read_sql_query(sql,connection)
print(df.shape)
df

(99, 8)

,date,open,high,low,close,adj_close,volume,symbol
0,2020-12-23 00:00:00,245.84,246.87,241.48,241.48,240.89,"800,700",SHW
1,2020-12-24 00:00:00,242.43,245.07,242.04,244.63,244.03,"326,100",SHW
2,2020-12-28 00:00:00,246.03,246.03,242.95,243.11,242.52,"513,300",SHW
3,2020-12-29 00:00:00,244.66,244.86,242.00,243.53,242.93,"586,800",SHW
4,2020-12-30 00:00:00,244.01,245.30,242.30,242.38,241.78,"642,000",SHW
...,...,...,...,...,...,...,...,...
94,2021-05-11 00:00:00,287.36,287.99,283.19,285.84,285.84,"1,244,300",SHW
95,2021-05-12 00:00:00,284.50,286.84,279.75,279.84,279.84,"1,869,900",SHW
96,2021-05-13 00:00:00,281.04,287.02,280.18,285.81,285.81,"1,059,300",SHW
97,2021-05-14 00:00:00,287.35,289.29,285.59,286.09,286.09,"980,400",SHW
98,2021-05-17 00:00:00,286.43,287.58,282.87,284.23,284.23,"1,268,700",SHW

In [ ]:
df[df.open == "Stock Split"]

In [ ]:
df[df.open == "Dividends"]

## DF to SQL 

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
df_distinct.to_sql('prices', connection, index = False)
connection.commit()
connection.close()

## Delete

connection = sqlite3.connect('MSC.db') 
cursor = connection.cursor() 
sql = ("delete from prices where date = '2021-04-01 00:00:00' and open == 'Stock Split'") 
cursor.execute(sql) 
connection.commit()

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select symbol from SP500_companies where symbol not in (select distinct symbol from prices where date == '2021-05-17 00:00:00')")
df = pd.read_sql_query(sql,connection)
df

## Drop table

#https://www.sqlite.org/datatype3.html
cursor.executescript("DROP TABLE IF EXISTS prices")

In [ ]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('Select date(moment) as date, * from ER20202021')
z =pd.read_sql_query(sql,connection)
z.shape

## Alter

connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('ALTER TABLE top30 RENAME COLUMN date TO Date')
pd.read_sql_query(sql,connection)

In [ ]:
#Transfer to main folder
import shutil
newPath = shutil.copy('MSC.db', '/Users/Edite')