In [1]:
import sqlite3
import pandas as pd

In [2]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

## List all the tables

In [9]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

def tables_in_sqlite_db(conn):
    cursor = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = [
        v[0] for v in cursor.fetchall()
        if v[0] != "sqlite_sequence"
    ]
    cursor.close()
    return tables

tables = tables_in_sqlite_db(connection)
for i in tables:
    print(i)

top30
a20210407a
a20210408a
a20210409a
ER20210410a
ER20210411a
ER20210412a
ER20210413a
ER20210414a
ER20210415
ER20210416
ER20210417
ER20210418
ER20210419
ER20210420
ER20210421
ER20210422
ER20210423
ER20210424
ER20210425
ER20210426
ER20202021
ER20210427
ER20210428
ER20210429
ER20210430
ER20210501
ER20210502
ER20210503
ER20210504
ER20210505
ER20210506
ER20210507
DJI
SP500
ER20210508
ER20210509
ER20210510
ER20210511
ER20210512
ER20210513
reddit_old
main
ER20210514
ER20210515
ER20210516
SP500_companies
ER20210517
ER20210518
prices
ER20210519
ER20210520
ER20210521
ER20210522
ER20210523
ER20210524
wb_comments

In [4]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from prices order by date desc")
df = pd.read_sql_query(sql,connection)
df

,date,open,high,low,close,adj_close,volume,symbol
0,2021-05-21 00:00:00,127.82,128.00,125.21,125.43,125.43,"79,209,300",AAPL
1,2021-05-21 00:00:00,247.57,248.33,244.74,245.17,245.17,"21,855,500",MSFT
2,2021-05-21 00:00:00,"3,250.00","3,256.69","3,197.01","3,203.08","3,203.08","4,097,800",AMZN
3,2021-05-21 00:00:00,319.29,319.93,315.81,316.23,316.23,"13,562,700",FB
4,2021-05-21 00:00:00,"2,317.41","2,318.89","2,289.30","2,294.13","2,294.13","2,030,700",GOOGL
...,...,...,...,...,...,...,...,...
53053,2020-12-21 00:00:00,110.71,113.78,108.73,112.54,112.54,"3,809,700",WYNN
53054,2020-12-21 00:00:00,146.80,148.06,141.70,145.28,145.28,"1,799,300",XLNX
53055,2020-12-21 00:00:00,366.00,376.73,363.00,375.91,375.91,"505,600",ZBRA
53056,2020-12-21 00:00:00,"30,159.00","30,304.14","29,755.53","30,216.45","30,216.45","437,480,000",^DJI
53057,2020-12-21 00:00:00,"3,684.28","3,702.90","3,636.48","3,694.92","3,694.92","4,732,160,000",^GSPC

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from SP500_companies ")
df = pd.read_sql_query(sql,connection)
df

In [ ]:
df[df.Symbol == "CLR"]

In [ ]:
df[193:]

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = (''' select * from prices 
--where date == "2021-05-19 00:00:00"

''')
price = pd.read_sql_query(sql,connection)
print(price.shape)
price.tail()

price

In [ ]:
price[price.open == "Stock Split"]

In [ ]:
price[price.open == "Dividend"]

In [ ]:
## Duplicates

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ('''select symbol, date, XX as count, AM 
from (Select symbol, date, COUNT(symbol) OVER(PARTITION BY symbol, date) as XX ,ROW_NUMBER() OVER(PARTITION BY symbol, date) as AM from prices) where XX > 1''')
df = pd.read_sql_query(sql,connection)
print(df.shape)
df.head()

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = (''' select date(date), * from prices 
where symbol = "FLIR"
order by date desc

''')
price = pd.read_sql_query(sql,connection)
print(price.shape)
price.head()

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select symbol, date from prices order by date desc")
df = pd.read_sql_query(sql,connection)
df

In [ ]:
for date in df.date.unique():

    connection = sqlite3.connect('MSC.db')
    cursor = connection.cursor()
    sql = (f"Select symbol from SP500_companies where symbol not in (select symbol from prices where date = '{date}')")
    miss = pd.read_sql_query(sql,connection)
    if len(list(miss.Symbol))>0:
        print(date)
        print(list(miss.Symbol))

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

sql = (f'''
Select symbol from SP500_companies 
where symbol not in (select distinct symbol from prices where date == "2021-05-21 00:00:00")
and  symbol not in ('BRK.B', 'BF.B', 'FLIR')'''
    )
df = pd.read_sql_query(sql,connection)
df

## Delete

connection = sqlite3.connect('MSC.db') 
cursor = connection.cursor() 
sql = ("delete from SP500_companies where symbol = 'CLR'") 
cursor.execute(sql) 
connection.commit()

## DF to SQL 

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
df_distinct.to_sql('prices', connection, index = False)
connection.commit()
connection.close()

In [ ]:
## ADD NEW COMERS

import pandas as pd
import requests
from datetime import datetime
import datetime
import sqlite3
import praw
from bs4 import BeautifulSoup
import re
import locale
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')


columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'
i = 'BRK-B'

r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
data = r.text
soup = BeautifulSoup(data, features="lxml")

for j in range (0, len(soup.find_all('td'))):
    try:
        if (type(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)) == pd._libs.tslibs.timestamps.Timestamp) == True and isinstance(locale.atof(soup.find_all('td')[j+1].text), (int, float, complex)) == True:
            answer = []
            answer.append(str(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)))
            answer = answer + [i.span.text for i in soup.find_all('td')[j+1: j+7]] + [i]
            print(answer)
            connection = sqlite3.connect('MSC.db')
            cursor = connection.cursor()
            sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
            eval(sql2)
            connection.commit()
            connection.close()
        else: pass
    except:pass

## ^VIX

import pandas as pd
import requests
from datetime import datetime
import datetime
import sqlite3
import praw
from bs4 import BeautifulSoup
import re
import locale
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')


columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'
i = '^VIX'

r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
data = r.text
soup = BeautifulSoup(data, features="lxml")

for j in range (0, len(soup.find_all('td'))):
    try:
        if (type(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)) == pd._libs.tslibs.timestamps.Timestamp) == True and isinstance(locale.atof(soup.find_all('td')[j+1].text), (int, float, complex)) == True:
            answer = []
            answer.append(str(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)))
            answer = answer + [i.span.text for i in soup.find_all('td')[j+1: j+6]]+['0'] + [i]
            print(answer)
            connection = sqlite3.connect('MSC.db')
            cursor = connection.cursor()
            sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
            eval(sql2)
            connection.commit()
            connection.close()
        else: pass
    except:pass

## Drop table

#https://www.sqlite.org/datatype3.html
cursor.executescript("DROP TABLE IF EXISTS prices")

In [ ]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('Select date(moment) as date, * from ER20202021')
z =pd.read_sql_query(sql,connection)
z.shape

## Alter

connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('ALTER TABLE top30 RENAME COLUMN date TO Date')
pd.read_sql_query(sql,connection)

In [ ]:
## Add new rows

columnnames = "'Company', 'Symbol', 'Weight'"
insertintotable = '?,?,?'
answer = ['CBOE Volatility Index','^VIX', '0']

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql2 = f'cursor.execute("insert INTO  SP500_companies ({columnnames}) VALUES ({insertintotable})", {answer})'
eval(sql2)
connection.commit()
connection.close()

In [ ]:
#Transfer to main folder
import shutil
newPath = shutil.copy('MSC.db', '/Users/Edite')

In [35]:
#Create strings for SQL injection
createtable, columnnames, insertintotable = "", "", ""

kolonas = ['date',"symbol",'neg', 'neu', 'pos', 'compound', "comment"]
z = len(kolonas)
for k in kolonas:
    if z > 1:
        createtable+= str(k + " TEXT,")
        columnnames += str(f"'{k}', ")
        insertintotable += str("?,")        
    else:
        createtable+= str(k + " TEXT")
        columnnames += str(k)
        insertintotable += str("?")
    z+= -1
    
#Drop and create the todays table
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
a = f"cursor.executescript('DROP TABLE IF EXISTS wb_sentiment')"
b = f"cursor.execute('CREATE TABLE wb_sentiment ({createtable} )')"
eval(a)
eval(b)

In [39]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from wb_sentiment order by date desc")
df = pd.read_sql_query(sql,connection)
df

,date,symbol,neg,neu,pos,compound,comment
0,2021-05-24,SPY,0.0,0.635,0.365,0.7845,Just throw your entire net worth in otm 0dte S...
1,2021-05-24,SPY,0.562,0.438,0.0,-0.911,I subbed for the 6 figure loss porn and the ab...
2,2021-05-24,SPY,0.843,0.157,0.0,-0.9141,RIP my SPY put
3,2021-05-24,SPY,0.202,0.565,0.234,-0.0516,"Lets be honest, most of us have puts & some y’..."
4,2021-05-24,SPY,0.381,0.619,0.0,-0.8398,So the guy who yolo-Ed $360k on 1 week SPY put...
...,...,...,...,...,...,...,...
228,2021-05-24,TGT,0.157,0.721,0.122,-0.1613,WMT TGT LOW HD - will retail still do ok for t...
229,2021-05-24,LOW,0.157,0.721,0.122,-0.1613,WMT TGT LOW HD - will retail still do ok for t...
230,2021-05-24,NFLX,0.239,0.621,0.14,-0.9034,u/JakTravis_u_SOB\n\nWhere does everyone think...
231,2021-05-24,VFC,0.0,0.222,0.778,0.8885,"Free money, VFC calls on Monday."
232,2021-05-24,PENN,0.0,0.751,0.249,0.5106,"Well, on Monday I will be the owner of 200 sha..."

In [91]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select  * from main order by date asc")
df = pd.read_sql_query(sql,connection)
df.tail()

,date,top1,top2,top3,top4,top5,top6,top7,top8,top9,...,top21,top22,top23,top24,top25,top26,top27,top28,top29,top30
138,2021-05-20,Facebook shuts down pro-Israel page with 77 mi...,Many Gazans cut off from the world as Israel t...,Russia warns Israel it won't tolerate more civ...,Israeli Prime Minister Benjamin Netanyahu reje...,"Female journalist beaten, finger broken for re...",Sirens sound in cities in Haifa area; rockets ...,Bangladeshi Journalist Could Face Death Penalt...,Palestinian President Mahmoud Abbas Wants Isra...,Palestine activists shut down Israeli drone ma...,...,Nearly 100 tonnes of oil recently spilled in t...,Life of Crime: Yakuza Membership Hits New Reco...,An Ecuadorian policeman was sentenced to three...,Israel accuses Chinese state TV of 'blatant an...,Bangladesh arrests journalist for COVID report...,The Israeli military has tried to kill the mil...,Chinese Mars rover returns first pictures,"""Spanish borders are European borders"" - EU de...",Manhunt launched for heavily-armed soldier who...,Israel shells targets in Lebanon after rocket ...
139,2021-05-21,Palestinian Head of internal medicine of main ...,UK government backs Israel’s bombardment of Gaza,Israeli media: Cabinet approves cease-fire in ...,Lithuanian parliament passes resolution condem...,Samoa to scrap China-backed port project under...,Boko Haram leader either dead or seriously wou...,Almost 40% of young people are waiting too lon...,"We will pursue you for life, Hong Kong warns w...",France's top court rejects move to restrict im...,...,World's largest iceberg breaks off of Antarcti...,Settlers deforesting Colombian national parks ...,Nigeria's Boko Haram leader 'badly wounded' du...,Japan ready to freeze all Myanmar development ...,"Based on imagery analysis, North Korea seems t...","A New, Infectious Coronavirus Is Detected In M...",Democratic Party leader Song Young-gil critici...,Apple employees call for company to support Pa...,German soldier who posed as refugee on trial f...,"Hamas welcomes rockets from Lebanon, Syria tow..."
140,2021-05-22,Iran shot down plane full of Canadians intenti...,Saudi Arabia plans to plant 10 billion trees i...,Germany bans male chick culling from 2022: The...,France gives all 18-year-olds €300 to spend on...,LSD 'rewinds' the brains functions and makes i...,CNN : Israeli forces in violent confrontations...,Toronto activists paint Israeli consulate step...,Owner of AP tower destroyed in Israeli airstri...,China says it will crack down on bit-coin mini...,...,Brazilian ex-presidents and longtime rivals Lu...,Former Canadian ambassador to Israel worked fo...,Blast kills several at pro-Palestine rally in ...,Richest nations agree to end support for coal ...,Four Ethiopian soldiers convicted of crimes ag...,Arctic Has Warmed Three Times Faster Than Eart...,‘Black fungus’ disease linked to Covid spreads...,Pentagon chief unable to talk to Chinese milit...,"Hamas' Haniyeh vows to destabilize Jerusalem, ...",Israel PM Benjamin Netanyahu threatens 'new le...
141,2021-05-23,Tens of thousands attend largest pro-Palestine...,Anti-Netanyahu protesters gathered outside the...,"Hundreds of Jews, Arabs gather to protest in S...","India tells social media firms to remove ""Indi...",Croatia: Court ruling paves way for same-sex c...,Climbing guide reports large COVID-19 outbreak...,COVID-19 deaths in Latin America surpass 1 mil...,Another 7 activists arrested on Vancouver Isla...,South African dockworkers refuse to offload Is...,...,"Polish government hits out at ""colonial"" EU co...",Climbing guide says Covid outbreak on Mount Ev...,Bolsonaro fined for breaking Covid-19 restrict...,"More than 125,000 Myanmar teachers suspended f...",UN urges ‘full adherence to ceasefire’ as life...,Albert Einstein letter with E=mc2 equation wri...,Virgin Galactic rocket plane flies to edge of ...,‘Disgraceful’: AP slammed for sacking reporter...,Yesh Atid to expedite legislation to curtail N...,At least 274 people - including 71 children - ...
142,2021-05-24,"Up to 40 bodies, mostly women, found buried on...",Irish parliament to vote on motion to expel Is...,Iraq estimates that $150 billion of its oil mo...,Black Lives Matter activist Sasha Johnson 'in ...,Wuhan Lab Staff Sought Hospital Care Before CO...,Belarus opposition says government forced Ryan...,The diversion of a flight between two EU count...,Eight dead after cable car falls in Italy,World's Largest Iceberg Breaks Off of Antarcti...,...,Iran says inspectors may no longer get nuclear...,France fears ‘apartheid’ in Israel if Palestin...,ISIS won’t get $7 million bounty placed on Bok...,‘A ticking time bomb’: Timor-Leste begins to r...,A gun battle erupted on Sunday between Myanmar...,Israeli officials 'regret' bombing Gaza AP bur...,Mount Everest Covid outbreak has infected 100 ...,India battles fatal fungal threat as virus dea...,Australian hoarder killed intruder and kept bo...,‘Tragic’ that just over 25M vaccine doses admi...

connection = sqlite3.connect('MSC.db') 
cursor = connection.cursor() 
sql = ("delete from main where date == '2021-05-19'") 
cursor.execute(sql) 
connection.commit()

In [103]:
import pandas as pd

for i in pd.date_range(start='01/01/2021', end='24/05/2021'):
    print(df[df.date == i])

Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]
Empty DataFrame
Columns: [date, top1, top2, top3, top4, top5, top6, top7, top8, top9, top10, top11, top12, top13, top14, top15, top16, top17, top18, top19, top20, top21, top22, top23, top24, top25, top26, top27, top28, top29, top30]
Index: []

[0 rows x 31 columns]

In [93]:
pd.date_range(start='01/01/2021', end='24/05/2021')

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2021-05-15', '2021-05-16', '2021-05-17', '2021-05-18',
               '2021-05-19', '2021-05-20', '2021-05-21', '2021-05-22',
               '2021-05-23', '2021-05-24'],
              dtype='datetime64[ns]', length=144, freq='D')

In [98]:
df[df.date == "2021-05-23"]

,date,top1,top2,top3,top4,top5,top6,top7,top8,top9,...,top21,top22,top23,top24,top25,top26,top27,top28,top29,top30
141,2021-05-23,Tens of thousands attend largest pro-Palestine...,Anti-Netanyahu protesters gathered outside the...,"Hundreds of Jews, Arabs gather to protest in S...","India tells social media firms to remove ""Indi...",Croatia: Court ruling paves way for same-sex c...,Climbing guide reports large COVID-19 outbreak...,COVID-19 deaths in Latin America surpass 1 mil...,Another 7 activists arrested on Vancouver Isla...,South African dockworkers refuse to offload Is...,...,"Polish government hits out at ""colonial"" EU co...",Climbing guide says Covid outbreak on Mount Ev...,Bolsonaro fined for breaking Covid-19 restrict...,"More than 125,000 Myanmar teachers suspended f...",UN urges ‘full adherence to ceasefire’ as life...,Albert Einstein letter with E=mc2 equation wri...,Virgin Galactic rocket plane flies to edge of ...,‘Disgraceful’: AP slammed for sacking reporter...,Yesh Atid to expedite legislation to curtail N...,At least 274 people - including 71 children - ...