In [1]:
import pandas as pd
import sqlite3

# Reddit news

In [ ]:
import string
string.punctuation

In [ ]:
kolonas = ['date']+['top'+str(i) for i in range(1,31)]
print(kolonas)

In [ ]:
df = pd.DataFrame(columns = kolonas)

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

In [ ]:
sql = ("Select date(moment) as date, title from top30 where date = '2021-05-05'")
z = pd.read_sql_query(sql,connection)

In [ ]:
for d in z.date.unique():
    atbilde =[]
    atbilde.append(d)
    #print(atbilde)
    for title in z.title[z.date == d]:
        atbilde.append(title)
        
    df.loc[len(df)] = atbilde

In [ ]:
df.to_sql('main', connection, if_exists='append',index=False)

In [ ]:
atbilde = []
atbilde.append(z.date[0])
#print(atbilde)

for title in z.title:
    atbilde.append(title)
        
print(atbilde)
df.loc[len(df)] = atbilde

# delete

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("DELETE from top30 where moment  between '2021-03-30 11:17:11.915369' and '2021-03-30 11:18:48.647641'")
cursor.execute(sql)
connection.commit()

# Yahoo finance

In [ ]:
from bs4 import BeautifulSoup
import requests
import re

In [ ]:
df = pd.DataFrame(columns = ['date','SP500_Open', 'SP500_High', 'SP500_Low', 'SP500_Close', 'SP500_Adj_Close', 'SP500_Volume'])
df

In [ ]:
str([str('SP500_')+i for i in df.columns])

## S&P 500 (^GSPC)
SNP - SNP Real Time Price. Currency in USD

In [ ]:
url = "https://finance.yahoo.com/quote/%5EGSPC/history?p=%5EGSPC"

In [ ]:
r = requests.get(url)
data = r.text
soup = BeautifulSoup(data)

In [ ]:
answer = []
for i in soup.find_all('td')[0:7]:
    #print(i.span)
    print(i.span.text)
    answer.append(i.span.text)
    #print(len(answer)

for i in range(0, int(len(answer))//7):
    atbilde = []
    #print(i)
    for j in range (0,7):
        if j == 0:
            atbilde.append(pd.to_datetime(answer[i*7+j], infer_datetime_format=True))
        else:
            atbilde.append(answer[i*7+j])
    df.loc[len(df)] = atbilde

In [ ]:
connection = sqlite3.connect('MSC/MSC.db')
cursor = connection.cursor()
sql = ("Select date(moment) as date, title from top30 where moment>date('now')")
z = pd.read_sql_query(sql,connection)

atbilde = []
columnnames = "'date', 'top1', 'top2', 'top3', 'top4', 'top5', 'top6', 'top7', 'top8', 'top9', 'top10', 'top11', 'top12', 'top13', 'top14', 'top15', 'top16', 'top17', 'top18', 'top19', 'top20', 'top21', 'top22', 'top23', 'top24', 'top25', 'top26', 'top27', 'top28', 'top29', top30"
insertintotable = '?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?'
atbilde = [z.date[0]] +[i for i in  z.title]

connection = sqlite3.connect('MSC/MSC.db')
cursor = connection.cursor()
sql2 = f'cursor.execute("insert INTO  main ({columnnames}) VALUES ({insertintotable})", {atbilde})'
eval(sql2)
connection.commit()
connection.close()
print("Appended to MAIN")

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from DJI")
z = pd.read_sql_query(sql,connection).columns
z

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select max(date) as date from SP500")
z = pd.read_sql_query(sql,connection)
latest_date = z.date[0]

##SP500
url = "https://finance.yahoo.com/quote/%5EGSPC/history?p=%5EGSPC"
r = requests.get(url)
data = r.text
soup = BeautifulSoup(data)

answer = []
if str(pd.to_datetime(soup.find_all('td')[0].text, infer_datetime_format=True)) == latest_date:
    print('Stop. This data point is already in the data base')
else:
    print('Lets get scraping')
    answer.append(str(pd.to_datetime(soup.find_all('td')[0].text, infer_datetime_format=True)))
    answer = answer + [i.span.text for i in soup.find_all('td')[1:7]]
    
    columnnames = "'Date', 'SP500_Open', 'SP500_High', 'SP500_Low', 'SP500_Close','SP500_Adj_Close', 'SP500_Volume'"
    insertintotable = '?,?,?,?,?,?,?'
    
    connection = sqlite3.connect('MSC/MSC.db')
    cursor = connection.cursor()
    sql2 = f'cursor.execute("insert INTO  SP500 ({columnnames}) VALUES ({insertintotable})", {answer})'
    eval(sql2)
    connection.commit()
    connection.close()
    print(f"{answer[0]} appended to SP500")
    
    
    ## DJI
    url = "https://finance.yahoo.com/quote/%5EDJI/history?p=%5EDJI"
    r = requests.get(url)
    data = r.text
    soup = BeautifulSoup(data)
    
    answer = []
    answer.append(str(pd.to_datetime(soup.find_all('td')[0].text, infer_datetime_format=True)))
    answer = answer + [i.span.text for i in soup.find_all('td')[1:7]]
    
    columnnames = "'date', 'SP500_Open', 'SP500_High', 'SP500_Low', 'SP500_Close','SP500_Adj_Close', 'SP500_Volume'"
    insertintotable = '?,?,?,?,?,?,?'
    
    connection = sqlite3.connect('MSC/MSC.db')
    cursor = connection.cursor()
    sql2 = f'cursor.execute("insert INTO  SP500 ({columnnames}) VALUES ({insertintotable})", {answer})'
    eval(sql2)
    connection.commit()
    connection.close()
    print(f"{answer[0]} appended to DJI")
    
    
answer

In [ ]:
df.to_sql('SP500', connection, if_exists='append',index=False)

## Dow Jones Industrial Average (^DJI)
DJI - DJI Real Time Price. Currency in USD

In [ ]:
url = "https://finance.yahoo.com/quote/%5EDJI/history?p=%5EDJI"

In [ ]:
df = pd.DataFrame(columns = ['date', 'DJI_Open', 'DJI_High', 'DJI_Low', 'DJI_Close', 'DJI_Adj_Close', 'DJI_Volume'])
df

In [ ]:
columns_new = [str('DJI_')+i for i in df.columns]

In [ ]:
r = requests.get(url)
data = r.text
soup = BeautifulSoup(data)

In [ ]:
answer = []
for i in soup.find_all('td'):
    #print(i.span)
    #print(i.span.text)
    answer.append(i.span.text)
    #print(len(answer)

In [ ]:
for i in range(0, int(len(answer))//7):
    atbilde = []
    #print(i)
    for j in range (0,7):
        if j == 0:
            atbilde.append(pd.to_datetime(answer[i*7+j], infer_datetime_format=True))
        else:
            atbilde.append(answer[i*7+j])
    df.loc[len(df)] = atbilde

In [ ]:
df

In [ ]:
df.to_sql('DJI', connection, if_exists='append',index=False)

# Merge

In [2]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

sql = ('''Select 
            main.date,
            top1,top2,top3,top4,top5,
            top6,top7,top8,top9,top10,
            top11,top12,top13,top14,top15,
            top16,top17,top18,top19,top20,
            top21,top22,top23,top24,top25,
            top26,top27,top28,top29,top30,
            
            DJI_Open,
            DJI_High,
            DJI_Low,
            DJI_Close,
            DJI_Adj_Close,
            
            SP500_Open,
            SP500_High,
            SP500_Low,
            SP500_Close,
            SP500_Adj_Close

            from main
            left join DJI on
            main.date = date(DJI.Date)
            left join SP500 on
            main.date = date(SP500.Date)

       ''')
df = pd.read_sql_query(sql,connection)
df.head(2)

,date,top1,top2,top3,top4,top5,top6,top7,top8,top9,...,DJI_Open,DJI_High,DJI_Low,DJI_Close,DJI_Adj_Close,SP500_Open,SP500_High,SP500_Low,SP500_Close,SP500_Adj_Close
0,2021-03-09,China breaching every act in genocide conventi...,"Around 1,000 women gather in Istanbul to prote...",Greta Thunberg says Biden isn’t doing ‘nearly ...,Humans have 'destroyed or degraded' two-thirds...,Biden and Europe allies worry Israel is prepar...,Syrian President Assad tests positive for COVI...,Covid-19: 'Certain inevitability' that visitor...,First Nation asks UN expert to probe systemic ...,Brazil Supreme Court judge annuls ex-president...,...,"31,892.35","32,150.32","31,822.64","31,832.74","31,832.74","3,851.93","3,903.76","3,851.93","3,875.44","3,875.44"
1,2021-03-10,Scientists Discover Chunk of Protoplanet Older...,'Shoot till they are dead': Some Myanmar polic...,"Biden to meet virtually with leaders of Japan,...","Up to 1,000 Christian, Hindu and Sikh girls ar...","Papuan island inhabitants, whose island was of...",China’s appetite for meat fades as vegan revol...,French nuclear tests infected 'almost entire P...,Sex between coaches and teenagers in their car...,'Right to repair' law to come into effect this...,...,"31,906.96","32,389.50","31,906.96","32,297.02","32,297.02","3,891.99","3,917.35","3,885.73","3,898.81","3,898.81"

In [4]:
df

,date,top1,top2,top3,top4,top5,top6,top7,top8,top9,...,DJI_Open,DJI_High,DJI_Low,DJI_Close,DJI_Adj_Close,SP500_Open,SP500_High,SP500_Low,SP500_Close,SP500_Adj_Close
0,2021-03-09,China breaching every act in genocide conventi...,"Around 1,000 women gather in Istanbul to prote...",Greta Thunberg says Biden isn’t doing ‘nearly ...,Humans have 'destroyed or degraded' two-thirds...,Biden and Europe allies worry Israel is prepar...,Syrian President Assad tests positive for COVI...,Covid-19: 'Certain inevitability' that visitor...,First Nation asks UN expert to probe systemic ...,Brazil Supreme Court judge annuls ex-president...,...,"31,892.35","32,150.32","31,822.64","31,832.74","31,832.74","3,851.93","3,903.76","3,851.93","3,875.44","3,875.44"
1,2021-03-10,Scientists Discover Chunk of Protoplanet Older...,'Shoot till they are dead': Some Myanmar polic...,"Biden to meet virtually with leaders of Japan,...","Up to 1,000 Christian, Hindu and Sikh girls ar...","Papuan island inhabitants, whose island was of...",China’s appetite for meat fades as vegan revol...,French nuclear tests infected 'almost entire P...,Sex between coaches and teenagers in their car...,'Right to repair' law to come into effect this...,...,"31,906.96","32,389.50","31,906.96","32,297.02","32,297.02","3,891.99","3,917.35","3,885.73","3,898.81","3,898.81"
2,2021-03-11,Conspiracy Theorist Who Stormed Trudeau’s Prop...,Biden says he’ll share surplus US vaccines wit...,Mexico Passes Bill to Legalize Cannabis,"India now as autocratic as Pakistan, worse tha...",Thousands in India demand top judge resign ove...,"Hong Kong: China approves ""patriotic"" plan to ...",Myanmar’s military on ‘killing spree’ against ...,The Pfizer-BioNTech coronavirus vaccine 97% ef...,Myanmar's searing smartphone images flood a wa...,...,"32,354.50","32,661.59","32,345.70","32,485.59","32,485.59","3,915.54","3,960.27","3,915.54","3,939.34","3,939.34"
3,2021-03-12,"Us secretary of state calls Taiwan ""country""","Myanmar's military is likely committing ""crime...",Vaccination of Toronto's homeless well underwa...,Novavax vaccine 96% effective against original...,"Kremlin critic Navalny moved from jail, wherea...",Global warming leads to fish die off in South ...,12 protesters killed in Myanmar as military de...,Drug clan leader testifies he bribed Honduran ...,Canadian health officials watching probes of A...,...,"32,462.40","32,793.32","32,462.40","32,778.64","32,778.64","3,924.52","3,944.99","3,915.21","3,943.34","3,943.34"
4,2021-03-13,Unions call strike at Amazon's logistic operat...,Sri Lanka will ban the wearing of the burqa an...,U.S. Offers Protected Status For People From M...,Japan detects new coronavirus variant from tra...,Odisha Man Creates 25 Acres of Mangrove Forest...,Sarah Everard: Met Police officer charged with...,Myanmar Protest Leader Wants The Military Out ...,"Russia detains around 150 people, including le...",'Covid is taking over': Brazil plunges into de...,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,2021-05-08,Scientists in the Netherlands have taught bees...,"A Yemeni model arrested two months ago for ""ch...",80 percent of Pakistan’s pangolins lost to ill...,Afghanistan is being overrun by crystal meth a...,China has urged United Nations member states n...,Bill Gates backed company releases first batch...,Anti-Olympics campaign gains traction online i...,"COVID is killing 120 people an hour in India, ...",Sheikh Jarrah Evictions Posts Being Censored b...,...,None,None,None,None,None,None,None,None,None,None
61,2021-05-09,Dozens of German priests will defy the Vatican...,Evidence of nine Neanderthals found in Italian...,Gay Croatian couple’s five-year legal battle e...,Senior Swiss diplomat in Iran found dead after...,Scottish nationalists vow new independence vot...,Pope Francis backs vaccine patents waiver to e...,Kabul attack: Blast near school leaves at leas...,Covid-sparked fungal infection assuming epidem...,Melting Glaciers Have Exposed Frozen Relics of...,...,None,None,None,None,None,None,None,None,None,None
62,2021-05-10,Indigenous leaders launch $2.1 billion class-a...,Russian Doc Who Lied About Navalny Poisoning ‘...,Angry protests have broken out in Kyrgyzstan a...,"More than 50 people, many of them female stude...",Queen’s cousin Prince Michael of Kent accused ...,Arab world condemns Israel Police for violent ...,NASA criticizes China after rocket debris land...,Thousands to march in France demanding real ac...,"Myanmar poet dies after detention, body return...",...,"34,785.27","35,091.56","34,741.57","34,742.82","34,742.82","4,228.29","4,236.39","4,188.13","4,188.43","4,188.43"
63,2021-05-11,Zero Covid deaths recorded yesterday for Engla...,"Israeli airstrikes on Gaza kill 20 people, inc...",Stop evictions in East Jerusalem neighbourhood...,"Instagram, Twitter deleting posts about Palest...",Boris Johnson investigated over Caribbean holi...,"Rocket sirens sound in Jerusalem, Israel amid ...",WHO classifies triple-mutant Covid variant fro...,Dozens of bodies believed to be Covid-19 victi...,Missing Siberian doctor who treated Kremlin cr...,...,"34,572.74","34,572.74","34,075.31","34,269.16","34,269.16","4,150.34","4,162.04","4,111.53","4,152.10","4,152.10"
64,2021-05-12,Indian government says 5G doesn’t cause COVID-...,Largest 13 story residential building in Gaza ...,China demands cancellation of UN meeting on Uy...,Taiwan says China is 'maliciously' blocking it...,US officials believe Russia may be behind the ...,UK to ban LGBT conversion therapy and provide ...,Up to 9 Killed in Russia School Shooting,"1 dead, 3 severely injured, as 'largest ever' ...",Hundreds of South Africans rallied on Tuesday ...,...,None,None,None,None,None,None,None,None,None,None

In [7]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

sql = ('''Select * from DJI

       ''')
df = pd.read_sql_query(sql,connection)
df.tail(10)

,date,DJI_Open,DJI_High,DJI_Low,DJI_Close,DJI_Adj_Close,DJI_Volume
90,2020-12-28 00:00:00,"30,283.23","30,525.56","30,283.23","30,403.97","30,403.97","3,024,900"
91,2020-12-24 00:00:00,"30,155.92","30,209.67","30,099.30","30,199.87","30,199.87","1,455,700"
92,2020-12-23 00:00:00,"30,046.73","30,292.53","30,046.73","30,129.83","30,129.83","2,740,500"
93,2020-12-22 00:00:00,"30,200.20","30,200.20","29,992.89","30,015.51","30,015.51","3,888,100"
94,2020-12-21 00:00:00,"30,159.00","30,304.14","29,755.53","30,216.45","30,216.45","4,374,800"
95,2020-12-18 00:00:00,"30,314.26","30,343.59","30,029.44","30,179.05","30,179.05","7,820,700"
96,2020-12-17 00:00:00,"30,216.00","30,323.78","30,216.00","30,303.37","30,303.37","3,455,300"
97,2020-12-16 00:00:00,"30,191.38","30,236.03","30,080.11","30,154.54","30,154.54","3,445,900"
98,2020-12-15 00:00:00,"29,919.09","30,243.26","29,894.95","30,199.31","30,199.31","4,177,700"
99,2020-12-14 00:00:00,"30,123.91","30,325.79","29,849.15","29,861.55","29,861.55","3,719,800"

In [8]:
df.columns

Index(['date', 'DJI_Open', 'DJI_High', 'DJI_Low', 'DJI_Close', 'DJI_Adj_Close',
       'DJI_Volume'],
      dtype='object')

In [ ]:
df = df[['date', 'top1', 'top2', 'top3', 'top4', 'top5', 'top6', 'top7', 'top8',
       'top9', 'top10', 'top11', 'top12', 'top13', 'top14', 'top15', 'top16',
       'top17', 'top18', 'top19', 'top20', 'top21', 'top22', 'top23', 'top24',
       'top25', 'top26', 'top27', 'top28', 'top29', 'top30']]

df.isnull().sum()

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import StandardScaler
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from textblob import TextBlob

In [ ]:
Anakin = SentimentIntensityAnalyzer()
Anakin.polarity_scores(" ")

In [ ]:
def detect_subjectivity(text):
    '''
    subjectivity is a float within the range [0.0, 1.0] where 0.0 is very objective and 1.0 is very subjective.
    '''
    return TextBlob(text).sentiment.subjectivity

detect_subjectivity(" ") #should return 0

In [ ]:
start_vect=time.time()
#get the name of the headline columns
cols = []
for i in range(1,31):
    col = ("top{}".format(i))
    cols.append(col)
    
for col in cols:
    df[col] = df[col].astype(str) # Make sure data is treated as a string
    df[col+'_comp']= df[col].apply(lambda x:Anakin.polarity_scores(x)['compound'])
    df[col+'_sub'] = df[col].apply(detect_subjectivity)
    print("{} Done".format(col))
    
print("VADER: Vaderization completed after %0.2f Minutes"%((time.time() - start_vect)/60))

In [ ]:
#the text isn't required anymore
df = df.drop(cols,axis=1)
df.head()

In [ ]:
import numpy as np

In [ ]:
len(df)

In [ ]:
comp_cols = [col + "_comp" for col in cols]

w = np.arange(1,31,1).tolist()
w.reverse()

weighted_comp = []
max_comp = []
min_comp = []
for i in range(0,len(df)):
    a = df.loc[i,comp_cols].tolist()
    weighted_comp.append(np.average(a, weights=w))
    max_comp.append(max(a))
    min_comp.append(min(a))
    
df['compound_mean'] = weighted_comp
df['compound_max'] = max_comp
df['compound_min'] = min_comp

sub_cols = [col + "_sub" for col in cols]

weighted_sub = []
max_sub = []
min_sub = []
for i in range(0,len(df)):
    a = df.loc[i,sub_cols].tolist()
    weighted_sub.append(np.average(a, weights=w))
    max_sub.append(max(a))
    min_sub.append(min(a))

df['subjectivity_mean'] = weighted_sub
df['subjectivity_max'] = max_sub
df['subjectivity_min'] = min_sub

to_drop = sub_cols+comp_cols
df = df.drop(to_drop, axis=1)

In [ ]:
import plotly.graph_objects as go

fig3 = go.Figure()
fig3.add_trace(go.Scatter(x=df.date, y=df.subjectivity_mean,
                    mode='lines',
                    name='Mean'))
fig3.add_trace(go.Scatter(x=df.date, y=df.subjectivity_min,
                    mode='lines',
                    name='Min'))
fig3.add_trace(go.Scatter(x=df.date, y=df.subjectivity_max,
                    mode='lines',
                    name='Max'))
title = []
title.append(dict(xref='paper', yref='paper', x=0.0, y=1.05,
                              xanchor='left', yanchor='bottom',
                              text='Development of subjectivity score',
                              font=dict(family='Arial',
                                        size=30,
                                        color='rgb(37,37,37)'),
                              showarrow=False))
fig3.update_layout(xaxis_title='Date',
                   yaxis_title='Subjectivity score',
                  annotations=title)
fig3.show()

In [14]:
##SP500
from bs4 import BeautifulSoup
import requests
import pandas as pd
import sqlite3
    
    
## DJI
url = "https://finance.yahoo.com/quote/%5EDJI/history?p=%5EDJI"
r = requests.get(url)
data = r.text
soup = BeautifulSoup(data, features="lxml")

answer = []
answer.append(str(pd.to_datetime(soup.find_all('td')[0].text, infer_datetime_format=True)))
answer = answer + [i.span.text for i in soup.find_all('td')[1:7]]

columnnames = "'date', 'DJI_Open', 'DJI_High', 'DJI_Low', 'DJI_Close', 'DJI_Adj_Close','DJI_Volume'"
insertintotable = '?,?,?,?,?,?,?'

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql2 = f'cursor.execute("insert INTO  DJI ({columnnames}) VALUES ({insertintotable})", {answer})'
eval(sql2)
connection.commit()
connection.close()
print(f"{answer[0]} appended to DJI")

2021-05-11 00:00:00 appended to DJI

In [31]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

sql = ('''Select * from SP500
       ''')
df = pd.read_sql_query(sql,connection)
df.head()

,Date,SP500_Open,SP500_High,SP500_Low,SP500_Close,SP500_Adj_Close,SP500_Volume
0,2021-05-07 00:00:00,"4,210.34","4,233.04","4,201.64","4,233.04","4,233.04","357,543,290"
1,2021-05-06 00:00:00,"4,169.14","4,202.70","4,147.33","4,201.62","4,201.62","4,504,860,000"
2,2021-05-05 00:00:00,"4,177.06","4,187.72","4,160.94","4,167.59","4,167.59","4,029,050,000"
3,2021-05-04 00:00:00,"4,179.04","4,179.04","4,128.59","4,164.66","4,164.66","4,441,080,000"
4,2021-05-03 00:00:00,"4,191.98","4,209.39","4,188.03","4,192.66","4,192.66","4,061,170,000"