In [1]:
import pandas as pd
import sqlite3

# Reddit news

In [ ]:
import string
string.punctuation

In [ ]:
kolonas = ['date']+['top'+str(i) for i in range(1,31)]
print(kolonas)

In [ ]:
df = pd.DataFrame(columns = kolonas)

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

In [ ]:
sql = ("Select date(moment) as date, title from top30 where date = '2021-05-05'")
z = pd.read_sql_query(sql,connection)

In [ ]:
for d in z.date.unique():
    atbilde =[]
    atbilde.append(d)
    #print(atbilde)
    for title in z.title[z.date == d]:
        atbilde.append(title)
        
    df.loc[len(df)] = atbilde

In [ ]:
df.to_sql('main', connection, if_exists='append',index=False)

In [ ]:
atbilde = []
atbilde.append(z.date[0])
#print(atbilde)

for title in z.title:
    atbilde.append(title)
        
print(atbilde)
df.loc[len(df)] = atbilde

# delete

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("DELETE from top30 where moment  between '2021-03-30 11:17:11.915369' and '2021-03-30 11:18:48.647641'")
cursor.execute(sql)
connection.commit()

# Yahoo finance

In [ ]:
from bs4 import BeautifulSoup
import requests
import re

In [ ]:
df = pd.DataFrame(columns = ['date','SP500_Open', 'SP500_High', 'SP500_Low', 'SP500_Close', 'SP500_Adj_Close', 'SP500_Volume'])
df

In [ ]:
str([str('SP500_')+i for i in df.columns])

## S&P 500 (^GSPC)
SNP - SNP Real Time Price. Currency in USD

In [ ]:
url = "https://finance.yahoo.com/quote/%5EGSPC/history?p=%5EGSPC"

In [ ]:
r = requests.get(url)
data = r.text
soup = BeautifulSoup(data)

In [ ]:
answer = []
for i in soup.find_all('td')[0:7]:
    #print(i.span)
    print(i.span.text)
    answer.append(i.span.text)
    #print(len(answer)

for i in range(0, int(len(answer))//7):
    atbilde = []
    #print(i)
    for j in range (0,7):
        if j == 0:
            atbilde.append(pd.to_datetime(answer[i*7+j], infer_datetime_format=True))
        else:
            atbilde.append(answer[i*7+j])
    df.loc[len(df)] = atbilde

In [ ]:
connection = sqlite3.connect('MSC/MSC.db')
cursor = connection.cursor()
sql = ("Select date(moment) as date, title from top30 where moment>date('now')")
z = pd.read_sql_query(sql,connection)

atbilde = []
columnnames = "'date', 'top1', 'top2', 'top3', 'top4', 'top5', 'top6', 'top7', 'top8', 'top9', 'top10', 'top11', 'top12', 'top13', 'top14', 'top15', 'top16', 'top17', 'top18', 'top19', 'top20', 'top21', 'top22', 'top23', 'top24', 'top25', 'top26', 'top27', 'top28', 'top29', top30"
insertintotable = '?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?'
atbilde = [z.date[0]] +[i for i in  z.title]

connection = sqlite3.connect('MSC/MSC.db')
cursor = connection.cursor()
sql2 = f'cursor.execute("insert INTO  main ({columnnames}) VALUES ({insertintotable})", {atbilde})'
eval(sql2)
connection.commit()
connection.close()
print("Appended to MAIN")

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from DJI")
z = pd.read_sql_query(sql,connection).columns
z

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select max(date) as date from SP500")
z = pd.read_sql_query(sql,connection)
latest_date = z.date[0]

##SP500
url = "https://finance.yahoo.com/quote/%5EGSPC/history?p=%5EGSPC"
r = requests.get(url)
data = r.text
soup = BeautifulSoup(data)

answer = []
if str(pd.to_datetime(soup.find_all('td')[0].text, infer_datetime_format=True)) == latest_date:
    print('Stop. This data point is already in the data base')
else:
    print('Lets get scraping')
    answer.append(str(pd.to_datetime(soup.find_all('td')[0].text, infer_datetime_format=True)))
    answer = answer + [i.span.text for i in soup.find_all('td')[1:7]]
    
    columnnames = "'Date', 'SP500_Open', 'SP500_High', 'SP500_Low', 'SP500_Close','SP500_Adj_Close', 'SP500_Volume'"
    insertintotable = '?,?,?,?,?,?,?'
    
    connection = sqlite3.connect('MSC/MSC.db')
    cursor = connection.cursor()
    sql2 = f'cursor.execute("insert INTO  SP500 ({columnnames}) VALUES ({insertintotable})", {answer})'
    eval(sql2)
    connection.commit()
    connection.close()
    print(f"{answer[0]} appended to SP500")
    
    
    ## DJI
    url = "https://finance.yahoo.com/quote/%5EDJI/history?p=%5EDJI"
    r = requests.get(url)
    data = r.text
    soup = BeautifulSoup(data)
    
    answer = []
    answer.append(str(pd.to_datetime(soup.find_all('td')[0].text, infer_datetime_format=True)))
    answer = answer + [i.span.text for i in soup.find_all('td')[1:7]]
    
    columnnames = "'date', 'SP500_Open', 'SP500_High', 'SP500_Low', 'SP500_Close','SP500_Adj_Close', 'SP500_Volume'"
    insertintotable = '?,?,?,?,?,?,?'
    
    connection = sqlite3.connect('MSC/MSC.db')
    cursor = connection.cursor()
    sql2 = f'cursor.execute("insert INTO  SP500 ({columnnames}) VALUES ({insertintotable})", {answer})'
    eval(sql2)
    connection.commit()
    connection.close()
    print(f"{answer[0]} appended to DJI")
    
    
answer

In [ ]:
df.to_sql('SP500', connection, if_exists='append',index=False)

## Dow Jones Industrial Average (^DJI)
DJI - DJI Real Time Price. Currency in USD

In [ ]:
url = "https://finance.yahoo.com/quote/%5EDJI/history?p=%5EDJI"

In [ ]:
df = pd.DataFrame(columns = ['date', 'DJI_Open', 'DJI_High', 'DJI_Low', 'DJI_Close', 'DJI_Adj_Close', 'DJI_Volume'])
df

In [ ]:
columns_new = [str('DJI_')+i for i in df.columns]

In [ ]:
r = requests.get(url)
data = r.text
soup = BeautifulSoup(data)

In [ ]:
answer = []
for i in soup.find_all('td'):
    #print(i.span)
    #print(i.span.text)
    answer.append(i.span.text)
    #print(len(answer)

In [ ]:
for i in range(0, int(len(answer))//7):
    atbilde = []
    #print(i)
    for j in range (0,7):
        if j == 0:
            atbilde.append(pd.to_datetime(answer[i*7+j], infer_datetime_format=True))
        else:
            atbilde.append(answer[i*7+j])
    df.loc[len(df)] = atbilde

In [ ]:
df

In [ ]:
df.to_sql('DJI', connection, if_exists='append',index=False)

# SP500 companies

In [2]:
from bs4 import BeautifulSoup
import requests
import re

df = pd.read_excel('SP500.xlsx')

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from SP500_companies")
df = pd.read_sql_query(sql,connection)
df.head()

In [ ]:
df[df.Symbol == 'FLIR']

### Insert DJI and SP500 in the same table
### One less step in ETL

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

columnnames = "'Company', 'Symbol', 'Weight'"
insertintotable = '?,?,?'

answer = ['Dow Jones Industrial Average', '^DJI', '100']
sql2 = f'cursor.execute("insert INTO  SP500_companies ({columnnames}) VALUES ({insertintotable})", {answer})'
eval(sql2)
connection.commit()
connection.close()

In [ ]:
columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'

for i in df.Symbol[490:]:
    r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    print(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    data = r.text
    soup = BeautifulSoup(data, features="lxml")
    ofset = 0
    for j in range(0, int(len(soup.find_all('td')))//7):  
        #if type(soup.find_all('td')[j*7+1+ofset].span.text) != int and type(soup.find_all('td')[j*7+1+ofset].span.text) != float:
        if soup.find_all('td')[j*7+1+ofset].span.text == "Dividend" or soup.find_all('td')[j*7+1+ofset].span.text == "Stock Split":
            ofset += 2
        try:
            answer = []
            answer.append(str(pd.to_datetime(soup.find_all('td')[j*7+ofset].text, infer_datetime_format=True)))
            answer = answer + [i.span.text for i in soup.find_all('td')[j*7+1+ofset:j*7+7+ofset]] + [i]
        except:
            answer = []
            ofset += 2
        print(answer)
        connection = sqlite3.connect('MSC.db')
        cursor = connection.cursor()
        sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
        eval(sql2)
        connection.commit()
        connection.close()

In [ ]:
columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'

for i in df.Symbol[:3]:
    r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    print(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    data = r.text
    soup = BeautifulSoup(data, features="lxml")
    ofset = 0
    for j in range(0, int(len(soup.find_all('td')))//7):  
        #if type(soup.find_all('td')[j*7+1+ofset].span.text) != int and type(soup.find_all('td')[j*7+1+ofset].span.text) != float:
        if soup.find_all('td')[j*7+1+ofset].span.text == "Dividend" or soup.find_all('td')[j*7+1+ofset].span.text == "Stock Split":
            ofset += 2
        try:
            answer = []
            answer.append(str(pd.to_datetime(soup.find_all('td')[j*7+ofset].text, infer_datetime_format=True)))
            answer = answer + [i.span.text for i in soup.find_all('td')[j*7+1+ofset:j*7+7+ofset]] + [i]
        except:
            answer = []
            ofset += 2
        print(answer)
        connection = sqlite3.connect('MSC.db')
        cursor = connection.cursor()
        sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
        eval(sql2)
        connection.commit()
        connection.close()

In [119]:
#for symbol in df
no_financials = "'BRK.B', 'BF.B', 'FLIR'"

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = (f"Select * from SP500_companies where symbol not in ({no_financials})")
df = pd.read_sql_query(sql,connection)
connection.commit()
connection.close()

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from prices order by date desc")
z = pd.read_sql_query(sql,connection)
connection.commit()
connection.close()

columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'

for i in df.Symbol:
    
    r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    print(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    data = r.text
    soup = BeautifulSoup(data, features="lxml")
    
    for j in range (0, 4):
        if soup.find_all('td')[1+j*7].span == None:
            pass
        else:
            answer = []
            if pd.to_datetime(soup.find_all('td')[j*7].text, infer_datetime_format=True) > pd.to_datetime(z.date[z.symbol == i].iloc[0]):
                answer.append(str(pd.to_datetime(soup.find_all('td')[j*7].text, infer_datetime_format=True)))
                answer = answer + [i.span.text for i in soup.find_all('td')[j*7+1: j*7+7]] + [i]
                print(answer)

                connection = sqlite3.connect('MSC.db')
                cursor = connection.cursor()
                sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
                eval(sql2)
                connection.commit()
                connection.close()

            else:
                pass

'''
'''

https://finance.yahoo.com/quote/LEG/history?p=LEG
['2021-05-17 00:00:00', '56.62', '56.62', '55.53', '56.02', '56.02', '701,000', 'LEG']
https://finance.yahoo.com/quote/VNO/history?p=VNO
['2021-05-17 00:00:00', '45.47', '46.26', '45.01', '46.12', '46.12', '1,165,100', 'VNO']
https://finance.yahoo.com/quote/GPS/history?p=GPS
['2021-05-17 00:00:00', '35.46', '36.41', '34.86', '36.33', '36.33', '5,165,900', 'GPS']
https://finance.yahoo.com/quote/COG/history?p=COG
['2021-05-17 00:00:00', '17.89', '18.45', '17.77', '18.31', '18.31', '8,483,300', 'COG']
https://finance.yahoo.com/quote/IPGP/history?p=IPGP
['2021-05-17 00:00:00', '193.78', '197.11', '191.48', '196.39', '196.39', '243,500', 'IPGP']
https://finance.yahoo.com/quote/HBI/history?p=HBI
['2021-05-17 00:00:00', '19.69', '19.97', '19.48', '19.88', '19.88', '7,434,100', 'HBI']
https://finance.yahoo.com/quote/NOV/history?p=NOV
['2021-05-17 00:00:00', '17.32', '18.00', '17.29', '17.95', '17.95', '4,124,300', 'NOV']
https://finance.yahoo.com/quote/RL/history?p=RL
['2021-05-17 00:00:00', '135.69', '138.35', '134.72', '138.12', '138.12', '737,300', 'RL']
https://finance.yahoo.com/quote/UNM/history?p=UNM
['2021-05-17 00:00:00', '30.64', '30.97', '30.39', '30.88', '30.88', '1,474,800', 'UNM']
https://finance.yahoo.com/quote/PRGO/history?p=PRGO
['2021-05-17 00:00:00', '45.71', '46.45', '45.40', '45.46', '45.46', '1,048,300', 'PRGO']
https://finance.yahoo.com/quote/FOX/history?p=FOX
['2021-05-17 00:00:00', '36.63', '37.10', '35.82', '35.84', '35.84', '1,283,100', 'FOX']
https://finance.yahoo.com/quote/DISCA/history?p=DISCA
['2021-05-17 00:00:00', '39.24', '39.70', '33.43', '33.85', '33.85', '89,419,600', 'DISCA']
https://finance.yahoo.com/quote/HFC/history?p=HFC
['2021-05-17 00:00:00', '35.53', '36.71', '35.33', '36.67', '36.67', '2,086,700', 'HFC']
https://finance.yahoo.com/quote/UAA/history?p=UAA
['2021-05-17 00:00:00', '22.79', '23.19', '22.70', '23.18', '23.18', '7,965,800', 'UAA']
https://finance.yahoo.com/quote/UA/history?p=UA
['2021-05-17 00:00:00', '18.99', '19.39', '18.93', '19.36', '19.36', '1,942,200', 'UA']
https://finance.yahoo.com/quote/NWS/history?p=NWS
['2021-05-17 00:00:00', '25.10', '25.41', '24.84', '25.11', '25.11', '390,000', 'NWS']
https://finance.yahoo.com/quote/^GSPC/history?p=^GSPC
['2021-05-17 00:00:00', '4,169.92', '4,171.92', '4,142.69', '4,163.29', '4,163.29', '3,307,130,000', '^GSPC']
https://finance.yahoo.com/quote/^DJI/history?p=^DJI
['2021-05-17 00:00:00', '34,375.29', '34,383.84', '34,176.65', '34,327.79', '34,327.79', '291,910,000', '^DJI']

'\n'

In [138]:
#for symbol in df
no_financials = "'BRK.B', 'BF.B', 'FLIR'"

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ('''
Select symbol from SP500_companies 
where symbol not in (select distinct symbol from prices where date == '2021-05-17 00:00:00')
and  symbol not in ('BRK.B', 'BF.B', 'FLIR')'''
    )
df = pd.read_sql_query(sql,connection)

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from prices where date ")
z = pd.read_sql_query(sql,connection)
connection.commit()
connection.close()

columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'

for i in df.Symbol:
    
    r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    print(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    
    data = r.text
    soup = BeautifulSoup(data, features="lxml")
    
    for j in range (0, 4):
        if soup.find_all('td')[1+j*7].span == None:
            pass
        else:
            answer = []
            if pd.to_datetime(soup.find_all('td')[j*7].text, infer_datetime_format=True) > pd.to_datetime(z.date[z.symbol == i].iloc[0]):
                answer.append(str(pd.to_datetime(soup.find_all('td')[j*7].text, infer_datetime_format=True)))
                answer = answer + [i.span.text for i in soup.find_all('td')[j*7+1: j*7+7]] + [i]
                print(answer)

                connection = sqlite3.connect('MSC.db')
                cursor = connection.cursor()
                sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
                eval(sql2)
                connection.commit()
                connection.close()

            else:
                pass

https://finance.yahoo.com/quote/TGT/history?p=TGT
['2021-05-17 00:00:00', '212.84', '213.64', '209.36', '210.02', '210.02', '2,581,500', 'TGT']
https://finance.yahoo.com/quote/MPC/history?p=MPC
['2021-05-17 00:00:00', '60.11', '61.76', '60.05', '61.52', '61.52', '11,251,800', 'MPC']
https://finance.yahoo.com/quote/ADM/history?p=ADM
['2021-05-17 00:00:00', '67.68', '67.87', '67.12', '67.64', '67.64', '1,914,300', 'ADM']
https://finance.yahoo.com/quote/AFL/history?p=AFL
['2021-05-17 00:00:00', '56.26', '56.57', '55.94', '56.42', '56.42', '2,444,000', 'AFL']
https://finance.yahoo.com/quote/ED/history?p=ED
['2021-05-17 00:00:00', '79.08', '79.91', '78.72', '78.73', '78.73', '2,743,200', 'ED']
https://finance.yahoo.com/quote/WRK/history?p=WRK
['2021-05-17 00:00:00', '60.70', '62.03', '60.28', '61.81', '61.81', '1,744,200', 'WRK']
https://finance.yahoo.com/quote/MRO/history?p=MRO
['2021-05-17 00:00:00', '11.73', '12.27', '11.66', '12.25', '12.25', '17,148,200', 'MRO']

In [70]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('''Select distinct symbol, count(symbol) over(partition by symbol) as count from prices
order by count

       ''')
z =pd.read_sql_query(sql,connection)
z

In [ ]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('''Select * from sp500_companies

       ''')
z =pd.read_sql_query(sql,connection)
z

In [ ]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('''Select sp500_companies.symbol, company from sp500_companies
          WHERE sp500_companies.Symbol NOT IN
        (Select symbol from  prices)

       ''')
z =pd.read_sql_query(sql,connection)
z

In [ ]:
# Flir 0 love

# Merge

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

sql = ('''Select 
            main.date,
            top1,top2,top3,top4,top5,
            top6,top7,top8,top9,top10,
            top11,top12,top13,top14,top15,
            top16,top17,top18,top19,top20,
            top21,top22,top23,top24,top25,
            top26,top27,top28,top29,top30,
            
            DJI_Open,
            DJI_High,
            DJI_Low,
            DJI_Close,
            DJI_Adj_Close,
            
            SP500_Open,
            SP500_High,
            SP500_Low,
            SP500_Close,
            SP500_Adj_Close

            from main
            left join DJI on
            main.date = date(DJI.Date)
            left join SP500 on
            main.date = date(SP500.Date)
            
            where DJI_Open not NULL
            order by main.date

       ''')
df = pd.read_sql_query(sql,connection)
df.tail()