In [8]:
import numpy as np
import pandas as pd
import sqlite3

# Merge

In [2]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

sql = ('''Select 
            main.date,
            top1,top2,top3,top4,top5,
            top6,top7,top8,top9,top10,
            top11,top12,top13,top14,top15,
            top16,top17,top18,top19,top20,
            top21,top22,top23,top24,top25,
            top26,top27,top28,top29,top30,
            
            DJI_Open,
            DJI_High,
            DJI_Low,
            DJI_Close,
            DJI_Adj_Close,
            
            SP500_Open,
            SP500_High,
            SP500_Low,
            SP500_Close,
            SP500_Adj_Close

            from main
            left join DJI on
            main.date = date(DJI.Date)
            left join SP500 on
            main.date = date(SP500.Date)
            
            where DJI_Open not NULL
            order by main.date

       ''')
df = pd.read_sql_query(sql,connection)
df.tail()

,date,top1,top2,top3,top4,top5,top6,top7,top8,top9,...,DJI_Open,DJI_High,DJI_Low,DJI_Close,DJI_Adj_Close,SP500_Open,SP500_High,SP500_Low,SP500_Close,SP500_Adj_Close
87,2021-05-10,Indigenous leaders launch $2.1 billion class-a...,Russian Doc Who Lied About Navalny Poisoning ‘...,Angry protests have broken out in Kyrgyzstan a...,"More than 50 people, many of them female stude...",Queen’s cousin Prince Michael of Kent accused ...,Arab world condemns Israel Police for violent ...,NASA criticizes China after rocket debris land...,Thousands to march in France demanding real ac...,"Myanmar poet dies after detention, body return...",...,"34,785.27","35,091.56","34,741.57","34,742.82","34,742.82","4,228.29","4,236.39","4,188.13","4,188.43","4,188.43"
88,2021-05-11,Zero Covid deaths recorded yesterday for Engla...,"Israeli airstrikes on Gaza kill 20 people, inc...",Stop evictions in East Jerusalem neighbourhood...,"Instagram, Twitter deleting posts about Palest...",Boris Johnson investigated over Caribbean holi...,"Rocket sirens sound in Jerusalem, Israel amid ...",WHO classifies triple-mutant Covid variant fro...,Dozens of bodies believed to be Covid-19 victi...,Missing Siberian doctor who treated Kremlin cr...,...,"34,572.74","34,572.74","34,075.31","34,269.16","34,269.16","4,150.34","4,162.04","4,111.53","4,152.10","4,152.10"
89,2021-05-12,Indian government says 5G doesn’t cause COVID-...,Largest 13 story residential building in Gaza ...,China demands cancellation of UN meeting on Uy...,Taiwan says China is 'maliciously' blocking it...,US officials believe Russia may be behind the ...,UK to ban LGBT conversion therapy and provide ...,Up to 9 Killed in Russia School Shooting,"1 dead, 3 severely injured, as 'largest ever' ...",Hundreds of South Africans rallied on Tuesday ...,...,"34,206.40","34,207.87","33,555.22","33,587.66","33,587.66","4,130.55","4,134.73","4,056.88","4,063.04","4,063.04"
90,2021-05-13,'Champions League of tax avoidance:' Uber used...,Animals to be formally recognised as sentient ...,'We're watching a lynching': Jewish crowd in I...,Israeli flags burned outside 2 German synagogu...,"Putin’s Wagner Group mercenaries ‘killed kids,...",Shark Advocates Cheer UK’s Banning Of Shark Fi...,Ethereum creator Vitalik Buterin donates $1 bi...,"Dead whale found with 16kg of plastic bags, wr...",Israel rejects Hamas truce offer; ministers vo...,...,"33,624.74","34,181.77","33,623.49","34,021.45","34,021.45","4,074.99","4,131.58","4,074.99","4,112.50","4,112.50"
91,2021-05-14,"""2 for 100, 3 for 75."" - Israeli soldier posts...","67 killed in Gaza, 7 killed in Israel as UN wa...",Israel's bombing of Gaza apartment buildings c...,Israel's Israeli Arab member of parliament Aid...,Jews and Arabs start to push back against viol...,France asks police to ban pro-Palestinian Pari...,US withdraws 120 military personnel from Israe...,"Israel steps up Gaza offensive, kills senior H...",Biden says he's not seen a 'significant overre...,...,"34,050.86","34,454.05","34,050.86","34,382.13","34,382.13","4,129.58","4,183.13","4,129.58","4,173.85","4,173.85"

In [3]:
from sklearn.model_selection import cross_val_score
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import StandardScaler
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from textblob import TextBlob

In [4]:
Anakin = SentimentIntensityAnalyzer()
Anakin.polarity_scores(" ")

{'neg': 0.0, 'neu': 0.0, 'pos': 0.0, 'compound': 0.0}

In [5]:
def detect_subjectivity(text):
    '''
    subjectivity is a float within the range [0.0, 1.0] where 0.0 is very objective and 1.0 is very subjective.
    '''
    return TextBlob(text).sentiment.subjectivity

detect_subjectivity(" ") #should return 0

0.0

In [6]:
#get the name of the headline columns
cols = []
for i in range(1,31):
    col = ("top{}".format(i))
    cols.append(col)
    
for col in cols:
    df[col] = df[col].astype(str) # Make sure data is treated as a string
    df[col+'_comp']= df[col].apply(lambda x:Anakin.polarity_scores(x)['compound'])
    df[col+'_sub'] = df[col].apply(detect_subjectivity)
    print("{} Done".format(col))

top1 Done
top2 Done
top3 Done
top4 Done
top5 Done
top6 Done
top7 Done
top8 Done
top9 Done
top10 Done
top11 Done
top12 Done
top13 Done
top14 Done
top15 Done
top16 Done
top17 Done
top18 Done
top19 Done
top20 Done
top21 Done
top22 Done
top23 Done
top24 Done
top25 Done
top26 Done
top27 Done
top28 Done
top29 Done
top30 Done

In [7]:
#the text isn't required anymore
df = df.drop(cols,axis=1)
df.tail()

,date,DJI_Open,DJI_High,DJI_Low,DJI_Close,DJI_Adj_Close,SP500_Open,SP500_High,SP500_Low,SP500_Close,...,top26_comp,top26_sub,top27_comp,top27_sub,top28_comp,top28_sub,top29_comp,top29_sub,top30_comp,top30_sub
0,2021-01-04,"30,627.47","30,674.28","29,881.82","30,223.89","30,223.89","3,764.61","3,769.99","3,662.71","3,700.65",...,0.0000,0.333333,0.6597,0.100000,-0.7351,0.250000,-0.3400,0.600000,0.2023,0.00
1,2021-01-05,"30,204.25","30,504.89","30,141.78","30,391.60","30,391.60","3,698.02","3,737.83","3,695.07","3,726.86",...,0.0000,0.000000,0.0000,0.000000,-0.7269,0.025000,0.4019,0.050000,-0.4215,0.00
2,2021-01-06,"30,362.78","31,022.65","30,313.07","30,829.40","30,829.40","3,712.20","3,783.04","3,705.34","3,748.14",...,0.0000,0.400000,0.0000,0.000000,-0.5256,0.975000,-0.6124,0.375000,-0.2960,0.55
3,2021-01-07,"30,901.18","31,193.40","30,897.86","31,041.13","31,041.13","3,764.71","3,811.55","3,764.71","3,803.79",...,0.4404,0.000000,0.4215,0.454545,0.0000,0.066667,0.0000,0.333333,0.5859,0.00
4,2021-01-08,"31,069.58","31,140.67","30,793.27","31,097.97","31,097.97","3,815.05","3,826.69","3,783.60","3,824.68",...,-0.7964,0.000000,0.0000,0.000000,0.0000,0.000000,0.0000,0.500000,0.3400,0.00

In [9]:
comp_cols = [col + "_comp" for col in cols]

w = np.arange(1,31,1).tolist()
w.reverse()

weighted_comp = []
max_comp = []
min_comp = []
for i in range(0,len(df)):
    a = df.loc[i,comp_cols].tolist()
    weighted_comp.append(np.average(a, weights=w))
    max_comp.append(max(a))
    min_comp.append(min(a))
    
df['compound_mean'] = weighted_comp
df['compound_max'] = max_comp
df['compound_min'] = min_comp

sub_cols = [col + "_sub" for col in cols]

weighted_sub = []
max_sub = []
min_sub = []
for i in range(0,len(df)):
    a = df.loc[i,sub_cols].tolist()
    weighted_sub.append(np.average(a, weights=w))
    max_sub.append(max(a))
    min_sub.append(min(a))

df['subjectivity_mean'] = weighted_sub
df['subjectivity_max'] = max_sub
df['subjectivity_min'] = min_sub

to_drop = sub_cols+comp_cols
df = df.drop(to_drop, axis=1)

In [12]:
df.tail()

,date,DJI_Open,DJI_High,DJI_Low,DJI_Close,DJI_Adj_Close,SP500_Open,SP500_High,SP500_Low,SP500_Close,SP500_Adj_Close,compound_mean,compound_max,compound_min,subjectivity_mean,subjectivity_max,subjectivity_min
87,2021-05-10,"34,785.27","35,091.56","34,741.57","34,742.82","34,742.82","4,228.29","4,236.39","4,188.13","4,188.43","4,188.43",-0.380386,0.8176,-0.9735,0.194761,1.000000,0.0
88,2021-05-11,"34,572.74","34,572.74","34,075.31","34,269.16","34,269.16","4,150.34","4,162.04","4,111.53","4,152.10","4,152.10",-0.295928,0.6931,-0.8876,0.135567,0.666667,0.0
89,2021-05-12,"34,206.40","34,207.87","33,555.22","33,587.66","33,587.66","4,130.55","4,134.73","4,056.88","4,063.04","4,063.04",-0.347254,0.5859,-0.8834,0.194080,0.778571,0.0
90,2021-05-13,"33,624.74","34,181.77","33,623.49","34,021.45","34,021.45","4,074.99","4,131.58","4,074.99","4,112.50","4,112.50",-0.111215,0.6369,-0.8555,0.106260,0.700000,0.0
91,2021-05-14,"34,050.86","34,454.05","34,050.86","34,382.13","34,382.13","4,129.58","4,183.13","4,129.58","4,173.85","4,173.85",-0.411042,0.4588,-0.9485,0.171641,1.000000,0.0

In [ ]:
import plotly.graph_objects as go

fig3 = go.Figure()
fig3.add_trace(go.Scatter(x=df.date, y=df.subjectivity_mean,
                    mode='lines',
                    name='Mean'))
fig3.add_trace(go.Scatter(x=df.date, y=df.subjectivity_min,
                    mode='lines',
                    name='Min'))
fig3.add_trace(go.Scatter(x=df.date, y=df.subjectivity_max,
                    mode='lines',
                    name='Max'))
title = []
title.append(dict(xref='paper', yref='paper', x=0.0, y=1.05,
                              xanchor='left', yanchor='bottom',
                              text='Development of subjectivity score',
                              font=dict(family='Arial',
                                        size=30,
                                        color='rgb(37,37,37)'),
                              showarrow=False))
fig3.update_layout(xaxis_title='Date',
                   yaxis_title='Subjectivity score',
                  annotations=title)
fig3.show()