In [4]:
import sqlite3
import pandas as pd

In [5]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

In [ ]:
def tables_in_sqlite_db(conn):
    cursor = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = [
        v[0] for v in cursor.fetchall()
        if v[0] != "sqlite_sequence"
    ]
    cursor.close()
    return tables

tables = tables_in_sqlite_db(connection)
for i in tables:
    print(i)

In [29]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from SP500_companies ")
df = pd.read_sql_query(sql,connection)
df

                          Company Symbol      Weight
0                      Apple Inc.   AAPL    5.664493
1           Microsoft Corporation   MSFT    5.264839
2                 Amazon.com Inc.   AMZN    3.886738
3           Facebook Inc. Class A     FB    2.109076
4           Alphabet Inc. Class A  GOOGL    1.925453
..                            ...    ...         ...
503     Under Armour Inc. Class A    UAA    0.011972
504     Under Armour Inc. Class C     UA    0.010361
505      News Corporation Class B    NWS    0.008590
506                       S&P 500  ^GSPC  100.000000
507  Dow Jones Industrial Average   ^DJI  100.000000

[508 rows x 3 columns]

In [39]:
df[df.Symbol == 'FLIR']

               Company Symbol    Weight
489  FLIR Systems Inc.   FLIR  0.021622

In [54]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from prices where open == 'Dividend'")
df = pd.read_sql_query(sql,connection)
df.tail()

Empty DataFrame
Columns: [date, open, high, low, close, adj_close, volume, symbol]
Index: []

In [55]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select symbol from SP500_companies where symbol not in (select distinct symbol from prices where date == '2021-05-17 00:00:00')")
df = pd.read_sql_query(sql,connection)
df

  Symbol
0  BRK.B
1   BF.B
2   FLIR

In [44]:
connection = sqlite3.connect('MSC.db') 
cursor = connection.cursor() 
sql = ("delete from prices where open = 'Dividend' ") 
cursor.execute(sql) 
connection.commit()

#https://www.sqlite.org/datatype3.html
cursor.executescript("DROP TABLE IF EXISTS top30")

cursor.execute('''CREATE TABLE top30 (
date REAL
,daily_rank INTEGER
,comment_limit INTEGER
,comment_sort TEXT
,_reddit TEXT
,approved_at_utc TEXT
,subreddit TEXT
,selftext TEXT
,author_fullname TEXT
,saved TEXT
,mod_reason_title TEXT
,gilded INTEGER
,clicked TEXT
,title TEXT
,link_flair_richtext BLOB
,subreddit_name_prefixed TEXT
,hidden TEXT
,pwls INTEGER
,link_flair_css_class TEXT
,downs INTEGER
,top_awarded_type TEXT
,hide_score TEXT
,name TEXT
,quarantine TEXT
,link_flair_text_color TEXT
,upvote_ratio REAL
,author_flair_background_color TEXT
,subreddit_type TEXT
,ups INTEGER
,total_awards_received INTEGER
,media_embed BLOB
,author_flair_template_id TEXT
,is_original_content TEXT
,user_reports BLOB
,secure_media TEXT
,is_reddit_media_domain TEXT
,is_meta TEXT
,category TEXT
,secure_media_embed BLOB
,link_flair_text TEXT
,can_mod_post TEXT
,score INTEGER
,approved_by TEXT
,author_premium TEXT
,thumbnail TEXT
,edited TEXT
,author_flair_css_class TEXT
,author_flair_richtext BLOB
,gildings BLOB
,content_categories TEXT
,is_self TEXT
,mod_note TEXT
,created REAL
,link_flair_type TEXT
,wls INTEGER
,removed_by_category TEXT
,banned_by TEXT
,author_flair_type TEXT
,domain TEXT
,allow_live_comments TEXT
,selftext_html TEXT
,likes TEXT
,suggested_sort TEXT
,banned_at_utc TEXT
,url_overridden_by_dest TEXT
,view_count TEXT
,archived TEXT
,no_follow TEXT
,is_crosspostable TEXT
,pinned TEXT
,over_18 TEXT
,all_awardings BLOB
,awarders BLOB
,media_only TEXT
,can_gild TEXT
,spoiler TEXT
,locked TEXT
,author_flair_text TEXT
,treatment_tags BLOB
,visited TEXT
,removed_by TEXT
,num_reports TEXT
,distinguished TEXT
,subreddit_id TEXT
,mod_reason_by TEXT
,removal_reason TEXT
,link_flair_background_color TEXT
,id TEXT
,is_robot_indexable TEXT
,report_reasons TEXT
,author TEXT
,discussion_type TEXT
,num_comments INTEGER
,send_replies TEXT
,whitelist_status TEXT
,contest_mode TEXT
,mod_reports BLOB
,author_patreon_flair TEXT
,author_flair_text_color TEXT
,permalink TEXT
,parent_whitelist_status TEXT
,stickied TEXT
,url TEXT
,subreddit_subscribers INTEGER
,created_utc REAL
,num_crossposts INTEGER
,media TEXT
,is_video TEXT
,_fetched TEXT
,_comments_by_id BLOB)''')

In [ ]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('Select date(moment) as date, * from ER20202021')
z =pd.read_sql_query(sql,connection)
z.shape

connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('ALTER TABLE top30 RENAME COLUMN date TO Date')
pd.read_sql_query(sql,connection)

In [ ]:
#Transfer to main folder
import shutil
newPath = shutil.copy('MSC.db', '/Users/Edite')