In [9]:
import sqlite3
import pandas as pd

In [10]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

## List all the tables

In [ ]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

def tables_in_sqlite_db(conn):
    cursor = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = [
        v[0] for v in cursor.fetchall()
        if v[0] != "sqlite_sequence"
    ]
    cursor.close()
    return tables

tables = tables_in_sqlite_db(connection)
for i in tables:
    print(i)

In [30]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from SP500_companies ")
df = pd.read_sql_query(sql,connection)

In [82]:
df[df.Symbol == "HSIC"]

               Company Symbol    Weight
449  Henry Schein Inc.   HSIC  0.032787

In [62]:
df[193:]

                               Company Symbol      Weight
193     Marathon Petroleum Corporation    MPC    0.110018
194  Microchip Technology Incorporated   MCHP    0.109975
195       Alexion Pharmaceuticals Inc.   ALXN    0.109500
196                  MSCI Inc. Class A   MSCI    0.109434
197                          eBay Inc.   EBAY    0.109125
..                                 ...    ...         ...
503          Under Armour Inc. Class A    UAA    0.011972
504          Under Armour Inc. Class C     UA    0.010361
505           News Corporation Class B    NWS    0.008590
506                            S&P 500  ^GSPC  100.000000
507       Dow Jones Industrial Average   ^DJI  100.000000

[315 rows x 3 columns]

In [85]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = (''' select * from prices 
--where date == "2021-05-18 00:00:00"

''')
price = pd.read_sql_query(sql,connection)
print(df.shape)
price.tail()

(508, 3)

,date,open,high,low,close,adj_close,volume,symbol
50920,2021-05-18 00:00:00,26.63,26.63,26.30,26.30,26.30,"2,113,900",JNPR
50921,2021-05-18 00:00:00,72.00,72.92,70.29,70.29,70.29,"1,456,600",ALK
50922,2021-05-18 00:00:00,34.10,34.38,34.00,34.23,34.23,"2,551,400",NRG
50923,2021-05-18 00:00:00,19.31,19.62,19.10,19.11,19.11,"2,664,600",PBCT
50924,2021-05-18 00:00:00,35.95,36.12,35.38,35.40,35.40,"1,303,500",ROL

price

In [28]:
price[price.open == "Stock Split"]

Empty DataFrame
Columns: [date, open, high, low, close, adj_close, volume, symbol]
Index: []

In [72]:
price[price.open == "Dividend"]

Empty DataFrame
Columns: [date, open, high, low, close, adj_close, volume, symbol]
Index: []

In [84]:
## Delete

connection = sqlite3.connect('MSC.db') 
cursor = connection.cursor() 
sql = ("delete from prices where open = 'Dividend'") 
cursor.execute(sql) 
connection.commit()

In [ ]:
## Duplicates

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ('''select symbol, date, XX as count, AM 
from (Select symbol, date, COUNT(symbol) OVER(PARTITION BY symbol, date) as XX ,ROW_NUMBER() OVER(PARTITION BY symbol, date) as AM from prices) where XX > 1''')
df = pd.read_sql_query(sql,connection)
df.tail()

## DF to SQL 

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
df_distinct.to_sql('prices', connection, index = False)
connection.commit()
connection.close()

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select symbol from SP500_companies where symbol not in (select distinct symbol from prices where date == '2021-05-17 00:00:00')")
df = pd.read_sql_query(sql,connection)
df

## Drop table

#https://www.sqlite.org/datatype3.html
cursor.executescript("DROP TABLE IF EXISTS prices")

In [ ]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('Select date(moment) as date, * from ER20202021')
z =pd.read_sql_query(sql,connection)
z.shape

## Alter

connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('ALTER TABLE top30 RENAME COLUMN date TO Date')
pd.read_sql_query(sql,connection)

In [ ]:
#Transfer to main folder
import shutil
newPath = shutil.copy('MSC.db', '/Users/Edite')