In [1]:
import sqlite3
import pandas as pd

In [2]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

## List all the tables

In [3]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

def tables_in_sqlite_db(conn):
    cursor = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = [
        v[0] for v in cursor.fetchall()
        if v[0] != "sqlite_sequence"
    ]
    cursor.close()
    return tables

tables = tables_in_sqlite_db(connection)
for i in tables:
    print(i)

top30
a20210407a
a20210408a
a20210409a
ER20210410a
ER20210411a
ER20210412a
ER20210413a
ER20210414a
ER20210415
ER20210416
ER20210417
ER20210418
ER20210419
ER20210420
ER20210421
ER20210422
ER20210423
ER20210424
ER20210425
ER20210426
ER20202021
ER20210427
ER20210428
ER20210429
ER20210430
ER20210501
ER20210502
ER20210503
ER20210504
ER20210505
ER20210506
ER20210507
DJI
SP500
ER20210508
ER20210509
ER20210510
ER20210511
ER20210512
ER20210513
reddit_old
main
ER20210514
ER20210515
ER20210516
SP500_companies
ER20210517
ER20210518
prices
ER20210519
ER20210520
ER20210521
ER20210522

In [11]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from prices order by date desc")
df = pd.read_sql_query(sql,connection)
df

,date,open,high,low,close,adj_close,volume,symbol
0,2021-05-21 00:00:00,127.82,128.00,125.21,125.43,125.43,"79,209,300",AAPL
1,2021-05-21 00:00:00,247.57,248.33,244.74,245.17,245.17,"21,855,500",MSFT
2,2021-05-21 00:00:00,"3,250.00","3,256.69","3,197.01","3,203.08","3,203.08","4,097,800",AMZN
3,2021-05-21 00:00:00,319.29,319.93,315.81,316.23,316.23,"13,562,700",FB
4,2021-05-21 00:00:00,"2,317.41","2,318.89","2,289.30","2,294.13","2,294.13","2,030,700",GOOGL
...,...,...,...,...,...,...,...,...
52761,2020-12-21 00:00:00,110.71,113.78,108.73,112.54,112.54,"3,809,700",WYNN
52762,2020-12-21 00:00:00,146.80,148.06,141.70,145.28,145.28,"1,799,300",XLNX
52763,2020-12-21 00:00:00,366.00,376.73,363.00,375.91,375.91,"505,600",ZBRA
52764,2020-12-21 00:00:00,"30,159.00","30,304.14","29,755.53","30,216.45","30,216.45","437,480,000",^DJI
52765,2020-12-21 00:00:00,"3,684.28","3,702.90","3,636.48","3,694.92","3,694.92","4,732,160,000",^GSPC

In [12]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from SP500_companies ")
df = pd.read_sql_query(sql,connection)
df

                          Company Symbol      Weight
0                      Apple Inc.   AAPL    5.664493
1           Microsoft Corporation   MSFT    5.264839
2                 Amazon.com Inc.   AMZN    3.886738
3           Facebook Inc. Class A     FB    2.109076
4           Alphabet Inc. Class A  GOOGL    1.925453
..                            ...    ...         ...
506                       S&P 500  ^GSPC  100.000000
507  Dow Jones Industrial Average   ^DJI  100.000000
508         Continental Resources    CLR    0.000000
509        SPDR S&P 500 ETF Trust    SPY    0.000000
510         CBOE Volatility Index   ^VIX    0.000000

[511 rows x 3 columns]

In [13]:
df[df.Symbol == "CLR"]

                   Company Symbol  Weight
508  Continental Resources    CLR     0.0

In [62]:
df[193:]

                               Company Symbol      Weight
193     Marathon Petroleum Corporation    MPC    0.110018
194  Microchip Technology Incorporated   MCHP    0.109975
195       Alexion Pharmaceuticals Inc.   ALXN    0.109500
196                  MSCI Inc. Class A   MSCI    0.109434
197                          eBay Inc.   EBAY    0.109125
..                                 ...    ...         ...
503          Under Armour Inc. Class A    UAA    0.011972
504          Under Armour Inc. Class C     UA    0.010361
505           News Corporation Class B    NWS    0.008590
506                            S&P 500  ^GSPC  100.000000
507       Dow Jones Industrial Average   ^DJI  100.000000

[315 rows x 3 columns]

In [26]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = (''' select * from prices 
--where date == "2021-05-19 00:00:00"

''')
price = pd.read_sql_query(sql,connection)
print(price.shape)
price.tail()

(53058, 8)

,date,open,high,low,close,adj_close,volume,symbol
53053,2021-01-05 00:00:00,228.21,230.10,226.85,227.47,227.47,"5,524,900",BRK-B
53054,2021-01-04 00:00:00,231.73,231.87,226.85,228.45,228.45,"7,404,900",BRK-B
53055,2020-12-31 00:00:00,229.28,232.28,228.89,231.87,231.87,"4,228,100",BRK-B
53056,2020-12-30 00:00:00,229.54,230.59,229.08,229.65,229.65,"3,257,400",BRK-B
53057,2020-12-29 00:00:00,230.50,231.10,229.10,229.57,229.57,"3,799,500",BRK-B

price

In [15]:
price[price.open == "Stock Split"]

Empty DataFrame
Columns: [date, open, high, low, close, adj_close, volume, symbol]
Index: []

In [16]:
price[price.open == "Dividend"]

Empty DataFrame
Columns: [date, open, high, low, close, adj_close, volume, symbol]
Index: []

In [17]:
## Duplicates

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ('''select symbol, date, XX as count, AM 
from (Select symbol, date, COUNT(symbol) OVER(PARTITION BY symbol, date) as XX ,ROW_NUMBER() OVER(PARTITION BY symbol, date) as AM from prices) where XX > 1''')
df = pd.read_sql_query(sql,connection)
print(df.shape)
df.head()

(10, 4)

  symbol                 date  count  AM
0    KHC  2021-05-19 00:00:00      2   1
1    KHC  2021-05-19 00:00:00      2   2
2    KSU  2021-05-19 00:00:00      2   1
3    KSU  2021-05-19 00:00:00      2   2
4    LYB  2021-05-19 00:00:00      2   1

In [19]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = (''' select date(date), * from prices 
where symbol = "FLIR"
order by date desc

''')
price = pd.read_sql_query(sql,connection)
print(price.shape)
price.head()

(0, 9)

Empty DataFrame
Columns: [date(date), date, open, high, low, close, adj_close, volume, symbol]
Index: []

In [27]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select symbol, date from prices order by date desc")
df = pd.read_sql_query(sql,connection)
df

      symbol                 date
0       AAPL  2021-05-21 00:00:00
1       MSFT  2021-05-21 00:00:00
2       AMZN  2021-05-21 00:00:00
3         FB  2021-05-21 00:00:00
4      GOOGL  2021-05-21 00:00:00
...      ...                  ...
53053   WYNN  2020-12-21 00:00:00
53054   XLNX  2020-12-21 00:00:00
53055   ZBRA  2020-12-21 00:00:00
53056   ^DJI  2020-12-21 00:00:00
53057  ^GSPC  2020-12-21 00:00:00

[53058 rows x 2 columns]

In [28]:
for date in df.date.unique():

    connection = sqlite3.connect('MSC.db')
    cursor = connection.cursor()
    sql = (f"Select symbol from SP500_companies where symbol not in (select symbol from prices where date = '{date}')")
    miss = pd.read_sql_query(sql,connection)
    if len(list(miss.Symbol))>0:
        print(date)
        print(list(miss.Symbol))

2021-05-21 00:00:00
['BRK.B', 'BF.B', 'FLIR']
2021-05-20 00:00:00
['BRK.B', 'BF.B', 'FLIR']
2021-05-19 00:00:00
['BRK.B', 'BF.B', 'FLIR']
2021-05-18 00:00:00
['BRK.B', 'BF.B', 'FLIR']
2021-05-17 00:00:00
['BRK.B', 'BF.B', 'FLIR']
2021-05-14 00:00:00
['BRK.B', 'BF.B', 'FLIR']
2021-05-13 00:00:00
['BRK.B', 'BF.B']
2021-05-12 00:00:00
['BRK.B', 'BF.B']
2021-05-11 00:00:00
['BRK.B', 'BF.B']
2021-05-10 00:00:00
['BRK.B', 'BF.B']
2021-05-07 00:00:00
['BRK.B', 'BF.B']
2021-05-06 00:00:00
['BRK.B', 'BF.B']
2021-05-05 00:00:00
['BRK.B', 'BF.B']
2021-05-04 00:00:00
['BRK.B', 'BF.B']
2021-05-03 00:00:00
['BRK.B', 'BF.B']
2021-04-30 00:00:00
['BRK.B', 'BF.B']
2021-04-29 00:00:00
['BRK.B', 'BF.B']
2021-04-28 00:00:00
['BRK.B', 'BF.B']
2021-04-27 00:00:00
['BRK.B', 'BF.B']
2021-04-26 00:00:00
['BRK.B', 'BF.B']
2021-04-23 00:00:00
['BRK.B', 'BF.B']
2021-04-22 00:00:00
['BRK.B', 'BF.B']
2021-04-21 00:00:00
['BRK.B', 'BF.B']
2021-04-20 00:00:00
['BRK.B', 'BF.B']
2021-04-19 00:00:00
['BRK.B', 'BF.B']
2021-04-16 00:00:00
['BRK.B', 'BF.B']
2021-04-15 00:00:00
['BRK.B', 'BF.B']
2021-04-14 00:00:00
['BRK.B', 'BF.B']
2021-04-13 00:00:00
['BRK.B', 'BF.B']
2021-04-12 00:00:00
['BRK.B', 'BF.B']
2021-04-09 00:00:00
['BRK.B', 'BF.B']
2021-04-08 00:00:00
['BRK.B', 'BF.B']
2021-04-07 00:00:00
['BRK.B', 'BF.B']
2021-04-06 00:00:00
['BRK.B', 'BF.B']
2021-04-05 00:00:00
['BRK.B', 'BF.B']
2021-04-01 00:00:00
['BRK.B', 'BF.B']
2021-03-31 00:00:00
['BRK.B', 'BF.B']
2021-03-30 00:00:00
['BRK.B', 'BF.B']
2021-03-29 00:00:00
['BRK.B', 'BF.B']
2021-03-26 00:00:00
['BRK.B', 'BF.B']
2021-03-25 00:00:00
['BRK.B', 'BF.B']
2021-03-24 00:00:00
['BRK.B', 'BF.B']
2021-03-23 00:00:00
['BRK.B', 'BF.B']
2021-03-22 00:00:00
['BRK.B', 'BF.B']
2021-03-19 00:00:00
['BRK.B', 'BF.B']
2021-03-18 00:00:00
['BRK.B', 'BF.B']
2021-03-17 00:00:00
['BRK.B', 'BF.B']
2021-03-16 00:00:00
['BRK.B', 'BF.B']
2021-03-15 00:00:00
['BRK.B', 'BF.B']
2021-03-12 00:00:00
['BRK.B', 'BF.B']
2021-03-11 00:00:00
['BRK.B', 'BF.B']
2021-03-10 00:00:00
['BRK.B', 'BF.B']
2021-03-09 00:00:00
['BRK.B', 'BF.B']
2021-03-08 00:00:00
['BRK.B', 'BF.B']
2021-03-05 00:00:00
['BRK.B', 'BF.B']
2021-03-04 00:00:00
['BRK.B', 'BF.B']
2021-03-03 00:00:00
['BRK.B', 'BF.B']
2021-03-02 00:00:00
['BRK.B', 'BF.B']
2021-03-01 00:00:00
['BRK.B', 'BF.B']
2021-02-26 00:00:00
['BRK.B', 'BF.B']
2021-02-25 00:00:00
['BRK.B', 'BF.B']
2021-02-24 00:00:00
['BRK.B', 'BF.B']
2021-02-23 00:00:00
['BRK.B', 'BF.B']
2021-02-22 00:00:00
['BRK.B', 'BF.B']
2021-02-19 00:00:00
['BRK.B', 'BF.B']
2021-02-18 00:00:00
['BRK.B', 'BF.B']
2021-02-17 00:00:00
['BRK.B', 'BF.B']
2021-02-16 00:00:00
['BRK.B', 'BF.B']
2021-02-12 00:00:00
['BRK.B', 'BF.B']
2021-02-11 00:00:00
['BRK.B', 'BF.B']
2021-02-10 00:00:00
['BRK.B', 'BF.B']
2021-02-09 00:00:00
['BRK.B', 'BF.B']
2021-02-08 00:00:00
['BRK.B', 'BF.B']
2021-02-05 00:00:00
['BRK.B', 'BF.B']
2021-02-04 00:00:00
['BRK.B', 'BF.B']
2021-02-03 00:00:00
['BRK.B', 'BF.B']
2021-02-02 00:00:00
['BRK.B', 'BF.B']
2021-02-01 00:00:00
['BRK.B', 'BF.B']
2021-01-29 00:00:00
['BRK.B', 'BF.B']
2021-01-28 00:00:00
['BRK.B', 'BF.B']
2021-01-27 00:00:00
['BRK.B', 'BF.B']
2021-01-26 00:00:00
['BRK.B', 'BF.B']
2021-01-25 00:00:00
['BRK.B', 'BF.B']
2021-01-22 00:00:00
['BRK.B', 'BF.B']
2021-01-21 00:00:00
['BRK.B', 'BF.B']
2021-01-20 00:00:00
['BRK.B', 'BF.B']
2021-01-19 00:00:00
['BRK.B', 'BF.B']
2021-01-15 00:00:00
['BRK.B', 'BF.B']
2021-01-14 00:00:00
['BRK.B', 'BF.B']
2021-01-13 00:00:00
['BRK.B', 'BF.B']
2021-01-12 00:00:00
['BRK.B', 'BF.B']
2021-01-11 00:00:00
['BRK.B', 'BF.B']
2021-01-08 00:00:00
['BRK.B', 'BF.B']
2021-01-07 00:00:00
['BRK.B', 'BF.B']
2021-01-06 00:00:00
['BRK.B', 'BF.B']
2021-01-05 00:00:00
['BRK.B', 'BF.B']
2021-01-04 00:00:00
['BRK.B', 'BF.B']
2020-12-31 00:00:00
['BRK.B', 'BF.B']
2020-12-30 00:00:00
['BRK.B', 'BF.B']
2020-12-29 00:00:00
['BRK.B', 'BF.B', 'FLIR', 'CLR', 'SPY']
2020-12-28 00:00:00
['BRK.B', 'O', 'BF.B', 'FLIR', 'CLR', 'SPY', '^VIX']
2020-12-24 00:00:00
['BRK.B', 'O', 'BF.B', 'FLIR', 'CLR', 'SPY', '^VIX']
2020-12-23 00:00:00
['BRK.B', 'O', 'MAA', 'BF.B', 'FLIR', 'CLR', 'SPY', '^VIX']
2020-12-22 00:00:00
['AAPL', 'BRK.B', 'JPM', 'V', 'PG', 'MA', 'CMCSA', 'XOM', 'VZ', 'T', 'PFE', 'CSCO', 'INTC', 'ABT', 'ABBV', 'WFC', 'WMT', 'ACN', 'COST', 'TXN', 'DHR', 'C', 'HON', 'LLY', 'LOW', 'BMY', 'AMGN', 'ORCL', 'CAT', 'SBUX', 'IBM', 'MS', 'DE', 'AMT', 'CVS', 'INTU', 'SCHW', 'AXP', 'MO', 'MDLZ', 'TJX', 'USB', 'PNC', 'TFC', 'ZTS', 'SYK', 'DUK', 'CME', 'COP', 'NSC', 'COF', 'CL', 'SO', 'SHW', 'ITW', 'MMC', 'APD', 'PGR', 'HUM', 'ETN', 'AON', 'EMR', 'HCA', 'DG', 'MET', 'EOG', 'ROP', 'KLAC', 'GD', 'EXC', 'AEP', 'SYY', 'PPG', 'BK', 'PH', 'A', 'STZ', 'INFO', 'APH', 'GIS', 'SPG', 'MSCI', 'KMI', 'IFF', 'ZBH', 'CTVA', 'WLTW', 'FRC', 'PCAR', 'VLO', 'PAYX', 'DHI', 'CTAS', 'PXD', 'ROK', 'FAST', 'WEC', 'STT', 'WELL', 'NUE', 'FITB', 'AMP', 'KSU', 'RMD', 'KR', 'AWK', 'AVB', 'LEN', 'EQR', 'SYF', 'WST', 'O', 'CERN', 'OKE', 'RSG', 'CLX', 'MKC', 'EIX', 'ARE', 'CHD', 'ETR', 'CFG', 'GWW', 'FE', 'VTR', 'CE', 'ESS', 'CAG', 'DGX', 'CMS', 'TFX', 'MAA', 'ABC', 'PEAK', 'POOL', 'STX', 'DRI', 'MKTX', 'NTAP', 'DRE', 'CAH', 'AES', 'RJF', 'PKI', 'FMC', 'BXP', 'SJM', 'JBHT', 'XRAY', 'LNT', 'BF.B', 'WAB', 'FANG', 'UDR', 'HRL', 'PWR', 'MPWR', 'LNC', 'HAS', 'LW', 'CF', 'PNR', 'IVZ', 'CPB', 'GL', 'NI', 'ZION', 'PNW', 'AOS', 'BEN', 'NRG', 'PBCT', 'ROL', 'FRT', 'APA', 'FLIR', 'VNO', 'COG', 'UNM', 'CLR', 'SPY', '^VIX']
2020-12-21 00:00:00
['AAPL', 'MSFT', 'BRK.B', 'JPM', 'JNJ', 'UNH', 'V', 'HD', 'PG', 'NVDA', 'BAC', 'MA', 'CMCSA', 'XOM', 'VZ', 'T', 'PFE', 'CSCO', 'INTC', 'KO', 'ABT', 'ABBV', 'CVX', 'PEP', 'MRK', 'WFC', 'WMT', 'ACN', 'TMO', 'AVGO', 'MCD', 'NKE', 'COST', 'MDT', 'TXN', 'DHR', 'C', 'LIN', 'HON', 'UPS', 'LLY', 'PM', 'UNP', 'LOW', 'BMY', 'AMGN', 'ORCL', 'QCOM', 'NEE', 'CAT', 'SBUX', 'IBM', 'MS', 'RTX', 'GS', 'BLK', 'DE', 'MMM', 'GE', 'AMT', 'CVS', 'INTU', 'AMAT', 'SCHW', 'TGT', 'AXP', 'ANTM', 'LMT', 'MO', 'CI', 'FIS', 'SPGI', 'MDLZ', 'GILD', 'TJX', 'PLD', 'LRCX', 'USB', 'PNC', 'ADP', 'TFC', 'ZTS', 'SYK', 'DUK', 'CCI', 'CME', 'CSX', 'CB', 'FDX', 'COP', 'ATVI', 'NSC', 'COF', 'BDX', 'CL', 'SO', 'SHW', 'ITW', 'MMC', 'APD', 'EL', 'EQIX', 'D', 'ICE', 'PGR', 'FCX', 'HUM', 'GPN', 'ETN', 'NOC', 'AON', 'EMR', 'NEM', 'ECL', 'WM', 'HCA', 'ADI', 'MCO', 'NXPI', 'DOW', 'DG', 'MET', 'EOG', 'JCI', 'ROP', 'KLAC', 'KMB', 'ROST', 'SLB', 'GD', 'LHX', 'AIG', 'DD', 'TEL', 'TT', 'EXC', 'TROW', 'AEP', 'SYY', 'PPG', 'BAX', 'PRU', 'DLR', 'BK', 'SRE', 'PSA', 'ALL', 'PH', 'HPQ', 'EA', 'TRV', 'A', 'STZ', 'INFO', 'APH', 'GIS', 'CMI', 'WBA', 'SPG', 'MPC', 'MCHP', 'MSCI', 'EBAY', 'CTSH', 'XEL', 'ADM', 'PSX', 'AFL', 'YUM', 'CARR', 'DFS', 'KMI', 'SWK', 'IFF', 'ZBH', 'CTVA', 'WLTW', 'GLW', 'MSI', 'FRC', 'PCAR', 'VLO', 'PAYX', 'OTIS', 'DHI', 'PEG', 'CTAS', 'MCK', 'SBAC', 'PXD', 'ROK', 'WMB', 'AME', 'FAST', 'WEC', 'STT', 'WELL', 'NUE', 'FITB', 'AMP', 'ES', 'BLL', 'EFX', 'WY', 'KSU', 'LYB', 'KHC', 'RMD', 'VRSK', 'AJG', 'KR', 'AWK', 'BBY', 'AVB', 'DTE', 'ED', 'LEN', 'VFC', 'SWKS', 'EQR', 'ODFL', 'VMC', 'HSY', 'NTRS', 'SYF', 'IP', 'WST', 'O', 'CDW', 'TSN', 'CERN', 'FTV', 'OKE', 'MLM', 'RSG', 'HIG', 'CLX', 'VIAC', 'MKC', 'PPL', 'KEY', 'EIX', 'ARE', 'CHD', 'HES', 'TSCO', 'RF', 'DOV', 'ETR', 'MTB', 'CFG', 'XYL', 'HPE', 'AEE', 'GRMN', 'GWW', 'FE', 'VTR', 'HAL', 'OXY', 'TER', 'AMCR', 'COO', 'CE', 'GPC', 'EXR', 'ESS', 'BR', 'CAG', 'NDAQ', 'ALB', 'DGX', 'CMS', 'TFX', 'AVY', 'J', 'CINF', 'OMC', 'MAA', 'BKR', 'ABC', 'PEAK', 'POOL', 'STX', 'DRI', 'EMN', 'K', 'MKTX', 'NTAP', 'STE', 'IEX', 'DRE', 'PFG', 'CAH', 'MAS', 'DPZ', 'AES', 'RJF', 'WRK', 'PKI', 'HBAN', 'WHR', 'PHM', 'MGM', 'TXT', 'FMC', 'BXP', 'SJM', 'FBHS', 'NLOK', 'PKG', 'JBHT', 'DVN', 'XRAY', 'CTXS', 'EVRG', 'LNT', 'BF.B', 'WAB', 'LUMN', 'LDOS', 'FANG', 'SNA', 'UDR', 'CNP', 'AAP', 'HRL', 'PWR', 'CHRW', 'L', 'MPWR', 'FOXA', 'ATO', 'ALLE', 'IPG', 'LNC', 'HAS', 'UHS', 'CBOE', 'BWA', 'IRM', 'JKHY', 'MOS', 'LW', 'CF', 'PNR', 'WRB', 'CMA', 'RE', 'NWL', 'NWSA', 'IVZ', 'WU', 'CPB', 'RHI', 'GL', 'REG', 'NI', 'NLSN', 'ZION', 'PNW', 'AOS', 'BEN', 'AIZ', 'KIM', 'SEE', 'MRO', 'HII', 'JNPR', 'NRG', 'PBCT', 'ROL', 'FRT', 'APA', 'FLIR', 'LEG', 'VNO', 'GPS', 'COG', 'HBI', 'UNM', 'PRGO', 'FOX', 'HFC', 'NWS', 'CLR', 'SPY', '^VIX']

In [82]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

sql = (f'''
Select symbol from SP500_companies 
where symbol not in (select distinct symbol from prices where date == "2021-05-21 00:00:00")
and  symbol not in ('BRK.B', 'BF.B', 'FLIR')'''
    )
df = pd.read_sql_query(sql,connection)
df

Empty DataFrame
Columns: [Symbol]
Index: []

## Delete

connection = sqlite3.connect('MSC.db') 
cursor = connection.cursor() 
sql = ("delete from SP500_companies where symbol = 'CLR'") 
cursor.execute(sql) 
connection.commit()

## DF to SQL 

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
df_distinct.to_sql('prices', connection, index = False)
connection.commit()
connection.close()

In [23]:
## ADD NEW COMERS

import pandas as pd
import requests
from datetime import datetime
import datetime
import sqlite3
import praw
from bs4 import BeautifulSoup
import re
import locale
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')


columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'
i = 'BRK-B'

r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
data = r.text
soup = BeautifulSoup(data, features="lxml")

for j in range (0, len(soup.find_all('td'))):
    try:
        if (type(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)) == pd._libs.tslibs.timestamps.Timestamp) == True and isinstance(locale.atof(soup.find_all('td')[j+1].text), (int, float, complex)) == True:
            answer = []
            answer.append(str(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)))
            answer = answer + [i.span.text for i in soup.find_all('td')[j+1: j+7]] + [i]
            print(answer)
            connection = sqlite3.connect('MSC.db')
            cursor = connection.cursor()
            sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
            eval(sql2)
            connection.commit()
            connection.close()
        else: pass
    except:pass

['2021-05-21 00:00:00', '287.12', '289.35', '286.75', '287.74', '287.74', '4,230,700', 'BRK-B']
['2021-05-20 00:00:00', '288.41', '289.14', '285.90', '286.73', '286.73', '4,141,600', 'BRK-B']
['2021-05-19 00:00:00', '284.11', '286.56', '282.57', '286.22', '286.22', '5,271,300', 'BRK-B']
['2021-05-18 00:00:00', '290.20', '290.31', '287.24', '287.59', '287.59', '4,356,300', 'BRK-B']
['2021-05-17 00:00:00', '289.99', '290.47', '288.07', '289.22', '289.22', '3,883,300', 'BRK-B']
['2021-05-14 00:00:00', '288.67', '291.38', '288.67', '290.68', '290.68', '4,260,600', 'BRK-B']
['2021-05-13 00:00:00', '282.91', '288.37', '282.85', '286.90', '286.90', '5,244,100', 'BRK-B']
['2021-05-12 00:00:00', '285.46', '286.12', '282.55', '282.91', '282.91', '5,308,800', 'BRK-B']
['2021-05-11 00:00:00', '289.84', '290.51', '284.29', '285.63', '285.63', '6,813,500', 'BRK-B']
['2021-05-10 00:00:00', '292.35', '295.08', '292.07', '292.33', '292.33', '4,537,800', 'BRK-B']
['2021-05-07 00:00:00', '289.97', '291.07', '287.77', '290.93', '290.93', '6,099,200', 'BRK-B']
['2021-05-06 00:00:00', '284.69', '290.00', '284.05', '289.71', '289.71', '5,962,900', 'BRK-B']
['2021-05-05 00:00:00', '282.52', '283.50', '282.23', '282.76', '282.76', '3,011,100', 'BRK-B']
['2021-05-04 00:00:00', '278.54', '280.80', '276.78', '280.26', '280.26', '4,465,500', 'BRK-B']
['2021-05-03 00:00:00', '278.55', '281.12', '277.67', '279.18', '279.18', '5,184,000', 'BRK-B']
['2021-04-30 00:00:00', '276.29', '277.41', '274.21', '274.95', '274.95', '5,212,400', 'BRK-B']
['2021-04-29 00:00:00', '274.47', '277.79', '274.35', '277.60', '277.60', '4,540,300', 'BRK-B']
['2021-04-28 00:00:00', '273.54', '273.96', '272.13', '272.95', '272.95', '3,176,000', 'BRK-B']
['2021-04-27 00:00:00', '271.07', '274.16', '270.05', '273.65', '273.65', '3,173,400', 'BRK-B']
['2021-04-26 00:00:00', '272.28', '273.98', '270.63', '270.86', '270.86', '3,569,100', 'BRK-B']
['2021-04-23 00:00:00', '269.86', '272.69', '269.56', '271.98', '271.98', '3,684,100', 'BRK-B']
['2021-04-22 00:00:00', '272.04', '272.08', '268.78', '269.51', '269.51', '3,732,100', 'BRK-B']
['2021-04-21 00:00:00', '267.80', '272.46', '267.75', '272.21', '272.21', '3,897,100', 'BRK-B']
['2021-04-20 00:00:00', '268.53', '269.31', '266.80', '267.89', '267.89', '3,740,800', 'BRK-B']
['2021-04-19 00:00:00', '272.30', '272.92', '268.85', '270.28', '270.28', '4,235,500', 'BRK-B']
['2021-04-16 00:00:00', '270.47', '272.97', '270.11', '272.11', '272.11', '4,710,300', 'BRK-B']
['2021-04-15 00:00:00', '268.06', '269.28', '266.39', '269.14', '269.14', '3,919,200', 'BRK-B']
['2021-04-14 00:00:00', '267.31', '268.44', '267.15', '267.53', '267.53', '3,119,900', 'BRK-B']
['2021-04-13 00:00:00', '267.42', '268.20', '266.05', '267.10', '267.10', '3,556,600', 'BRK-B']
['2021-04-12 00:00:00', '266.53', '268.34', '266.53', '267.93', '267.93', '4,292,900', 'BRK-B']
['2021-04-09 00:00:00', '264.22', '266.24', '263.35', '266.01', '266.01', '6,052,500', 'BRK-B']
['2021-04-08 00:00:00', '262.72', '263.93', '261.91', '263.51', '263.51', '3,113,300', 'BRK-B']
['2021-04-07 00:00:00', '262.99', '264.34', '262.40', '263.62', '263.62', '3,582,700', 'BRK-B']
['2021-04-06 00:00:00', '262.86', '263.34', '261.94', '263.06', '263.06', '3,060,600', 'BRK-B']
['2021-04-05 00:00:00', '260.02', '263.35', '260.00', '262.66', '262.66', '5,049,600', 'BRK-B']
['2021-04-01 00:00:00', '255.74', '258.47', '254.80', '258.20', '258.20', '5,573,400', 'BRK-B']
['2021-03-31 00:00:00', '256.86', '257.68', '255.17', '255.47', '255.47', '6,578,100', 'BRK-B']
['2021-03-30 00:00:00', '259.94', '261.00', '257.24', '258.19', '258.19', '3,878,000', 'BRK-B']
['2021-03-29 00:00:00', '253.93', '260.05', '253.30', '258.82', '258.82', '6,642,600', 'BRK-B']
['2021-03-26 00:00:00', '252.75', '257.39', '252.42', '256.77', '256.77', '5,799,100', 'BRK-B']
['2021-03-25 00:00:00', '249.38', '251.53', '246.79', '250.75', '250.75', '5,500,000', 'BRK-B']
['2021-03-24 00:00:00', '249.55', '251.89', '248.50', '249.63', '249.63', '4,165,000', 'BRK-B']
['2021-03-23 00:00:00', '250.20', '251.17', '247.71', '248.31', '248.31', '4,622,400', 'BRK-B']
['2021-03-22 00:00:00', '250.60', '251.67', '248.86', '250.36', '250.36', '5,370,400', 'BRK-B']
['2021-03-19 00:00:00', '252.31', '252.50', '248.52', '250.99', '250.99', '16,635,400', 'BRK-B']
['2021-03-18 00:00:00', '253.76', '255.64', '251.38', '252.46', '252.46', '5,547,300', 'BRK-B']
['2021-03-17 00:00:00', '252.02', '254.28', '250.66', '252.00', '252.00', '67,700', 'BRK-B']
['2021-03-16 00:00:00', '254.53', '254.53', '249.82', '251.50', '251.50', '67,200', 'BRK-B']
['2021-03-15 00:00:00', '260.31', '260.44', '253.52', '254.61', '254.61', '6,973,400', 'BRK-B']
['2021-03-12 00:00:00', '262.40', '264.65', '259.67', '260.02', '260.02', '4,495,400', 'BRK-B']
['2021-03-11 00:00:00', '264.22', '264.80', '260.42', '260.91', '260.91', '5,917,600', 'BRK-B']
['2021-03-10 00:00:00', '260.30', '267.50', '259.64', '263.99', '263.99', '8,939,300', 'BRK-B']
['2021-03-09 00:00:00', '258.55', '262.94', '255.61', '259.02', '259.02', '8,259,300', 'BRK-B']
['2021-03-08 00:00:00', '255.60', '260.23', '253.73', '257.61', '257.61', '7,124,300', 'BRK-B']
['2021-03-05 00:00:00', '248.89', '253.45', '247.33', '253.15', '253.15', '6,397,000', 'BRK-B']
['2021-03-04 00:00:00', '251.08', '252.55', '243.23', '245.48', '245.48', '7,827,000', 'BRK-B']
['2021-03-03 00:00:00', '249.73', '254.81', '249.29', '251.55', '251.55', '6,088,300', 'BRK-B']
['2021-03-02 00:00:00', '249.12', '251.34', '248.37', '249.22', '249.22', '4,684,500', 'BRK-B']
['2021-03-01 00:00:00', '246.86', '250.55', '246.09', '249.21', '249.21', '6,332,300', 'BRK-B']
['2021-02-26 00:00:00', '245.15', '245.15', '240.25', '240.51', '240.51', '8,085,300', 'BRK-B']
['2021-02-25 00:00:00', '248.07', '250.56', '242.93', '243.69', '243.69', '6,455,200', 'BRK-B']
['2021-02-24 00:00:00', '245.15', '249.55', '245.15', '248.45', '248.45', '5,105,900', 'BRK-B']
['2021-02-23 00:00:00', '245.56', '246.57', '243.29', '245.53', '245.53', '5,454,900', 'BRK-B']
['2021-02-22 00:00:00', '240.89', '245.98', '240.80', '244.97', '244.97', '4,009,100', 'BRK-B']
['2021-02-19 00:00:00', '244.20', '244.95', '241.36', '241.85', '241.85', '4,252,400', 'BRK-B']
['2021-02-18 00:00:00', '244.73', '245.49', '241.67', '243.50', '243.50', '4,031,000', 'BRK-B']
['2021-02-17 00:00:00', '244.14', '246.19', '244.00', '245.25', '245.25', '3,909,500', 'BRK-B']
['2021-02-16 00:00:00', '244.14', '247.26', '242.82', '245.28', '245.28', '4,722,200', 'BRK-B']
['2021-02-12 00:00:00', '238.07', '242.76', '238.03', '242.46', '242.46', '3,421,800', 'BRK-B']
['2021-02-11 00:00:00', '239.36', '240.44', '238.88', '239.76', '239.76', '2,908,500', 'BRK-B']
['2021-02-10 00:00:00', '241.43', '241.52', '239.04', '239.92', '239.92', '3,822,600', 'BRK-B']
['2021-02-09 00:00:00', '237.07', '240.78', '235.66', '239.91', '239.91', '4,773,400', 'BRK-B']
['2021-02-08 00:00:00', '236.00', '237.56', '235.35', '237.42', '237.42', '3,327,300', 'BRK-B']
['2021-02-05 00:00:00', '236.98', '236.98', '234.83', '235.16', '235.16', '3,812,200', 'BRK-B']
['2021-02-04 00:00:00', '232.84', '235.91', '232.41', '235.77', '235.77', '4,438,400', 'BRK-B']
['2021-02-03 00:00:00', '232.40', '233.16', '231.28', '232.68', '232.68', '3,805,600', 'BRK-B']
['2021-02-02 00:00:00', '231.21', '233.43', '230.67', '232.24', '232.24', '5,300,300', 'BRK-B']
['2021-02-01 00:00:00', '229.97', '230.50', '228.04', '229.32', '229.32', '4,068,200', 'BRK-B']
['2021-01-29 00:00:00', '229.45', '229.97', '227.21', '227.87', '227.87', '6,387,300', 'BRK-B']
['2021-01-28 00:00:00', '229.76', '233.51', '228.16', '230.95', '230.95', '5,943,500', 'BRK-B']
['2021-01-27 00:00:00', '230.00', '230.00', '226.10', '227.36', '227.36', '8,227,100', 'BRK-B']
['2021-01-26 00:00:00', '233.00', '233.50', '231.33', '231.57', '231.57', '3,944,800', 'BRK-B']
['2021-01-25 00:00:00', '231.67', '233.52', '230.45', '233.01', '233.01', '5,097,700', 'BRK-B']
['2021-01-22 00:00:00', '232.50', '233.83', '232.21', '232.92', '232.92', '4,465,000', 'BRK-B']
['2021-01-21 00:00:00', '235.22', '236.20', '234.08', '234.16', '234.16', '4,317,300', 'BRK-B']
['2021-01-20 00:00:00', '234.00', '235.20', '233.24', '234.76', '234.76', '4,876,200', 'BRK-B']
['2021-01-19 00:00:00', '234.64', '236.24', '231.70', '234.55', '234.55', '5,502,100', 'BRK-B']
['2021-01-15 00:00:00', '234.10', '234.59', '231.91', '233.49', '233.49', '5,225,000', 'BRK-B']
['2021-01-14 00:00:00', '234.79', '235.70', '233.84', '235.02', '235.02', '4,528,700', 'BRK-B']

['2021-01-13 00:00:00', '232.00', '234.95', '231.71', '234.51', '234.51', '3,827,500', 'BRK-B']
['2021-01-12 00:00:00', '233.31', '233.98', '231.70', '233.03', '233.03', '5,616,600', 'BRK-B']
['2021-01-11 00:00:00', '231.22', '233.92', '231.02', '233.43', '233.43', '3,882,000', 'BRK-B']
['2021-01-08 00:00:00', '233.54', '234.60', '231.72', '234.03', '234.03', '4,850,400', 'BRK-B']
['2021-01-07 00:00:00', '232.78', '233.96', '231.33', '232.88', '232.88', '4,691,600', 'BRK-B']
['2021-01-06 00:00:00', '229.49', '232.68', '227.55', '230.27', '230.27', '9,009,400', 'BRK-B']
['2021-01-05 00:00:00', '228.21', '230.10', '226.85', '227.47', '227.47', '5,524,900', 'BRK-B']
['2021-01-04 00:00:00', '231.73', '231.87', '226.85', '228.45', '228.45', '7,404,900', 'BRK-B']
['2020-12-31 00:00:00', '229.28', '232.28', '228.89', '231.87', '231.87', '4,228,100', 'BRK-B']
['2020-12-30 00:00:00', '229.54', '230.59', '229.08', '229.65', '229.65', '3,257,400', 'BRK-B']
['2020-12-29 00:00:00', '230.50', '231.10', '229.10', '229.57', '229.57', '3,799,500', 'BRK-B']

## ^VIX

import pandas as pd
import requests
from datetime import datetime
import datetime
import sqlite3
import praw
from bs4 import BeautifulSoup
import re
import locale
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')


columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'
i = '^VIX'

r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
data = r.text
soup = BeautifulSoup(data, features="lxml")

for j in range (0, len(soup.find_all('td'))):
    try:
        if (type(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)) == pd._libs.tslibs.timestamps.Timestamp) == True and isinstance(locale.atof(soup.find_all('td')[j+1].text), (int, float, complex)) == True:
            answer = []
            answer.append(str(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)))
            answer = answer + [i.span.text for i in soup.find_all('td')[j+1: j+6]]+['0'] + [i]
            print(answer)
            connection = sqlite3.connect('MSC.db')
            cursor = connection.cursor()
            sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
            eval(sql2)
            connection.commit()
            connection.close()
        else: pass
    except:pass

## Drop table

#https://www.sqlite.org/datatype3.html
cursor.executescript("DROP TABLE IF EXISTS prices")

In [ ]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('Select date(moment) as date, * from ER20202021')
z =pd.read_sql_query(sql,connection)
z.shape

## Alter

connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('ALTER TABLE top30 RENAME COLUMN date TO Date')
pd.read_sql_query(sql,connection)

In [10]:
## Add new rows

columnnames = "'Company', 'Symbol', 'Weight'"
insertintotable = '?,?,?'
answer = ['CBOE Volatility Index','^VIX', '0']

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql2 = f'cursor.execute("insert INTO  SP500_companies ({columnnames}) VALUES ({insertintotable})", {answer})'
eval(sql2)
connection.commit()
connection.close()

In [ ]:
#Transfer to main folder
import shutil
newPath = shutil.copy('MSC.db', '/Users/Edite')