In [1]:
import sqlite3
import pandas as pd

In [2]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

## List all the tables

In [34]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

def tables_in_sqlite_db(conn):
    cursor = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = [
        v[0] for v in cursor.fetchall()
        if v[0] != "sqlite_sequence"
    ]
    cursor.close()
    return tables

tables = tables_in_sqlite_db(connection)
for i in tables:
    print(i)

top30
a20210407a
a20210408a
a20210409a
ER20210410a
ER20210411a
ER20210412a
ER20210413a
ER20210414a
ER20210415
ER20210416
ER20210417
ER20210418
ER20210419
ER20210420
ER20210421
ER20210422
ER20210423
ER20210424
ER20210425
ER20210426
ER20202021
ER20210427
ER20210428
ER20210429
ER20210430
ER20210501
ER20210502
ER20210503
ER20210504
ER20210505
ER20210506
ER20210507
DJI
SP500
ER20210508
ER20210509
ER20210510
ER20210511
ER20210512
ER20210513
reddit_old
main
ER20210514
ER20210515
ER20210516
SP500_companies
ER20210517
ER20210518
prices
ER20210519
ER20210520
ER20210521
ER20210522
ER20210523
ER20210524
wb_comments
wb_sentiment
ER20210525
ER20210526
ER20210527
ER20210528
ER20210530
ER20210529

In [5]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from prices order by date desc")
df = pd.read_sql_query(sql,connection)
df

,date,open,high,low,close,adj_close,volume,symbol
0,2021-05-28 00:00:00,58.39,58.62,57.48,57.75,57.75,"5,644,400",LVS
1,2021-05-28 00:00:00,142.56,142.57,140.79,142.08,142.08,"498,400",J
2,2021-05-28 00:00:00,121.09,121.81,120.10,121.71,121.71,"583,600",CINF
3,2021-05-28 00:00:00,82.67,82.98,81.56,82.24,82.24,"2,540,800",OMC
4,2021-05-28 00:00:00,221.42,223.38,219.91,222.66,222.66,"261,300",IEX
...,...,...,...,...,...,...,...,...
55226,2020-12-21 00:00:00,110.71,113.78,108.73,112.54,112.54,"3,809,700",WYNN
55227,2020-12-21 00:00:00,146.80,148.06,141.70,145.28,145.28,"1,799,300",XLNX
55228,2020-12-21 00:00:00,366.00,376.73,363.00,375.91,375.91,"505,600",ZBRA
55229,2020-12-21 00:00:00,"30,159.00","30,304.14","29,755.53","30,216.45","30,216.45","437,480,000",^DJI
55230,2020-12-21 00:00:00,"3,684.28","3,702.90","3,636.48","3,694.92","3,694.92","4,732,160,000",^GSPC

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from SP500_companies ")
df = pd.read_sql_query(sql,connection)
df

In [ ]:
df[df.Symbol == "CLR"]

In [ ]:
df[193:]

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = (''' select * from prices 
--where date == "2021-05-19 00:00:00"
''')
price = pd.read_sql_query(sql,connection)
print(price.shape)
price.tail()

price

In [ ]:
price[price.open == "Stock Split"]

In [ ]:
price[price.open == "Dividend"]

In [183]:
## Duplicates

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ('''select symbol, date, XX as count, AM 
from (Select symbol, date, COUNT(symbol) OVER(PARTITION BY symbol, date) as XX ,ROW_NUMBER() OVER(PARTITION BY symbol, date) as AM from prices) where XX > 1''')
df = pd.read_sql_query(sql,connection)
print(df.shape)
df.head()

(206, 4)

  symbol                 date  count  AM
0    KHC  2021-05-19 00:00:00      2   1
1    KHC  2021-05-19 00:00:00      2   2
2    KSU  2021-05-19 00:00:00      2   1
3    KSU  2021-05-19 00:00:00      2   2
4    LYB  2021-05-19 00:00:00      2   1

In [40]:
## Duplicates

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ('''select * from main order by date''')
df = pd.read_sql_query(sql,connection)
print(df.shape)
df.tail()

(149, 31)

,date,top1,top2,top3,top4,top5,top6,top7,top8,top9,...,top21,top22,top23,top24,top25,top26,top27,top28,top29,top30
144,2021-05-26,EU locks out Belarus from international aviation,Ireland to become the first EU state to label ...,Soldier who called on troops to refuse vaccine...,'High Probability' Belarus Agents Torturing Jo...,Agency linked to Russia offered thousands to F...,‘We don’t have time’: scientists urge B.C. to ...,Jailed Navalny says Russia has launched three ...,Belarus closing Canadian embassy as PM Trudeau...,Belarus bans journalists from live reporting a...,...,Singapore Airlines reroutes flights to avoid B...,Lithuania asks UN agency to declare Belarusian...,Huge cemetery with at least 250 rock-cut tombs...,American journalist detained in Myanmar while ...,‘A huge surprise’ as giant river otter feared ...,UN poised to approve war crimes probe into Isr...,Tasmanian devils have been born in the wild on...,"Social media platforms Facebook, Twitter and I...",Gazans outraged after UNRWA director says IDF ...,Italy orders four Egyptian security officials ...
145,2021-05-27,Boris Johnson wanted to be infected with Covid...,Shell ordered to reduce emissions by 45% by 20...,Irish government passes motion condemning Isra...,Tasmanian devils born on Australian mainland f...,Niece of Prominent Uyghur Scholar Confirmed to...,Belarus threatens to flood Europe with migrant...,Lukashenko is 'turning Belarus into the North ...,Iran is enriching uranium at levels 'only coun...,"Ukraine bans electricity imports from Russia, ...",...,Belarus president claims Ryanair plane bomb wa...,Mexico: Builders bulldozing outskirts of Teoti...,Immunity to the Coronavirus May Persist for Ye...,Russia is still the biggest player in disinfor...,Qatar pledges $500 million for postwar constru...,Tim Hortons threatened by living-wage and unio...,New bill could end Hong Kong’s days as an ille...,China overtakes Germany as UK's top import market,Scientists partially restore blind man's visio...,Taiwan's Taipei City Hospital workers plead fo...
146,2021-05-28,'This Is the Price of War': Israeli Newspaper ...,‘Bomb Threat' That Justified Belarus Hijacking...,Japan doctors union warns Olympics could lead ...,Hong Kong police officially ban Tiananmen Mass...,Russia prohibits Austrian Airlines flight to a...,Remains of 215 children found at former reside...,Russia refuses to allow European planes to lan...,Egypt invites Israel and Hamas for direct talk...,"Germany, Norway flip switch on $2.4B undersea ...",...,Japan doctors union warns games could lead to ...,Iranian rights activist and journalist Narges ...,Sweden’s gun violence rate has soared due to g...,UN rights council orders unprecedented open-en...,Germany for the first time recognized it had c...,UN rights body debates ‘systematic discriminat...,Tech giants told to stop making money from dis...,Israel rejects US plan to reopen consulate for...,Japan ruling party seeks big defense budget ri...,Macron recognises French ‘responsibility’ in R...
147,2021-05-29,Another candidate assassinated in Mexico ahead...,Germany says it committed genocide in Namibia ...,Photo of massive tree being hauled down Vancou...,"Israel now holding 13 Palestinian journalists,...",Morocco joins growing list of African countrie...,Hard to believe Russia was not involved in Bel...,Photo of massive tree being hauled down Vancou...,Credit Suisse scandals prompt Switzerland to t...,"FBI joins Poland, Lithuania in investigating f...",...,Ryanair says Belarus refused pilot's request t...,"Report: Bennett, Lapid reach agreement on form...",Microsoft says SolarWinds hackers have struck ...,Back from the brink: Iberian lynx population r...,Germany to invest around $10 billion in hydrog...,Joe Biden Believes China Hiding COVID-19 Origi...,"Indian Variant 75% Of All New UK Covid Cases, ...",US 'rapidly' planning to evacuate Afghan inter...,Canadian RCMP continue to repress journalists ...,"Blamed for virus spread, over 20 5G towers dam..."
148,2021-05-30,Up to 5 years prison for attending Tiananmen M...,Tens of thousands of Brazilians march to deman...,Filipino scientist takes first ever journey to...,Chinese city locks down neighborhood after vir...,India also suffering from a “white fungus” inf...,Orphans have 'volunteered' to work in coal min...,Bennett to announce he's joining opposition to...,U.S. troops charged with guarding nuclear weap...,Europe sees dramatic fall in virus cases,...,Iranian Agents linked to Terrorist plot in Swe...,Colombia politician tells protesters hurt by p...,"Risk of brain-eating amoeba, flesh-eating bact...",Number of smokers worldwide has reached all-ti...,US to work with EU on targeted sanctions for B...,"Illegal miners fire shots, burn homes in Mundu...",Democratic Republic of Congo hit with 61 earth...,Backlash as skin-coloured stamps priced differ...,"Humans Could Live up to 150 Years, New Researc...",Indigenous people in Canada grapple with ‘unth...

In [43]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select symbol, date from prices order by date desc")
df = pd.read_sql_query(sql,connection)
df

      symbol                 date
0        LVS  2021-05-28 00:00:00
1          J  2021-05-28 00:00:00
2       CINF  2021-05-28 00:00:00
3        OMC  2021-05-28 00:00:00
4        IEX  2021-05-28 00:00:00
...      ...                  ...
55248   WYNN  2020-12-21 00:00:00
55249   XLNX  2020-12-21 00:00:00
55250   ZBRA  2020-12-21 00:00:00
55251   ^DJI  2020-12-21 00:00:00
55252  ^GSPC  2020-12-21 00:00:00

[55253 rows x 2 columns]

In [44]:
for date in df.date.unique():

    connection = sqlite3.connect('MSC.db')
    cursor = connection.cursor()
    sql = (f"Select symbol from SP500_companies where symbol not in (select symbol from prices where date = '{date}')")
    miss = pd.read_sql_query(sql,connection)
    if len(list(miss.Symbol))>0:
        print(date)
        print(list(miss.Symbol))

2021-05-28 00:00:00
['AAPL', 'MSFT', 'AMZN', 'FB', 'GOOGL', 'GOOG', 'BRK.B', 'JPM', 'JNJ', 'TSLA', 'UNH', 'V', 'HD', 'PG', 'NVDA', 'DIS', 'BAC', 'MA', 'PYPL', 'CMCSA', 'XOM', 'VZ', 'T', 'ADBE', 'PFE', 'CSCO', 'INTC', 'NFLX', 'KO', 'ABT', 'ABBV', 'CVX', 'PEP', 'MRK', 'CRM', 'WFC', 'WMT', 'ACN', 'TMO', 'AVGO', 'MCD', 'NKE', 'COST', 'MDT', 'TXN', 'DHR', 'C', 'LIN', 'HON', 'UPS', 'LLY', 'PM', 'UNP', 'LOW', 'BMY', 'AMGN', 'ORCL', 'QCOM', 'NEE', 'CAT', 'SBUX', 'IBM', 'MS', 'RTX', 'GS', 'BA', 'BLK', 'DE', 'MMM', 'GE', 'AMT', 'CVS', 'INTU', 'AMAT', 'SCHW', 'TGT', 'AXP', 'CHTR', 'ANTM', 'ISRG', 'LMT', 'MO', 'CI', 'FIS', 'SPGI', 'BKNG', 'NOW', 'AMD', 'MDLZ', 'GILD', 'MU', 'TJX', 'PLD', 'LRCX', 'USB', 'PNC', 'ADP', 'TFC', 'ZTS', 'SYK', 'TMUS', 'DUK', 'CCI', 'CME', 'CSX', 'CB', 'FDX', 'COP', 'ATVI', 'NSC', 'COF', 'BDX', 'CL', 'SO', 'GM', 'SHW', 'ITW', 'MMC', 'FISV', 'APD', 'EL', 'EQIX', 'D', 'ICE', 'PGR', 'FCX', 'ADSK', 'BSX', 'HUM', 'GPN', 'ETN', 'NOC', 'AON', 'EMR', 'VRTX', 'NEM', 'ECL', 'WM', 'HCA', 'EW', 'ILMN', 'REGN', 'ADI', 'MCO', 'NXPI', 'DOW', 'DG', 'MET', 'EOG', 'JCI', 'ROP', 'KLAC', 'KMB', 'F', 'ROST', 'SLB', 'GD', 'IDXX', 'LHX', 'AIG', 'DD', 'IQV', 'TEL', 'TT', 'EXC', 'TROW', 'AEP', 'BIIB', 'SYY', 'PPG', 'BAX', 'PRU', 'DLR', 'BK', 'SRE', 'PSA', 'ALL', 'PH', 'HPQ', 'EA', 'TWTR', 'ALGN', 'TRV', 'CNC', 'A', 'STZ', 'INFO', 'APH', 'GIS', 'ORLY', 'CMI', 'WBA', 'SPG', 'MPC', 'MCHP', 'ALXN', 'MSCI', 'EBAY', 'CTSH', 'XEL', 'ADM', 'CMG', 'MAR', 'APTV', 'PSX', 'AFL', 'YUM', 'LUV', 'CARR', 'DFS', 'SNPS', 'KMI', 'SWK', 'IFF', 'ZBH', 'CTVA', 'CDNS', 'AZO', 'WLTW', 'GLW', 'MSI', 'HLT', 'MNST', 'FRC', 'PCAR', 'TDG', 'VLO', 'PAYX', 'OTIS', 'DHI', 'PEG', 'CTAS', 'DXCM', 'MCK', 'SBAC', 'PXD', 'ROK', 'WMB', 'AME', 'FAST', 'WEC', 'STT', 'WELL', 'NUE', 'FITB', 'AMP', 'MTD', 'ES', 'BLL', 'CBRE', 'SIVB', 'EFX', 'WY', 'KSU', 'LYB', 'KHC', 'RMD', 'VRSK', 'AJG', 'XLNX', 'DAL', 'KR', 'AWK', 'ANSS', 'BBY', 'AVB', 'DTE', 'ED', 'LEN', 'LH', 'VFC', 'FTNT', 'SWKS', 'DLTR', 'KEYS', 'EQR', 'ODFL', 'ZBRA', 'VMC', 'HSY', 'CPRT', 'NTRS', 'SYF', 'IP', 'WST', 'MXIM', 'O', 'URI', 'CDW', 'TSN', 'CERN', 'FTV', 'OKE', 'MLM', 'RSG', 'HIG', 'CLX', 'EXPE', 'VIAC', 'MKC', 'FLT', 'PPL', 'KEY', 'EIX', 'ARE', 'VRSN', 'CHD', 'HES', 'TSCO', 'RF', 'DOV', 'ETR', 'MTB', 'CFG', 'XYL', 'HPE', 'AEE', 'GRMN', 'GWW', 'IT', 'FE', 'WDC', 'VTR', 'EXPD', 'CCL', 'HAL', 'OXY', 'KMX', 'CZR', 'WAT', 'TER', 'ETSY', 'AMCR', 'VTRS', 'COO', 'CE', 'GPC', 'QRVO', 'EXR', 'TTWO', 'ESS', 'TRMB', 'BR', 'CAG', 'NDAQ', 'GNRC', 'ALB', 'DGX', 'CMS', 'TFX', 'AVY', 'AKAM', 'MAA', 'BKR', 'IR', 'ABC', 'ULTA', 'PEAK', 'POOL', 'STX', 'DRI', 'ANET', 'EMN', 'K', 'MKTX', 'RCL', 'NTAP', 'NVR', 'STE', 'CTLT', 'DRE', 'PFG', 'MAS', 'DPZ', 'AES', 'RJF', 'HOLX', 'CRL', 'WRK', 'PKI', 'HBAN', 'TYL', 'INCY', 'WHR', 'PHM', 'MGM', 'LB', 'PAYC', 'TDY', 'TXT', 'FMC', 'BXP', 'SJM', 'FBHS', 'NLOK', 'PKG', 'JBHT', 'DVN', 'XRAY', 'ENPH', 'CTXS', 'EVRG', 'LNT', 'BF.B', 'WAB', 'LUMN', 'LDOS', 'FANG', 'LKQ', 'SNA', 'UDR', 'CNP', 'AAP', 'HRL', 'PWR', 'CHRW', 'L', 'PTC', 'AAL', 'MPWR', 'FOXA', 'MHK', 'WYNN', 'BIO', 'ATO', 'ALLE', 'IPG', 'HWM', 'TPR', 'LNC', 'HAS', 'UHS', 'CBOE', 'BWA', 'IRM', 'JKHY', 'FLIR', '^GSPC', '^DJI', '^VIX']
2021-05-27 00:00:00
['BRK.B', 'BF.B', 'FLIR', '^GSPC', '^DJI', '^VIX']
2021-05-26 00:00:00
['BRK.B', 'BF.B', 'FLIR', '^GSPC', '^DJI', '^VIX']
2021-05-25 00:00:00
['BRK.B', 'BF.B', 'FLIR']
2021-05-24 00:00:00
['BRK.B', 'BF.B', 'FLIR']
2021-05-21 00:00:00
['BRK.B', 'BF.B', 'FLIR']
2021-05-20 00:00:00
['BRK.B', 'BF.B', 'FLIR']
2021-05-19 00:00:00
['BRK.B', 'BF.B', 'FLIR']
2021-05-18 00:00:00
['BRK.B', 'BF.B', 'FLIR']
2021-05-17 00:00:00
['BRK.B', 'BF.B', 'FLIR']
2021-05-14 00:00:00
['BRK.B', 'BF.B', 'FLIR']
2021-05-13 00:00:00
['BRK.B', 'BF.B']
2021-05-12 00:00:00
['BRK.B', 'BF.B']
2021-05-11 00:00:00
['BRK.B', 'BF.B']
2021-05-10 00:00:00
['BRK.B', 'BF.B']
2021-05-07 00:00:00
['BRK.B', 'BF.B']
2021-05-06 00:00:00
['BRK.B', 'BF.B']
2021-05-05 00:00:00
['BRK.B', 'BF.B']
2021-05-04 00:00:00
['BRK.B', 'BF.B']
2021-05-03 00:00:00
['BRK.B', 'BF.B']
2021-04-30 00:00:00
['BRK.B', 'BF.B']
2021-04-29 00:00:00
['BRK.B', 'BF.B']
2021-04-28 00:00:00
['BRK.B', 'BF.B']
2021-04-27 00:00:00
['BRK.B', 'BF.B']
2021-04-26 00:00:00
['BRK.B', 'BF.B']
2021-04-23 00:00:00
['BRK.B', 'BF.B']
2021-04-22 00:00:00
['BRK.B', 'BF.B']
2021-04-21 00:00:00
['BRK.B', 'BF.B']
2021-04-20 00:00:00
['BRK.B', 'BF.B']
2021-04-19 00:00:00
['BRK.B', 'BF.B']
2021-04-16 00:00:00
['BRK.B', 'BF.B']
2021-04-15 00:00:00
['BRK.B', 'BF.B']
2021-04-14 00:00:00
['BRK.B', 'BF.B']
2021-04-13 00:00:00
['BRK.B', 'BF.B']
2021-04-12 00:00:00
['BRK.B', 'BF.B']
2021-04-09 00:00:00
['BRK.B', 'BF.B']
2021-04-08 00:00:00
['BRK.B', 'BF.B']
2021-04-07 00:00:00
['BRK.B', 'BF.B']
2021-04-06 00:00:00
['BRK.B', 'BF.B']
2021-04-05 00:00:00
['BRK.B', 'BF.B']
2021-04-01 00:00:00
['BRK.B', 'BF.B']
2021-03-31 00:00:00
['BRK.B', 'BF.B']
2021-03-30 00:00:00
['BRK.B', 'BF.B']
2021-03-29 00:00:00
['BRK.B', 'BF.B']
2021-03-26 00:00:00
['BRK.B', 'BF.B']
2021-03-25 00:00:00
['BRK.B', 'BF.B']
2021-03-24 00:00:00
['BRK.B', 'BF.B']
2021-03-23 00:00:00
['BRK.B', 'BF.B']
2021-03-22 00:00:00
['BRK.B', 'BF.B']
2021-03-19 00:00:00
['BRK.B', 'BF.B']
2021-03-18 00:00:00
['BRK.B', 'BF.B']
2021-03-17 00:00:00
['BRK.B', 'BF.B']
2021-03-16 00:00:00
['BRK.B', 'BF.B']
2021-03-15 00:00:00
['BRK.B', 'BF.B']
2021-03-12 00:00:00
['BRK.B', 'BF.B']
2021-03-11 00:00:00
['BRK.B', 'BF.B']
2021-03-10 00:00:00
['BRK.B', 'BF.B']
2021-03-09 00:00:00
['BRK.B', 'BF.B']
2021-03-08 00:00:00
['BRK.B', 'BF.B']
2021-03-05 00:00:00
['BRK.B', 'BF.B']
2021-03-04 00:00:00
['BRK.B', 'BF.B']
2021-03-03 00:00:00
['BRK.B', 'BF.B']
2021-03-02 00:00:00
['BRK.B', 'BF.B']
2021-03-01 00:00:00
['BRK.B', 'BF.B']
2021-02-26 00:00:00
['BRK.B', 'BF.B']
2021-02-25 00:00:00
['BRK.B', 'BF.B']
2021-02-24 00:00:00
['BRK.B', 'BF.B']
2021-02-23 00:00:00
['BRK.B', 'BF.B']
2021-02-22 00:00:00
['BRK.B', 'BF.B']
2021-02-19 00:00:00
['BRK.B', 'BF.B']
2021-02-18 00:00:00
['BRK.B', 'BF.B']
2021-02-17 00:00:00
['BRK.B', 'BF.B']
2021-02-16 00:00:00
['BRK.B', 'BF.B']
2021-02-12 00:00:00
['BRK.B', 'BF.B']
2021-02-11 00:00:00
['BRK.B', 'BF.B']
2021-02-10 00:00:00
['BRK.B', 'BF.B']
2021-02-09 00:00:00
['BRK.B', 'BF.B']
2021-02-08 00:00:00
['BRK.B', 'BF.B']
2021-02-05 00:00:00
['BRK.B', 'BF.B']
2021-02-04 00:00:00
['BRK.B', 'BF.B']
2021-02-03 00:00:00
['BRK.B', 'BF.B']
2021-02-02 00:00:00
['BRK.B', 'BF.B']
2021-02-01 00:00:00
['BRK.B', 'BF.B']
2021-01-29 00:00:00
['BRK.B', 'BF.B']
2021-01-28 00:00:00
['BRK.B', 'BF.B']
2021-01-27 00:00:00
['BRK.B', 'BF.B']
2021-01-26 00:00:00
['BRK.B', 'BF.B']
2021-01-25 00:00:00
['BRK.B', 'BF.B']
2021-01-22 00:00:00
['BRK.B', 'BF.B']
2021-01-21 00:00:00
['BRK.B', 'BF.B']
2021-01-20 00:00:00
['BRK.B', 'BF.B']
2021-01-19 00:00:00
['BRK.B', 'BF.B']
2021-01-15 00:00:00
['BRK.B', 'BF.B']
2021-01-14 00:00:00
['BRK.B', 'BF.B']
2021-01-13 00:00:00
['BRK.B', 'BF.B']
2021-01-12 00:00:00
['BRK.B', 'BF.B']
2021-01-11 00:00:00
['BRK.B', 'BF.B']
2021-01-08 00:00:00
['BRK.B', 'BF.B']
2021-01-07 00:00:00
['BRK.B', 'BF.B']
2021-01-06 00:00:00
['BRK.B', 'BF.B']
2021-01-05 00:00:00
['BRK.B', 'BF.B']
2021-01-04 00:00:00
['BRK.B', 'BF.B']
2020-12-31 00:00:00
['BRK.B', 'BF.B']
2020-12-30 00:00:00
['BRK.B', 'BF.B']
2020-12-29 00:00:00
['BRK.B', 'BF.B', 'FLIR', 'CLR', 'SPY']
2020-12-28 00:00:00
['BRK.B', 'O', 'BF.B', 'FLIR', 'CLR', 'SPY', '^VIX']
2020-12-24 00:00:00
['BRK.B', 'O', 'BF.B', 'FLIR', 'CLR', 'SPY', '^VIX']
2020-12-23 00:00:00
['BRK.B', 'O', 'MAA', 'BF.B', 'FLIR', 'CLR', 'SPY', '^VIX']
2020-12-22 00:00:00
['AAPL', 'BRK.B', 'JPM', 'V', 'PG', 'MA', 'CMCSA', 'XOM', 'VZ', 'T', 'PFE', 'CSCO', 'INTC', 'ABT', 'ABBV', 'WFC', 'WMT', 'ACN', 'COST', 'TXN', 'DHR', 'C', 'HON', 'LLY', 'LOW', 'BMY', 'AMGN', 'ORCL', 'CAT', 'SBUX', 'IBM', 'MS', 'DE', 'AMT', 'CVS', 'INTU', 'SCHW', 'AXP', 'MO', 'MDLZ', 'TJX', 'USB', 'PNC', 'TFC', 'ZTS', 'SYK', 'DUK', 'CME', 'COP', 'NSC', 'COF', 'CL', 'SO', 'SHW', 'ITW', 'MMC', 'APD', 'PGR', 'HUM', 'ETN', 'AON', 'EMR', 'HCA', 'DG', 'MET', 'EOG', 'ROP', 'KLAC', 'GD', 'EXC', 'AEP', 'SYY', 'PPG', 'BK', 'PH', 'A', 'STZ', 'INFO', 'APH', 'GIS', 'SPG', 'MSCI', 'KMI', 'IFF', 'ZBH', 'CTVA', 'WLTW', 'FRC', 'PCAR', 'VLO', 'PAYX', 'DHI', 'CTAS', 'PXD', 'ROK', 'FAST', 'WEC', 'STT', 'WELL', 'NUE', 'FITB', 'AMP', 'KSU', 'RMD', 'KR', 'AWK', 'AVB', 'LEN', 'EQR', 'SYF', 'WST', 'O', 'CERN', 'OKE', 'RSG', 'CLX', 'MKC', 'EIX', 'ARE', 'CHD', 'ETR', 'CFG', 'GWW', 'FE', 'VTR', 'CE', 'ESS', 'CAG', 'DGX', 'CMS', 'TFX', 'MAA', 'ABC', 'PEAK', 'POOL', 'STX', 'DRI', 'MKTX', 'NTAP', 'DRE', 'CAH', 'AES', 'RJF', 'PKI', 'FMC', 'BXP', 'SJM', 'JBHT', 'XRAY', 'LNT', 'BF.B', 'WAB', 'FANG', 'UDR', 'HRL', 'PWR', 'MPWR', 'LNC', 'HAS', 'LW', 'CF', 'PNR', 'IVZ', 'CPB', 'GL', 'NI', 'ZION', 'PNW', 'AOS', 'BEN', 'NRG', 'PBCT', 'ROL', 'FRT', 'APA', 'FLIR', 'VNO', 'COG', 'UNM', 'CLR', 'SPY', '^VIX']
2020-12-21 00:00:00
['AAPL', 'MSFT', 'BRK.B', 'JPM', 'JNJ', 'UNH', 'V', 'HD', 'PG', 'NVDA', 'BAC', 'MA', 'CMCSA', 'XOM', 'VZ', 'T', 'PFE', 'CSCO', 'INTC', 'KO', 'ABT', 'ABBV', 'CVX', 'PEP', 'MRK', 'WFC', 'WMT', 'ACN', 'TMO', 'AVGO', 'MCD', 'NKE', 'COST', 'MDT', 'TXN', 'DHR', 'C', 'LIN', 'HON', 'UPS', 'LLY', 'PM', 'UNP', 'LOW', 'BMY', 'AMGN', 'ORCL', 'QCOM', 'NEE', 'CAT', 'SBUX', 'IBM', 'MS', 'RTX', 'GS', 'BLK', 'DE', 'MMM', 'GE', 'AMT', 'CVS', 'INTU', 'AMAT', 'SCHW', 'TGT', 'AXP', 'ANTM', 'LMT', 'MO', 'CI', 'FIS', 'SPGI', 'MDLZ', 'GILD', 'TJX', 'PLD', 'LRCX', 'USB', 'PNC', 'ADP', 'TFC', 'ZTS', 'SYK', 'DUK', 'CCI', 'CME', 'CSX', 'CB', 'FDX', 'COP', 'ATVI', 'NSC', 'COF', 'BDX', 'CL', 'SO', 'SHW', 'ITW', 'MMC', 'APD', 'EL', 'EQIX', 'D', 'ICE', 'PGR', 'FCX', 'HUM', 'GPN', 'ETN', 'NOC', 'AON', 'EMR', 'NEM', 'ECL', 'WM', 'HCA', 'ADI', 'MCO', 'NXPI', 'DOW', 'DG', 'MET', 'EOG', 'JCI', 'ROP', 'KLAC', 'KMB', 'ROST', 'SLB', 'GD', 'LHX', 'AIG', 'DD', 'TEL', 'TT', 'EXC', 'TROW', 'AEP', 'SYY', 'PPG', 'BAX', 'PRU', 'DLR', 'BK', 'SRE', 'PSA', 'ALL', 'PH', 'HPQ', 'EA', 'TRV', 'A', 'STZ', 'INFO', 'APH', 'GIS', 'CMI', 'WBA', 'SPG', 'MPC', 'MCHP', 'MSCI', 'EBAY', 'CTSH', 'XEL', 'ADM', 'PSX', 'AFL', 'YUM', 'CARR', 'DFS', 'KMI', 'SWK', 'IFF', 'ZBH', 'CTVA', 'WLTW', 'GLW', 'MSI', 'FRC', 'PCAR', 'VLO', 'PAYX', 'OTIS', 'DHI', 'PEG', 'CTAS', 'MCK', 'SBAC', 'PXD', 'ROK', 'WMB', 'AME', 'FAST', 'WEC', 'STT', 'WELL', 'NUE', 'FITB', 'AMP', 'ES', 'BLL', 'EFX', 'WY', 'KSU', 'LYB', 'KHC', 'RMD', 'VRSK', 'AJG', 'KR', 'AWK', 'BBY', 'AVB', 'DTE', 'ED', 'LEN', 'VFC', 'SWKS', 'EQR', 'ODFL', 'VMC', 'HSY', 'NTRS', 'SYF', 'IP', 'WST', 'O', 'CDW', 'TSN', 'CERN', 'FTV', 'OKE', 'MLM', 'RSG', 'HIG', 'CLX', 'VIAC', 'MKC', 'PPL', 'KEY', 'EIX', 'ARE', 'CHD', 'HES', 'TSCO', 'RF', 'DOV', 'ETR', 'MTB', 'CFG', 'XYL', 'HPE', 'AEE', 'GRMN', 'GWW', 'FE', 'VTR', 'HAL', 'OXY', 'TER', 'AMCR', 'COO', 'CE', 'GPC', 'EXR', 'ESS', 'BR', 'CAG', 'NDAQ', 'ALB', 'DGX', 'CMS', 'TFX', 'AVY', 'J', 'CINF', 'OMC', 'MAA', 'BKR', 'ABC', 'PEAK', 'POOL', 'STX', 'DRI', 'EMN', 'K', 'MKTX', 'NTAP', 'STE', 'IEX', 'DRE', 'PFG', 'CAH', 'MAS', 'DPZ', 'AES', 'RJF', 'WRK', 'PKI', 'HBAN', 'WHR', 'PHM', 'MGM', 'TXT', 'FMC', 'BXP', 'SJM', 'FBHS', 'NLOK', 'PKG', 'JBHT', 'DVN', 'XRAY', 'CTXS', 'EVRG', 'LNT', 'BF.B', 'WAB', 'LUMN', 'LDOS', 'FANG', 'SNA', 'UDR', 'CNP', 'AAP', 'HRL', 'PWR', 'CHRW', 'L', 'MPWR', 'FOXA', 'ATO', 'ALLE', 'IPG', 'LNC', 'HAS', 'UHS', 'CBOE', 'BWA', 'IRM', 'JKHY', 'MOS', 'LW', 'CF', 'PNR', 'WRB', 'CMA', 'RE', 'NWL', 'NWSA', 'IVZ', 'WU', 'CPB', 'RHI', 'GL', 'REG', 'NI', 'NLSN', 'ZION', 'PNW', 'AOS', 'BEN', 'AIZ', 'KIM', 'SEE', 'MRO', 'HII', 'JNPR', 'NRG', 'PBCT', 'ROL', 'FRT', 'APA', 'FLIR', 'LEG', 'VNO', 'GPS', 'COG', 'HBI', 'UNM', 'PRGO', 'FOX', 'HFC', 'NWS', 'CLR', 'SPY', '^VIX']

In [42]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

sql = (f'''
Select symbol from SP500_companies 
where symbol not in (select distinct symbol from prices where date == "2021-05-25 00:00:00")
and  symbol not in ('BRK.B', 'BF.B', 'FLIR')'''
    )
df = pd.read_sql_query(sql,connection)
df

Empty DataFrame
Columns: [Symbol]
Index: []

In [128]:
## Delete

connection = sqlite3.connect('MSC.db') 
cursor = connection.cursor() 
sql = ("delete from wb_comments where date = '2021-05-25'") 
cursor.execute(sql) 
connection.commit()

In [191]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from wb_sentiment order by date desc")
df = pd.read_sql_query(sql,connection)
df

,date,symbol,neg,neu,pos,compound,comment
0,2021-05-26,SPY,0.455,0.545,0.0,-0.7184,Can’t sleep got SPY puts expiring tomorrow. 🥵
1,2021-05-26,SPY,0.107,0.656,0.238,0.3818,SPY green means GME r fuk sorry I don’t make t...
2,2021-05-26,SPY,0.298,0.702,0.0,-0.5267,I am the retard whisperer\n\ncome close\n\n*0d...
3,2021-05-26,SPY,0.438,0.562,0.0,-0.7906,"As a defeated gay bear, SPY going to 435 in a ..."
4,2021-05-26,SPY,0.0,0.674,0.326,0.4404,Green for the whole week - SPY 425
...,...,...,...,...,...,...,...
1248,2021-05-24,TGT,0.157,0.721,0.122,-0.1613,WMT TGT LOW HD - will retail still do ok for t...
1249,2021-05-24,LOW,0.157,0.721,0.122,-0.1613,WMT TGT LOW HD - will retail still do ok for t...
1250,2021-05-24,NFLX,0.239,0.621,0.14,-0.9034,u/JakTravis_u_SOB\n\nWhere does everyone think...
1251,2021-05-24,VFC,0.0,0.222,0.778,0.8885,"Free money, VFC calls on Monday."
1252,2021-05-24,PENN,0.0,0.751,0.249,0.5106,"Well, on Monday I will be the owner of 200 sha..."

In [192]:
df.symbol.value_counts()

SPY     371
TSLA    226
NVDA    109
F        93
AMD      77
       ...
QCOM      1
MLM       1
KMI       1
RL        1
CZR       1
Name: symbol, Length: 83, dtype: int64

In [193]:
cols = ['neg', 'neu', 'pos', 'compound']
df[cols] = df[cols].apply(pd.to_numeric, downcast='float', errors='coerce')

In [194]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      1253 non-null   object
 1   symbol    1253 non-null   object
 2   neg       1253 non-null   float32
 3   neu       1253 non-null   float32
 4   pos       1253 non-null   float32
 5   compound  1253 non-null   float32
 6   comment   1253 non-null   object
dtypes: float32(4), object(3)
memory usage: 49.1+ KB

In [201]:
import numpy as np
#df.groupby(['symbol', 'date'])['compound'].agg(['count',np.mean, np.median, min, max, np.std]).unstack(1)

df.groupby(['symbol', 'date'])['neg','compound'].agg(['count',np.mean, np.median, min, max, np.std])

/Users/Edite/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  after removing the cwd from sys.path.

                    neg                                           compound  \
                  count      mean  median    min    max       std    count
symbol date
AAL    2021-05-24     1  0.030000  0.0300  0.030  0.030       NaN        1
       2021-05-25     2  0.053000  0.0530  0.030  0.076  0.032527        2
       2021-05-26     5  0.030600  0.0000  0.000  0.077  0.041902        5
AAPL   2021-05-24    11  0.046091  0.0000  0.000  0.284  0.103449       11
       2021-05-25    26  0.091269  0.0000  0.000  0.403  0.125886       26
...                 ...       ...     ...    ...    ...       ...      ...
WELL   2021-05-25     1  0.000000  0.0000  0.000  0.000       NaN        1
       2021-05-26     2  0.027500  0.0275  0.000  0.055  0.038891        2
WMT    2021-05-24     1  0.157000  0.1570  0.157  0.157       NaN        1
XOM    2021-05-24     1  0.180000  0.1800  0.180  0.180       NaN        1
       2021-05-26     4  0.248750  0.2605  0.000  0.474  0.233646        4


                      mean   median     min     max       std
symbol date
AAL    2021-05-24  0.86760  0.86760  0.8676  0.8676       NaN
       2021-05-25  0.71975  0.71975  0.5719  0.8676  0.209091
       2021-05-26  0.44520  0.57190  0.0000  0.8316  0.419559
AAPL   2021-05-24  0.17100  0.00000 -0.5445  0.8555  0.388782
       2021-05-25  0.15320  0.24465 -0.8038  0.8271  0.415601
...                    ...      ...     ...     ...       ...
WELL   2021-05-25  0.75790  0.75790  0.7579  0.7579       NaN
       2021-05-26  0.62655  0.62655  0.2732  0.9799  0.499712
WMT    2021-05-24 -0.16130 -0.16130 -0.1613 -0.1613       NaN
XOM    2021-05-24 -0.51060 -0.51060 -0.5106 -0.5106       NaN
       2021-05-26  0.13090  0.11920 -0.5574  0.8426  0.731859

[165 rows x 12 columns]

## DF to SQL 

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
df_distinct.to_sql('prices', connection, index = False)
connection.commit()
connection.close()

In [ ]:
## ADD NEW COMERS

import pandas as pd
import requests
from datetime import datetime
import datetime
import sqlite3
import praw
from bs4 import BeautifulSoup
import re
import locale
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')


columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'
i = 'BRK-B'

r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
data = r.text
soup = BeautifulSoup(data, features="lxml")

for j in range (0, len(soup.find_all('td'))):
    try:
        if (type(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)) == pd._libs.tslibs.timestamps.Timestamp) == True and isinstance(locale.atof(soup.find_all('td')[j+1].text), (int, float, complex)) == True:
            answer = []
            answer.append(str(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)))
            answer = answer + [i.span.text for i in soup.find_all('td')[j+1: j+7]] + [i]
            print(answer)
            connection = sqlite3.connect('MSC.db')
            cursor = connection.cursor()
            sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
            eval(sql2)
            connection.commit()
            connection.close()
        else: pass
    except:pass

In [46]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from prices where symbol = '^VIX' order by date desc")
z = pd.read_sql_query(sql,connection)
z

                    date   open   high    low  close adj_close volume symbol
0    2021-05-25 00:00:00  18.35  18.97  16.87  18.87     18.87      0   ^VIX
1    2021-05-24 00:00:00  20.50  20.51  18.38  18.40     18.40      0   ^VIX
2    2021-05-21 00:00:00  20.42  20.89  19.53  20.15     20.15      0   ^VIX
3    2021-05-20 00:00:00  22.33  23.50  20.19  20.67     20.67      0   ^VIX
4    2021-05-19 00:00:00  22.46  25.96  21.88  22.18     22.18      0   ^VIX
..                   ...    ...    ...    ...    ...       ...    ...    ...
97   2021-01-05 00:00:00  26.94  28.60  24.80  25.34     25.34      0   ^VIX
98   2021-01-04 00:00:00  23.04  29.19  22.56  26.97     26.97      0   ^VIX
99   2020-12-31 00:00:00  22.99  23.25  21.24  22.75     22.75      0   ^VIX
100  2020-12-30 00:00:00  22.58  23.15  22.41  22.77     22.77      0   ^VIX
101  2020-12-29 00:00:00  21.61  23.72  20.99  23.08     23.08      0   ^VIX

[102 rows x 8 columns]

In [47]:
## ^VIX

import pandas as pd
import requests
from datetime import datetime
import datetime
import sqlite3
import praw
from bs4 import BeautifulSoup
import re
import locale
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')


columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'
i = '^VIX'

r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
data = r.text
soup = BeautifulSoup(data, features="lxml")

for j in range (0, len(soup.find_all('td'))):
    try:
        if (type(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)) == pd._libs.tslibs.timestamps.Timestamp) == True and isinstance(locale.atof(soup.find_all('td')[j+1].text), (int, float, complex)) == True and pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True) > pd.to_datetime(z.date[z.symbol == i].iloc[0]):
            answer = []
            answer.append(str(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)))
            answer = answer + [i.span.text for i in soup.find_all('td')[j+1: j+6]]+['0'] + [i]
            print(answer)
            connection = sqlite3.connect('MSC.db')
            cursor = connection.cursor()
            sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
            eval(sql2)
            connection.commit()
            connection.close()
        else: pass
    except:pass

['2021-05-28 00:00:00', '16.80', '16.86', '15.90', '16.76', '16.76', '0', '^VIX']
['2021-05-27 00:00:00', '18.03', '18.17', '16.52', '16.74', '16.74', '0', '^VIX']
['2021-05-26 00:00:00', '18.37', '18.92', '17.35', '17.36', '17.36', '0', '^VIX']

## Drop table

#https://www.sqlite.org/datatype3.html
cursor.executescript("DROP TABLE IF EXISTS prices")

In [ ]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('Select date(moment) as date, * from ER20202021')
z =pd.read_sql_query(sql,connection)
z.shape

## Alter

connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('ALTER TABLE top30 RENAME COLUMN date TO Date')
pd.read_sql_query(sql,connection)

In [ ]:
## Add new rows

columnnames = "'Company', 'Symbol', 'Weight'"
insertintotable = '?,?,?'
answer = ['CBOE Volatility Index','^VIX', '0']

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql2 = f'cursor.execute("insert INTO  SP500_companies ({columnnames}) VALUES ({insertintotable})", {answer})'
eval(sql2)
connection.commit()
connection.close()

In [ ]:
#Transfer to main folder
import shutil
newPath = shutil.copy('MSC.db', '/Users/Edite')

In [35]:
#Create strings for SQL injection
createtable, columnnames, insertintotable = "", "", ""

kolonas = ['date',"symbol",'neg', 'neu', 'pos', 'compound', "comment"]
z = len(kolonas)
for k in kolonas:
    if z > 1:
        createtable+= str(k + " TEXT,")
        columnnames += str(f"'{k}', ")
        insertintotable += str("?,")        
    else:
        createtable+= str(k + " TEXT")
        columnnames += str(k)
        insertintotable += str("?")
    z+= -1
    
#Drop and create the todays table
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
a = f"cursor.executescript('DROP TABLE IF EXISTS wb_sentiment')"
b = f"cursor.execute('CREATE TABLE wb_sentiment ({createtable} )')"
eval(a)
eval(b)

In [81]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from wb_comments order by date desc")
df = pd.read_sql_query(sql,connection)
df

,date,thread,upvote_ratio,likes,comment
0,2021-05-30,Weekend Discussion Thread for the Weekend of M...,0.9,4,I used to spend my money at titty bars and go ...
1,2021-05-30,Weekend Discussion Thread for the Weekend of M...,0.9,4,Upvote if you had an orgasm today 👉👌
2,2021-05-30,Weekend Discussion Thread for the Weekend of M...,0.9,8,Ok let’s enter pretend land for a second.\n\nS...
3,2021-05-30,Weekend Discussion Thread for the Weekend of M...,0.9,3,Holy shit!! Boris Johnson is some horny bastar...
4,2021-05-30,Weekend Discussion Thread for the Weekend of M...,0.9,4,Watching Ragnarok
...,...,...,...,...,...
86617,2021-05-24,Weekend Discussion Thread for the Weekend of M...,0.84,5,Damn watch tmmrw test flight get cancelled
86618,2021-05-24,Weekend Discussion Thread for the Weekend of M...,0.84,4,BEARS R FUK
86619,2021-05-24,Weekend Discussion Thread for the Weekend of M...,0.84,7,Sometimes I sell my red positions and buy back...
86620,2021-05-24,Weekend Discussion Thread for the Weekend of M...,0.84,6,eat a dick
86621,2021-05-24,Weekend Discussion Thread for the Weekend of M...,0.84,23,I have no idea what I'm doing

In [82]:
df.date.value_counts()

2021-05-30    27276
2021-05-26    18546
2021-05-27    17800
2021-05-25    13670
2021-05-24     9330
Name: date, dtype: int64

connection = sqlite3.connect('MSC.db') 
cursor = connection.cursor() 
sql = ("delete from main where date == '2021-05-19'") 
cursor.execute(sql) 
connection.commit()

In [125]:
df.describe()

,date,top1,top2,top3,top4,top5,top6,top7,top8,top9,...,top21,top22,top23,top24,top25,top26,top27,top28,top29,top30
count,143,143,143,143,143,143,143,143,143,143,...,143,143,143,143,143,143,143,143,143,143
unique,143,117,118,118,118,118,118,118,118,118,...,118,118,118,118,118,118,118,118,118,118
top,2021-01-13,'Price gouging from Covid': student ebooks cos...,‘The perfect target’: Russia cultivated Trump ...,Two gay men plead for mercy as they are caned ...,Revealed: Massive Chinese Police Database - Mi...,"NYC protesters slam Robinhood, scream at Wall ...",The GameStop phenomenon has gone global - The ...,Two lesbians attacked while counter-protesting...,Royal Documentary Banned By The Queen 50 Years...,Shock and anger at EU's move to invoke Brexit ...,...,French far-right leader Marine Le Pen Friday p...,Top German court rules war crimes committed ab...,Canada considering drug decriminalization to f...,"Northern Ireland First Minister, Arlene Foster...",Brexit: EU introduces controls on vaccines to NI,Catholic school sex education resource says me...,"Taliban Says US ‘Bombarding Civilians, Houses’...",Backlash against Robinhood after GameStop trad...,6.3M travellers entered Canada and didn’t have...,Russia has been cultivating Trump as an asset ...
freq,1,19,19,19,19,19,19,19,19,19,...,19,19,19,19,19,19,19,19,19,19

In [126]:
df.top5.value_counts()

NYC protesters slam Robinhood, scream at Wall Street traders amid GameStop stock chaos                                                                                                                                                                                                                          19
Indian government opposes same-sex marriage in High Court, says same-sex marriage not comparable with ‘Indian family unit concept’                                                                                                                                                                               4
SolarWinds hack was 'largest and most sophisticated attack' ever: Microsoft president                                                                                                                                                                                                                            4
12 Japanese firms will end business deals involving Uighur forced labor                                                                                                                                                                                                                                          2
Saskatchewan First Nation erects blockade after company enters territory without consent | Birch Narrows Dene Nation blockaded a road & issued a cease-and-desist order against a Toronto company after workers with Baselode Energy Corp started surveying the band's traditional territory without consent     1
                                                                                                                                                                                                                                                                                                                ..
Uyghur Australian woman breaks her silence as her husband is sentenced to 25 years in a Chinese jail in Xinjiang                                                                                                                                                                                                 1
First strike of Amazon workers in Italy -Consumers asked not to buy from online retailer all day                                                                                                                                                                                                                 1
Nepal becomes first country in Asia Pacific to vaccinate refugees against COVID-19                                                                                                                                                                                                                               1
Trump campaign chief Manafort’s associate Kilimnik gave Russia 2016 election strategy, polling, U.S. says                                                                                                                                                                                                        1
Twin suicide bombings rock central Baghdad, at least 28 dead                                                                                                                                                                                                                                                     1
Name: top5, Length: 118, dtype: int64

In [97]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select  * from wb_comments order by date")
z = pd.read_sql_query(sql,connection)
print(z.shape)
z.date.value_counts()

(103283, 5)

2021-05-30    27276
2021-05-26    18546
2021-05-27    17800
2021-05-29    16661
2021-05-25    13670
2021-05-24     9330
Name: date, dtype: int64