In [1]:
import sqlite3
import pandas as pd

In [2]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

## List all the tables

In [3]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

def tables_in_sqlite_db(conn):
    cursor = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = [
        v[0] for v in cursor.fetchall()
        if v[0] != "sqlite_sequence"
    ]
    cursor.close()
    return tables

tables = tables_in_sqlite_db(connection)
for i in tables:
    print(i)

top30
a20210407a
a20210408a
a20210409a
ER20210410a
ER20210411a
ER20210412a
ER20210413a
ER20210414a
ER20210415
ER20210416
ER20210417
ER20210418
ER20210419
ER20210420
ER20210421
ER20210422
ER20210423
ER20210424
ER20210425
ER20210426
ER20202021
ER20210427
ER20210428
ER20210429
ER20210430
ER20210501
ER20210502
ER20210503
ER20210504
ER20210505
ER20210506
ER20210507
DJI
SP500
ER20210508
ER20210509
ER20210510
ER20210511
ER20210512
ER20210513
reddit_old
main
ER20210514
ER20210515
ER20210516
SP500_companies
ER20210517
ER20210518
prices
ER20210519
ER20210520
ER20210521
ER20210522
ER20210523
ER20210524
wb_comments
wb_sentiment
ER20210525
ER20210526
ER20210527
ER20210528
ER20210530
ER20210529
ER20210531
ER20210601
ER20210602
ER20210603
ER20210604
ER20210605
ER20210606
ER20210607
ER20210608

In [2]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from prices order by date desc")
df = pd.read_sql_query(sql,connection)
df

,date,open,high,low,close,adj_close,volume,symbol
0,2021-06-04 00:00:00,124.07,126.16,123.85,125.89,125.89,"75,087,300",AAPL
1,2021-06-04 00:00:00,247.76,251.65,247.51,250.79,250.79,"25,275,000",MSFT
2,2021-06-04 00:00:00,325.90,332.46,325.18,330.35,330.35,"13,282,200",FB
3,2021-06-04 00:00:00,166.21,166.67,165.03,166.44,166.44,"8,510,400",JPM
4,2021-06-04 00:00:00,167.01,167.57,165.87,165.97,165.97,"6,510,300",JNJ
...,...,...,...,...,...,...,...,...
58230,2020-12-21 00:00:00,110.71,113.78,108.73,112.54,112.54,"3,809,700",WYNN
58231,2020-12-21 00:00:00,146.80,148.06,141.70,145.28,145.28,"1,799,300",XLNX
58232,2020-12-21 00:00:00,366.00,376.73,363.00,375.91,375.91,"505,600",ZBRA
58233,2020-12-21 00:00:00,"30,159.00","30,304.14","29,755.53","30,216.45","30,216.45","437,480,000",^DJI
58234,2020-12-21 00:00:00,"3,684.28","3,702.90","3,636.48","3,694.92","3,694.92","4,732,160,000",^GSPC

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from SP500_companies ")
df = pd.read_sql_query(sql,connection)
df

In [ ]:
df[df.Symbol == "CLR"]

In [ ]:
df[193:]

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = (''' select * from prices 
--where date == "2021-05-19 00:00:00"
''')
price = pd.read_sql_query(sql,connection)
print(price.shape)
price.tail()

price

In [ ]:
price[price.open == "Stock Split"]

In [ ]:
price[price.open == "Dividend"]

In [7]:
## Duplicates

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ('''select symbol, date, XX as count, AM 
from (Select symbol, date, COUNT(symbol) OVER(PARTITION BY symbol, date) as XX ,ROW_NUMBER() OVER(PARTITION BY symbol, date) as AM from prices) where XX > 1''')
df = pd.read_sql_query(sql,connection)
print(df.shape)
df.head()

(1220, 4)

  symbol                 date  count  AM
0      A  2021-06-04 00:00:00      2   1
1      A  2021-06-04 00:00:00      2   2
2    AAL  2021-06-04 00:00:00      2   1
3    AAL  2021-06-04 00:00:00      2   2
4    AAP  2021-06-04 00:00:00      2   1

In [5]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select symbol, date from prices order by date desc")
df = pd.read_sql_query(sql,connection)
df

      symbol                 date
0       AAPL  2021-06-04 00:00:00
1       MSFT  2021-06-04 00:00:00
2         FB  2021-06-04 00:00:00
3        JPM  2021-06-04 00:00:00
4        JNJ  2021-06-04 00:00:00
...      ...                  ...
58230   WYNN  2020-12-21 00:00:00
58231   XLNX  2020-12-21 00:00:00
58232   ZBRA  2020-12-21 00:00:00
58233   ^DJI  2020-12-21 00:00:00
58234  ^GSPC  2020-12-21 00:00:00

[58235 rows x 2 columns]

In [6]:
for date in df.date.unique():

    connection = sqlite3.connect('MSC.db')
    cursor = connection.cursor()
    sql = (f"Select symbol from SP500_companies where symbol not in (select symbol from prices where date = '{date}') and symbol not in ('FLIR', 'BF.B', 'BRK.B')")
    miss = pd.read_sql_query(sql,connection)
    listys = []
    if len(list(miss.Symbol))>0 and date >'2021-01-01 00:00:00' :
        print(date)
        print(list(miss.Symbol))

In [3]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

sql = (f'''
Select symbol from SP500_companies 
where symbol not in (select distinct symbol from prices where date == "2021-05-25 00:00:00")
and  symbol not in ('BRK.B', 'BF.B', 'FLIR')'''
    )
df = pd.read_sql_query(sql,connection)
df

Empty DataFrame
Columns: [Symbol]
Index: []

In [128]:
## Delete

connection = sqlite3.connect('MSC.db') 
cursor = connection.cursor() 
sql = ("delete from wb_comments where date = '2021-05-25'") 
cursor.execute(sql) 
connection.commit()

In [8]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from wb_sentiment order by date desc")
df = pd.read_sql_query(sql,connection)
df

,date,symbol,neg,neu,pos,compound,comment
0,2021-06-08,BIIB,0.101,0.899,0.0,-0.4215,"100% into CLOV. After CLOV, PRVB. Look them up..."
1,2021-06-08,BIIB,0.0,0.876,0.124,0.5673,big ticker to keep an eye on for fat movement!...
2,2021-06-08,BIIB,0.0,1.0,0.0,0.0,Any thoughts about BIIB ?
3,2021-06-08,BIIB,0.15,0.743,0.106,-0.0644,Got fucked out of a 6 bagger on a BIIB call to...
4,2021-06-08,BIIB,0.282,0.602,0.117,-0.6597,BIIB puts. Approval was priced in and drug h...
...,...,...,...,...,...,...,...
4184,2021-05-24,TGT,0.157,0.721,0.122,-0.1613,WMT TGT LOW HD - will retail still do ok for t...
4185,2021-05-24,LOW,0.157,0.721,0.122,-0.1613,WMT TGT LOW HD - will retail still do ok for t...
4186,2021-05-24,NFLX,0.239,0.621,0.14,-0.9034,u/JakTravis_u_SOB\n\nWhere does everyone think...
4187,2021-05-24,VFC,0.0,0.222,0.778,0.8885,"Free money, VFC calls on Monday."
4188,2021-05-24,PENN,0.0,0.751,0.249,0.5106,"Well, on Monday I will be the owner of 200 sha..."

In [7]:
df.date.value_counts()

2021-05-30    27276
2021-06-03    24008
2021-06-04    21784
2021-05-26    18546
2021-05-27    17800
2021-05-29    16661
2021-05-31    14977
2021-06-08    14798
2021-05-25    13670
2021-06-05    13473
2021-06-02    12162
2021-05-24     9330
2021-06-07     3309
2021-06-01     2442
2021-06-06      634
Name: date, dtype: int64

In [193]:
cols = ['neg', 'neu', 'pos', 'compound']
df[cols] = df[cols].apply(pd.to_numeric, downcast='float', errors='coerce')

In [194]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      1253 non-null   object
 1   symbol    1253 non-null   object
 2   neg       1253 non-null   float32
 3   neu       1253 non-null   float32
 4   pos       1253 non-null   float32
 5   compound  1253 non-null   float32
 6   comment   1253 non-null   object
dtypes: float32(4), object(3)
memory usage: 49.1+ KB

In [201]:
import numpy as np
#df.groupby(['symbol', 'date'])['compound'].agg(['count',np.mean, np.median, min, max, np.std]).unstack(1)

df.groupby(['symbol', 'date'])['neg','compound'].agg(['count',np.mean, np.median, min, max, np.std])

/Users/Edite/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  after removing the cwd from sys.path.

                    neg                                           compound  \
                  count      mean  median    min    max       std    count
symbol date
AAL    2021-05-24     1  0.030000  0.0300  0.030  0.030       NaN        1
       2021-05-25     2  0.053000  0.0530  0.030  0.076  0.032527        2
       2021-05-26     5  0.030600  0.0000  0.000  0.077  0.041902        5
AAPL   2021-05-24    11  0.046091  0.0000  0.000  0.284  0.103449       11
       2021-05-25    26  0.091269  0.0000  0.000  0.403  0.125886       26
...                 ...       ...     ...    ...    ...       ...      ...
WELL   2021-05-25     1  0.000000  0.0000  0.000  0.000       NaN        1
       2021-05-26     2  0.027500  0.0275  0.000  0.055  0.038891        2
WMT    2021-05-24     1  0.157000  0.1570  0.157  0.157       NaN        1
XOM    2021-05-24     1  0.180000  0.1800  0.180  0.180       NaN        1
       2021-05-26     4  0.248750  0.2605  0.000  0.474  0.233646        4


                      mean   median     min     max       std
symbol date
AAL    2021-05-24  0.86760  0.86760  0.8676  0.8676       NaN
       2021-05-25  0.71975  0.71975  0.5719  0.8676  0.209091
       2021-05-26  0.44520  0.57190  0.0000  0.8316  0.419559
AAPL   2021-05-24  0.17100  0.00000 -0.5445  0.8555  0.388782
       2021-05-25  0.15320  0.24465 -0.8038  0.8271  0.415601
...                    ...      ...     ...     ...       ...
WELL   2021-05-25  0.75790  0.75790  0.7579  0.7579       NaN
       2021-05-26  0.62655  0.62655  0.2732  0.9799  0.499712
WMT    2021-05-24 -0.16130 -0.16130 -0.1613 -0.1613       NaN
XOM    2021-05-24 -0.51060 -0.51060 -0.5106 -0.5106       NaN
       2021-05-26  0.13090  0.11920 -0.5574  0.8426  0.731859

[165 rows x 12 columns]

## DF to SQL 

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
df_distinct.to_sql('prices', connection, index = False)
connection.commit()
connection.close()

In [ ]:
## ADD NEW COMERS

import pandas as pd
import requests
from datetime import datetime
import datetime
import sqlite3
import praw
from bs4 import BeautifulSoup
import re
import locale
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')


columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'
i = 'BRK-B'

r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
data = r.text
soup = BeautifulSoup(data, features="lxml")

for j in range (0, len(soup.find_all('td'))):
    try:
        if (type(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)) == pd._libs.tslibs.timestamps.Timestamp) == True and isinstance(locale.atof(soup.find_all('td')[j+1].text), (int, float, complex)) == True:
            answer = []
            answer.append(str(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)))
            answer = answer + [i.span.text for i in soup.find_all('td')[j+1: j+7]] + [i]
            print(answer)
            connection = sqlite3.connect('MSC.db')
            cursor = connection.cursor()
            sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
            eval(sql2)
            connection.commit()
            connection.close()
        else: pass
    except:pass

In [46]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from prices where symbol = '^VIX' order by date desc")
z = pd.read_sql_query(sql,connection)
z

                    date   open   high    low  close adj_close volume symbol
0    2021-05-25 00:00:00  18.35  18.97  16.87  18.87     18.87      0   ^VIX
1    2021-05-24 00:00:00  20.50  20.51  18.38  18.40     18.40      0   ^VIX
2    2021-05-21 00:00:00  20.42  20.89  19.53  20.15     20.15      0   ^VIX
3    2021-05-20 00:00:00  22.33  23.50  20.19  20.67     20.67      0   ^VIX
4    2021-05-19 00:00:00  22.46  25.96  21.88  22.18     22.18      0   ^VIX
..                   ...    ...    ...    ...    ...       ...    ...    ...
97   2021-01-05 00:00:00  26.94  28.60  24.80  25.34     25.34      0   ^VIX
98   2021-01-04 00:00:00  23.04  29.19  22.56  26.97     26.97      0   ^VIX
99   2020-12-31 00:00:00  22.99  23.25  21.24  22.75     22.75      0   ^VIX
100  2020-12-30 00:00:00  22.58  23.15  22.41  22.77     22.77      0   ^VIX
101  2020-12-29 00:00:00  21.61  23.72  20.99  23.08     23.08      0   ^VIX

[102 rows x 8 columns]

In [47]:
## ^VIX

import pandas as pd
import requests
from datetime import datetime
import datetime
import sqlite3
import praw
from bs4 import BeautifulSoup
import re
import locale
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')


columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'
i = '^VIX'

r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
data = r.text
soup = BeautifulSoup(data, features="lxml")

for j in range (0, len(soup.find_all('td'))):
    try:
        if (type(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)) == pd._libs.tslibs.timestamps.Timestamp) == True and isinstance(locale.atof(soup.find_all('td')[j+1].text), (int, float, complex)) == True and pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True) > pd.to_datetime(z.date[z.symbol == i].iloc[0]):
            answer = []
            answer.append(str(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)))
            answer = answer + [i.span.text for i in soup.find_all('td')[j+1: j+6]]+['0'] + [i]
            print(answer)
            connection = sqlite3.connect('MSC.db')
            cursor = connection.cursor()
            sql2 = f'cursor.execute("insert INTO  prices ({columnnames}) VALUES ({insertintotable})", {answer})'
            eval(sql2)
            connection.commit()
            connection.close()
        else: pass
    except:pass

['2021-05-28 00:00:00', '16.80', '16.86', '15.90', '16.76', '16.76', '0', '^VIX']
['2021-05-27 00:00:00', '18.03', '18.17', '16.52', '16.74', '16.74', '0', '^VIX']
['2021-05-26 00:00:00', '18.37', '18.92', '17.35', '17.36', '17.36', '0', '^VIX']

## Drop table

#https://www.sqlite.org/datatype3.html
cursor.executescript("DROP TABLE IF EXISTS prices")

In [ ]:
connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('Select date(moment) as date, * from ER20202021')
z =pd.read_sql_query(sql,connection)
z.shape

## Alter

connection = sqlite3.connect("MSC.db")
cursor = connection.cursor()

sql = ('ALTER TABLE top30 RENAME COLUMN date TO Date')
pd.read_sql_query(sql,connection)

In [ ]:
## Add new rows

columnnames = "'Company', 'Symbol', 'Weight'"
insertintotable = '?,?,?'
answer = ['CBOE Volatility Index','^VIX', '0']

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql2 = f'cursor.execute("insert INTO  SP500_companies ({columnnames}) VALUES ({insertintotable})", {answer})'
eval(sql2)
connection.commit()
connection.close()

In [ ]:
#Transfer to main folder
import shutil
newPath = shutil.copy('MSC.db', '/Users/Edite')

In [35]:
#Create strings for SQL injection
createtable, columnnames, insertintotable = "", "", ""

kolonas = ['date',"symbol",'neg', 'neu', 'pos', 'compound', "comment"]
z = len(kolonas)
for k in kolonas:
    if z > 1:
        createtable+= str(k + " TEXT,")
        columnnames += str(f"'{k}', ")
        insertintotable += str("?,")        
    else:
        createtable+= str(k + " TEXT")
        columnnames += str(k)
        insertintotable += str("?")
    z+= -1
    
#Drop and create the todays table
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
a = f"cursor.executescript('DROP TABLE IF EXISTS wb_sentiment')"
b = f"cursor.execute('CREATE TABLE wb_sentiment ({createtable} )')"
eval(a)
eval(b)

In [16]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select distinct * from wb_comments order by date desc")
df = pd.read_sql_query(sql,connection)
df

,date,thread,upvote_ratio,likes,comment
0,2021-06-05,Weekend Discussion Thread for the Weekend of J...,0.92,5,my bro lost $75k on BB calls today and iâ€™m so ...
1,2021-06-05,Weekend Discussion Thread for the Weekend of J...,0.92,3,Puts on my hangover. Stupid alcohol processing...
2,2021-06-05,Weekend Discussion Thread for the Weekend of J...,0.92,3,Tesla bears r so fuk. So many chances to take ...
3,2021-06-05,Weekend Discussion Thread for the Weekend of J...,0.92,5,Fuck you HFs! I know you're reading this. Sukm...
4,2021-06-05,Weekend Discussion Thread for the Weekend of J...,0.92,4,AMC naked shorts trending #6 on twitter after ...
...,...,...,...,...,...
147209,2021-05-24,Weekend Discussion Thread for the Weekend of M...,0.84,5,Damn watch tmmrw test flight get cancelled
147210,2021-05-24,Weekend Discussion Thread for the Weekend of M...,0.84,4,BEARS R FUK
147211,2021-05-24,Weekend Discussion Thread for the Weekend of M...,0.84,7,Sometimes I sell my red positions and buy back...
147212,2021-05-24,Weekend Discussion Thread for the Weekend of M...,0.84,6,eat a dick
147213,2021-05-24,Weekend Discussion Thread for the Weekend of M...,0.84,23,I have no idea what I'm doing

In [82]:
df.date.value_counts()

2021-05-30    27276
2021-05-26    18546
2021-05-27    17800
2021-05-25    13670
2021-05-24     9330
Name: date, dtype: int64

connection = sqlite3.connect('MSC.db') 
cursor = connection.cursor() 
sql = ("delete from main where date == '2021-05-19'") 
cursor.execute(sql) 
connection.commit()

In [125]:
df.describe()

,date,top1,top2,top3,top4,top5,top6,top7,top8,top9,...,top21,top22,top23,top24,top25,top26,top27,top28,top29,top30
count,143,143,143,143,143,143,143,143,143,143,...,143,143,143,143,143,143,143,143,143,143
unique,143,117,118,118,118,118,118,118,118,118,...,118,118,118,118,118,118,118,118,118,118
top,2021-01-13,'Price gouging from Covid': student ebooks cos...,â€˜The perfect targetâ€™: Russia cultivated Trump ...,Two gay men plead for mercy as they are caned ...,Revealed: Massive Chinese Police Database - Mi...,"NYC protesters slam Robinhood, scream at Wall ...",The GameStop phenomenon has gone global - The ...,Two lesbians attacked while counter-protesting...,Royal Documentary Banned By The Queen 50 Years...,Shock and anger at EU's move to invoke Brexit ...,...,French far-right leader Marine Le Pen Friday p...,Top German court rules war crimes committed ab...,Canada considering drug decriminalization to f...,"Northern Ireland First Minister, Arlene Foster...",Brexit: EU introduces controls on vaccines to NI,Catholic school sex education resource says me...,"Taliban Says US â€˜Bombarding Civilians, Housesâ€™...",Backlash against Robinhood after GameStop trad...,6.3M travellers entered Canada and didnâ€™t have...,Russia has been cultivating Trump as an asset ...
freq,1,19,19,19,19,19,19,19,19,19,...,19,19,19,19,19,19,19,19,19,19

In [126]:
df.top5.value_counts()

NYC protesters slam Robinhood, scream at Wall Street traders amid GameStop stock chaos                                                                                                                                                                                                                          19
Indian government opposes same-sex marriage in High Court, says same-sex marriage not comparable with â€˜Indian family unit conceptâ€™                                                                                                                                                                               4
SolarWinds hack was 'largest and most sophisticated attack' ever: Microsoft president                                                                                                                                                                                                                            4
12 Japanese firms will end business deals involving Uighur forced labor                                                                                                                                                                                                                                          2
Saskatchewan First Nation erects blockade after company enters territory without consent | Birch Narrows Dene Nation blockaded a road & issued a cease-and-desist order against a Toronto company after workers with Baselode Energy Corp started surveying the band's traditional territory without consent     1
                                                                                                                                                                                                                                                                                                                ..
Uyghur Australian woman breaks her silence as her husband is sentenced to 25 years in a Chinese jail in Xinjiang                                                                                                                                                                                                 1
First strike of Amazon workers in Italy -Consumers asked not to buy from online retailer all day                                                                                                                                                                                                                 1
Nepal becomes first country in Asia Pacific to vaccinate refugees against COVID-19                                                                                                                                                                                                                               1
Trump campaign chief Manafortâ€™s associate Kilimnik gave Russia 2016 election strategy, polling, U.S. says                                                                                                                                                                                                        1
Twin suicide bombings rock central Baghdad, at least 28 dead                                                                                                                                                                                                                                                     1
Name: top5, Length: 118, dtype: int64

In [17]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select  * from wb_comments order by date")
z = pd.read_sql_query(sql,connection)
print(z.shape)
z.date.value_counts()

(192129, 5)

2021-05-30    27276
2021-06-03    24008
2021-06-04    21784
2021-05-26    18546
2021-05-27    17800
2021-05-29    16661
2021-05-31    14977
2021-05-25    13670
2021-06-05    13473
2021-06-02    12162
2021-05-24     9330
2021-06-01     2442
Name: date, dtype: int64

In [18]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select  distinct * from wb_comments order by date")
z = pd.read_sql_query(sql,connection)
print(z.shape)
z.date.value_counts()

(147214, 5)

2021-06-03    23783
2021-06-04    21628
2021-05-29    16428
2021-05-31    14729
2021-05-30    13415
2021-06-05    13350
2021-06-02    12095
2021-05-26     9193
2021-05-27     8789
2021-05-25     6763
2021-05-24     4607
2021-06-01     2434
Name: date, dtype: int64

In [19]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select  * from wb_sentiment order by date")
z = pd.read_sql_query(sql,connection)
print(z.shape)
z.date.value_counts()

(3779, 7)

2021-05-25    535
2021-05-26    485
2021-06-02    425
2021-06-04    396
2021-05-27    365
2021-05-31    317
2021-06-03    302
2021-06-05    287
2021-05-30    282
2021-05-24    233
2021-06-01    152
Name: date, dtype: int64

In [10]:
import datetime

#for symbol in df
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

def last_work_day():
    for i in range(1,7):
        if (datetime.date.today()-datetime.timedelta(days=i)).weekday()< 5:
            m = (datetime.date.today()-datetime.timedelta(days=i))
            break
    
    return m.strftime('%Y-%m-%d %H:%M:%S')
datums = last_work_day()

sql = (f'''
Select symbol from SP500_companies 
where symbol not in (select distinct symbol from prices where date == "{datums}")
and  symbol not in ('BRK.B', 'BF.B', 'FLIR')''')
df = pd.read_sql_query(sql,connection)

connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
sql = ("Select * from prices order by date desc")
z = pd.read_sql_query(sql,connection)
connection.commit()
connection.close()

import locale
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')

columnnames = "'date', 'open', 'high', 'low', 'close', 'adj_close','volume', 'symbol'"
insertintotable = '?,?,?,?,?,?,?,?'

In [11]:
import requests
from bs4 import BeautifulSoup
for i in df.Symbol[:1]:
    r = requests.get(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    print(f'https://finance.yahoo.com/quote/{i}/history?p={i}')
    data = r.text
    soup = BeautifulSoup(data, features="lxml")
    
    print(datums)
     
    for j in range (0, len(soup.find_all('td'))):
    #if the last working day in the db, do nothing
        if pd.to_datetime(datums) == pd.to_datetime(z.date[z.symbol == i].iloc[0]):
            break
        else:
            try:
                #if 1st field is a date, 2nd is a number and yahoodate > last date in db
                if (type(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)) == pd._libs.tslibs.timestamps.Timestamp) == True \
                and isinstance(locale.atof(soup.find_all('td')[j+1].text), (int, float, complex)) == True \
                and pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True) == pd.to_datetime(z.date[z.symbol == i].iloc[0]):
                    answer = []
                    answer.append(str(pd.to_datetime(soup.find_all('td')[j].text,infer_datetime_format=True)))
                    answer = answer + [i.span.text for i in soup.find_all('td')[j+1: j+7]] + [i]
                    print(answer)
                    
                    break
                else: pass
            except:pass                      
print('Price injection done')

https://finance.yahoo.com/quote/AAPL/history?p=AAPL
2021-06-07 00:00:00
['2021-06-04 00:00:00', '124.07', '126.16', '123.85', '125.89', '125.89', '75,169,300', 'AAPL']
Price injection done

In [2]:
def last_work_day():
    for i in range(1,7):
        if (datetime.date.today()-datetime.timedelta(days=i)).weekday()< 5:
            m = (datetime.date.today()-datetime.timedelta(days=i))
            break
    
    return m.strftime('%Y-%m-%d %H:%M:%S')
datums = last_work_day()

In [3]:
datums

'2021-06-07 00:00:00'

In [8]:
import sqlite3
import pandas as pd