In [1]:
import requests
from datetime import datetime
import datetime
import pandas as pd
import sqlite3
import praw

from credentials import credentials

client_id, client_secret,password, user_agent, username = credentials

reddit = praw.Reddit(
    client_id=client_id,
    client_secret=client_secret,
    password=password,
    user_agent=user_agent,
    username=username,
)

print(reddit.user.me())

JustAnotherCogg

In [24]:
top_posts = reddit.subreddit('worldnews').top(time_filter='day',limit=30)

#Get all unique columns
kolonas = ['moment', 'daily_rank']   
for post in top_posts:
     for m in vars(post):
            if m not in kolonas:
                kolonas.append(m)
                
sodiena = str("a"+datetime.date.today().strftime('%Y%m%d')+"a")

createtable = ""
columnnames = ""
insertintotable = ""

#Create strings for SQL injection
z = len(kolonas)
for k in kolonas:
    if z > 1:
        createtable+= str(k + " TEXT,")
        columnnames += str(f"'{k}', ")
        insertintotable += str("?,")
        
    else:
        createtable+= str(k + " TEXT")
        columnnames += str(k)
        insertintotable += str("?")
    z+= -1
    
#Drop and create the todays table
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
a = f"cursor.executescript('DROP TABLE IF EXISTS {sodiena}')"
b = f"cursor.execute('''CREATE TABLE {sodiena} ({createtable} )''')"


eval(a)
eval(b)
    
#Not sure how this is useful if there is data in the table    
#connection = sqlite3.connect('MSC.db')
#cursor = connection.cursor()
#sql = (f"Select * from {sodiena}")
#z = pd.read_sql_query(sql,connection)

#An actual webscraping
top_posts = reddit.subreddit('worldnews').top(time_filter='day',limit=30)
i = 1
for post in top_posts:    
    atbilde =[]
    atbilde.append(str(datetime.datetime.now()))
    atbilde.append(str(i))
    for j in kolonas[2:]:
        try:
            atbilde.append(str(eval("post."+j)))
        except:
            atbilde.append("")
    
    connection = sqlite3.connect('MSC.db')
    cursor = connection.cursor()
    sql2 = f'cursor.execute("insert INTO  {sodiena} ({columnnames}) VALUES ({insertintotable})", {atbilde})'
       
    connection.commit()
    connection.close()
    
    i +=1
    
print("done")

OperationalError: database is locked

In [ ]:
eval(sql2)

In [ ]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

sql = (f"Select * from {sodiena}")
z = pd.read_sql_query(sql,connection)
z