In [5]:
import requests
from datetime import datetime
import datetime
import pandas as pd
import sqlite3
import praw

from credentials import credentials

client_id, client_secret,password, user_agent, username = credentials

reddit = praw.Reddit(
    client_id=client_id,
    client_secret=client_secret,
    password=password,
    user_agent=user_agent,
    username=username,
)

print(reddit.user.me())

JustAnotherCogg

In [12]:
top_posts = reddit.subreddit('worldnews').top(time_filter='day',limit=30)

#Get all unique columns
kolonas = ['moment', 'daily_rank']   
for post in top_posts:
     for m in vars(post):
            if m not in kolonas:
                kolonas.append(m)
                
sodiena = str("ER"+datetime.date.today().strftime('%Y%m%d')+"a")

createtable = ""
columnnames = ""
insertintotable = ""

#Create strings for SQL injection
z = len(kolonas)
for k in kolonas:
    if z > 1:
        createtable+= str(k + " TEXT,")
        columnnames += str(f"'{k}', ")
        insertintotable += str("?,")
        
    else:
        createtable+= str(k + " TEXT")
        columnnames += str(k)
        insertintotable += str("?")
    z+= -1
    
#Drop and create the todays table
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()
a = f"cursor.executescript('DROP TABLE IF EXISTS {sodiena}')"
b = f"cursor.execute('''CREATE TABLE {sodiena} ({createtable} )''')"

eval(a)
eval(b)
    
#An actual webscraping
top_posts = reddit.subreddit('worldnews').top(time_filter='day',limit=30)
i = 1
for post in top_posts:    
    atbilde =[]
    atbilde.append(str(datetime.datetime.now()))
    atbilde.append(str(i))
    for j in kolonas[2:]:
        try:
            atbilde.append(str(eval("post."+j)))
        except:
            atbilde.append("")
    
    connection = sqlite3.connect('MSC.db')
    cursor = connection.cursor()
    sql2 = f'cursor.execute("insert INTO  {sodiena} ({columnnames}) VALUES ({insertintotable})", {atbilde})'
    eval(sql2)
    connection.commit()
    connection.close()
    
    i +=1
    
print("done")

done

In [13]:
connection = sqlite3.connect('MSC.db')
cursor = connection.cursor()

sql = (f"Select * from {sodiena}")
z = pd.read_sql_query(sql,connection)

In [14]:
z.title

0     Egypt seizes the Ever Given, saying its owners...
1     Brazil Supreme Court sides with Indigenous peo...
2     Biden will withdraw all U.S. forces from Afgha...
3     The world’s wealthy must radically change thei...
4     Russia warns U.S. warships to steer clear of C...
5     NATO, not Russia, will decide if Ukraine joins...
6     Nato tells Russia to stop military buildup aro...
7     Russia calls U.S. an adversary, warns its wars...
8     The number of one-horned rhinos in Nepal's wil...
9     New Zealand government set to announce the end...
10    Philippine patrols reveal 11 China warships, 2...
11    New Zealand bill would require banks to disclo...
12    Taiwan launches shipbuilding program amid Chin...
13    Biden Sends Unofficial Delegation to Taiwan in...
14    Pfizer has hiked the cost of future orders of ...
15    Airborne plastic pollution ‘spiralling around ...
16    Kremlin critic Navalny vows to sue Russian pri...
17    Fury in Armenia as Azerbaijan displays war tro...
18    B.C. man jailed again for refusing to remove r...
19    ‘World’s biggest rabbit’ stolen from home in W...
20    Top Kremlin Mouthpiece Warns of ‘Inevitable’ W...
21    India's farming community averaging 28 suicide...
22    Israel May Have Destroyed Iranian Centrifuges ...
23    Jailed Kremlin critic Alexei Navalny's wife, Y...
24    Korea condemns Japan’s decision to release wat...
25    Russia says U.S. warships should steer clear o...
26    Alexei Navalny's Wife Extremely Worried as Hun...
27    EU rebuffs Montenegro plea to help repay $1B C...
28    Greek journalist shot and killed in profession...
29    U.S. to base additional troops in Germany in r...
Name: title, dtype: object